force-app/main/default/flows/Contract_Add_Remove_Change_Products_SubFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_End_Date_to_item_from_loop</name>
        <label>Add End Date to item from loop</label>
        <locationX>1018</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>EditedOrderProductVarAdd.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EndDateVarInput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Quantity_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Entry_Date_to_item_from_loop</name>
        <label>Add Entry Date to item from loop</label>
        <locationX>1018</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>EditedOrderProductVarAdd.ServiceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EntryDateVarInput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_End_Date_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Price_to_item_from_loop</name>
        <label>Add Price to item from loop</label>
        <locationX>1018</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>EditedOrderProductVarAdd.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UnitPriceVarInput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Entry_Date_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_quantity_to_item_from_loop</name>
        <label>Add quantity to item from loop</label>
        <locationX>1018</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>EditedOrderProductVarAdd.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuantityVarInput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>1150</locationX>
        <locationY>1874</locationY>
        <assignmentItems>
            <assignToReference>OrderProductCollectionAdd</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EditedOrderProductVarAdd</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EditedOrderProductVarAdd</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClearOrderProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Products_and_update_vars</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Add_Fault_Message</name>
        <label>Assign Add Fault Message</label>
        <locationX>1986</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>SubFlowResultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddFaultMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StartTimeMessageRemove</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Add_Success_Message</name>
        <label>Assign Add Success Message</label>
        <locationX>1722</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>SubFlowResultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Product Added Successfully!</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StartTimeMessageRemove</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Delete_Fault_Message</name>
        <label>Assign Delete Fault Message</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>SubFlowResultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DeleteFaultMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StartTimeMessageRemove</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Delete_Success_Message</name>
        <label>Assign Delete Success Message</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>SubFlowResultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Product Deleted Successfully!</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StartTimeMessageRemove</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Edit_Fault_Message</name>
        <label>Assign Edit Fault Message</label>
        <locationX>1194</locationX>
        <locationY>2282</locationY>
        <assignmentItems>
            <assignToReference>SubFlowResultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EditFaultMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StartTimeMessageEdit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_New_edited_Order_Products</name>
        <label>Assign New edited Order Products</label>
        <locationX>1150</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>EditedOrderProductVarAdd</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Products_and_update_vars</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EditedOrderProductVarAdd.Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EditedOrderProductVarAdd.Change_Action_Effective_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EditedOrderProductVarAdd.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EditedOrderProductVarAdd.Order_Product_Origin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Changed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Price_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Update_Success_Message</name>
        <label>Assign Update Success Message</label>
        <locationX>930</locationX>
        <locationY>2282</locationY>
        <assignmentItems>
            <assignToReference>SubFlowResultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Products Updated Successfully!</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StartTimeMessageEdit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Action_Type</name>
        <label>Action Type</label>
        <locationX>1150</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Edit Order Products</defaultConnectorLabel>
        <rules>
            <name>Delete_Order_Products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionTypeVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_removed_Products_Values</targetReference>
            </connector>
            <label>Delete Order Products</label>
        </rules>
        <rules>
            <name>Edit_Order_Products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionTypeVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Edit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_edited_Products_Values</targetReference>
            </connector>
            <label>Edit Order Products</label>
        </rules>
        <rules>
            <name>Add_Order_Products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionTypeVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Order_Product</targetReference>
            </connector>
            <label>Add Order Products</label>
        </rules>
    </decisions>
    <decisions>
        <name>Add_End_Date_Check</name>
        <label>Add End Date Check</label>
        <locationX>1150</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>Add_Quantity_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_End_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EndDateVarInput</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Products_and_update_vars.Access_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Monthly</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_End_Date_to_item_from_loop</targetReference>
            </connector>
            <label>Add End Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Add_Entry_Date_Check</name>
        <label>Add Entry Date Check</label>
        <locationX>1150</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Add_End_Date_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_Entry_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EntryDateVarInput</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Entry_Date_to_item_from_loop</targetReference>
            </connector>
            <label>Add Entry Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Add_Price_Check</name>
        <label>Add Price Check</label>
        <locationX>1150</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Add_Entry_Date_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_Price_To_Products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UnitPriceVarInput</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Price_to_item_from_loop</targetReference>
            </connector>
            <label>Add Price To Products</label>
        </rules>
    </decisions>
    <decisions>
        <name>Add_Quantity_Check</name>
        <label>Add Quantity Check</label>
        <locationX>1150</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>Add_to_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_Quantity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuantityVarInput</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_quantity_to_item_from_loop</targetReference>
            </connector>
            <label>Add Quantity</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AddFaultMessage</name>
        <dataType>String</dataType>
        <expression>&apos;There was an issue Adding the product - Please contact your Admin. &apos; + 
{!$Flow.FaultMessage}</expression>
    </formulas>
    <formulas>
        <name>DeleteFaultMessage</name>
        <dataType>String</dataType>
        <expression>&apos;There was an issue deleting the products - Please contact your Admin. &apos; + 
{!$Flow.FaultMessage}</expression>
    </formulas>
    <formulas>
        <name>EditFaultMessage</name>
        <dataType>String</dataType>
        <expression>&apos;There was an issue updating the products - Please contact your Admin.  &apos; + 
{!$Flow.FaultMessage}</expression>
    </formulas>
    <interviewLabel>Contract - Add Remove Change Products - SubFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract - Add Remove Change Products - SubFlow</label>
    <loops>
        <name>Loop_Products_and_update_vars</name>
        <label>Loop Products and update vars</label>
        <locationX>930</locationX>
        <locationY>458</locationY>
        <collectionReference>OrderProductCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_New_edited_Order_Products</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_Edited_Order_Product</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Edited_Order_Product</name>
        <label>Create New Edited Order Product</label>
        <locationX>930</locationX>
        <locationY>2066</locationY>
        <connector>
            <targetReference>Update_Edited_Order_Products</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Edit_Fault_Message</targetReference>
        </faultConnector>
        <inputReference>OrderProductCollectionAdd</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Order_Product</name>
        <label>Create New Order Product</label>
        <locationX>1722</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Assign_Add_Success_Message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Add_Fault_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Access_Type__c</field>
            <value>
                <elementReference>AccessTypeVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Change_Action_Effective_End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>ContractIdVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>NotesVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>EndDateVarInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>PriceBookEntryVar.Product2.Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderId</field>
            <value>
                <elementReference>OrderIdVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Product_Origin__c</field>
            <value>
                <stringValue>Added</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>PriceBookEntryVar.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>PriceBookEntryVar.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Sub_Type_Name__c</field>
            <value>
                <elementReference>Get_Product.Sub_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type_Name__c</field>
            <value>
                <elementReference>Get_Product.Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>PriceBookEntryVar.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>QuantityVarInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceDate</field>
            <value>
                <elementReference>EntryDateVarInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>UnitPriceVarInput</elementReference>
            </value>
        </inputAssignments>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Product</name>
        <label>Get Product</label>
        <locationX>1150</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Action_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PriceBookEntryVar.Product2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Edited_Order_Products</name>
        <label>Update Edited Order Products</label>
        <locationX>930</locationX>
        <locationY>2174</locationY>
        <connector>
            <targetReference>Assign_Update_Success_Message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Edit_Fault_Message</targetReference>
        </faultConnector>
        <inputReference>Update_edited_Products_Values</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Removed_Records</name>
        <label>Update Removed Records</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Assign_Delete_Success_Message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Delete_Fault_Message</targetReference>
        </faultConnector>
        <inputReference>Update_removed_Products_Values</inputReference>
    </recordUpdates>
    <start>
        <locationX>1024</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Product</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Update_edited_Products_Values</name>
        <label>Update edited Products Values</label>
        <locationX>930</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Loop_Products_and_update_vars</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>OrderItem</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Id</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>OrderProductCollection[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>UnitPrice</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Approval_Status__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>Activated</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Change_Action_Effective_End_Date__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>Date</formulaDataType>
                    <formulaExpression>TODAY()</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Change_Action_Type__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>Cahnged</stringValue>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Update_removed_Products_Values</name>
        <label>Update removed Products Values</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Update_Removed_Records</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>OrderItem</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Id</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>OrderProductCollection[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>UnitPrice</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Approval_Status__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>Activated</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Change_Action_Effective_End_Date__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>Date</formulaDataType>
                    <formulaExpression>TODAY()</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Change_Action_Type__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>Removed</stringValue>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>AccessTypeVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ActionTypeVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClearOrderProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>ContractIdVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ControllMessageVisibility</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EditedOrderProductVarAdd</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>EndDateVarInput</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EntryDateVarInput</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NotesVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderIdVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderProductCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>OrderProductCollectionAdd</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>OrderProductVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>PriceBookEntryVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>QuantityVarInput</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>StartTimeMessageEdit</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StartTimeMessageRemove</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SubFlowResultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UnitPriceVarInput</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
