force-app/main/default/flows/Contract_Before_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Contract_Owner_Assignment</name>
        <label>Assign Contract Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetContractOwner</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Should_Update_Contract_Owner</name>
        <label>Should Update Contract Owner?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_Contract_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Location__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Location__r.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Owner_Assignment</targetReference>
            </connector>
            <label>Yes, Update Contract Owner</label>
        </rules>
    </decisions>
    <description>10/09: Changes related to Location</description>
    <environments>Default</environments>
    <formulas>
        <name>GetContractOwner</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Opportunity__r.Location__r.OwnerId}), {!$Record.Opportunity__r.OwnerId}, {!$Record.Opportunity__r.Location__r.OwnerId})</expression>
    </formulas>
    <formulas>
        <name>LocationSiteManagerName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Location__r.Site_Manager__r.FirstName}+&apos; &apos;+{!$Record.Location__r.Site_Manager__r.LastName}</expression>
    </formulas>
    <interviewLabel>Contract Before Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract Before Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Should_Update_Contract_Owner</targetReference>
        </connector>
        <object>Contract</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
