force-app/main/default/flows/Contract_Renewal_Manual_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Redirect_Open_Opportunity</name>
        <label>Redirect To Open Opportunity</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <actionName>c:fsc_openUrl</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>replace</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>OpenOpportunityLink</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:fsc_openUrl</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Ids_to_text</name>
        <label>Add Ids to text</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>VarOrderProductId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_order_line_items_and_add_Ids.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_order_line_items_and_add_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_records_and_add_to_collection</name>
        <label>Assign records and add to collection</label>
        <locationX>754</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>VarOrderLine.Access_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_and_add_products.Access_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOrderLine.Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOrderLine.AvailableQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_and_add_products.AvailableQuantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOrderLine.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Renewal_Contract</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOrderLine.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_and_add_products.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOrderLine.End_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_and_add_products.End_Date_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOrderLine.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormulaContractEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOrderLine.ListPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_and_add_products.PricebookEntry.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOrderLine.Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_and_add_products.Location__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOrderLine.Number_of_desks__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_and_add_products.Number_of_desks__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOrderLine.Order_Product_Origin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Original</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOrderLine.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Original_Order</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOrderLine.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_and_add_products.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOrderLine.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_and_add_products.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOrderLine.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_and_add_products.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOrderLine.ServiceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculatedStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOrderLine.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculatedPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOrderLine.Include_In_Deposit_Calculations__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_and_add_products.Include_In_Deposit_Calculations__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOrderLine.Renewal_Price_Adjustment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_and_add_products.Renewal_Price_Adjustment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOrderLine.Renewal_Price_Adjustment_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_and_add_products.Renewal_Price_Adjustment_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOrderLine.CloneSourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_and_add_products.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOrderLine.Product_Type_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_and_add_products.Product_Type_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOrderLine.Product_Sub_Type_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_and_add_products.Product_Sub_Type_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOrderLineCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarOrderLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_and_add_products</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Exsiting_Open_Opportunity</name>
        <label>Has Exsiting Open Opportunity?</label>
        <locationX>270</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>RenewalScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exsiting_Open_Opportunity_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Original_Contract__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Original_Contract__r.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Original_Contract__r.Opportunity__r.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Redirect_To_Open_Opportunity</targetReference>
            </connector>
            <label>Exsiting Open Opportunity Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Overlapping_Dates</name>
        <label>Overlapping Dates</label>
        <locationX>490</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Create_Renewal_Contract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Overlapping_order_Line_Items</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Table</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <description>24/07: Added open opportunity check and re-direct</description>
    <environments>Default</environments>
    <formulas>
        <name>AdvanceIteration</name>
        <dataType>Number</dataType>
        <expression>IF( AND ({!recordId.Auto_Renewal__c}, TEXT({!recordId.Current_Renewal_Iteration__c}) != TEXT({!recordId.Renewal_Total_Iterations__c})),  {!recordId.Current_Renewal_Iteration__c} +1,0 )</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>CalculatedPrice</name>
        <dataType>Currency</dataType>
        <expression>{!Loop_and_add_products.ListPrice} * 
IF(
    {!recordId.Current_Renewal_Iteration__c}= 0, 
    1 + (BLANKVALUE({!Loop_and_add_products.Renewal_Price_Adjustment__c}, 0) / 100), 
    1 + (BLANKVALUE({!Loop_and_add_products.Renewal_Price_Adjustment_2__c}, 0) / 100)
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>CalculatedQuantity</name>
        <dataType>Number</dataType>
        <expression>{!FormulaRenewalPeriod} * ({!Loop_and_add_products.Quantity}/ {!Loop_and_add_products.Period_In_Months__c} )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CalculatedStartDate</name>
        <dataType>Date</dataType>
        <expression>{!recordId.EndDate}+1</expression>
    </formulas>
    <formulas>
        <name>DecisionAutoRenewal</name>
        <dataType>Boolean</dataType>
        <expression>AND (TEXT({!recordId.Current_Renewal_Iteration__c}) != TEXT({!recordId.Renewal_Total_Iterations__c})  )</expression>
    </formulas>
    <formulas>
        <name>EmailRenewalIssueHeader</name>
        <dataType>String</dataType>
        <expression>&quot;Rooms - Issue Auto-renewing contract &quot; &amp; {!recordId.ContractNumber}</expression>
    </formulas>
    <formulas>
        <name>FormulaContractEndDate</name>
        <dataType>Date</dataType>
        <expression>IF(
 OR(   {!recordId.Current_Renewal_Iteration__c} = 0, ISNULL({!recordId.Second_Renewal_Period_Months__c} )) ,
    DATE(
        YEAR({!recordId.EndDate}) + FLOOR((MONTH({!recordId.EndDate}) + {!recordId.Renewal_Period_Months__c} - 1) / 12),
        MOD(MONTH({!recordId.EndDate}) + {!recordId.Renewal_Period_Months__c} - 1, 12) + 1,
        CASE(
            MOD(MONTH({!recordId.EndDate}) + {!recordId.Renewal_Period_Months__c} - 1, 12) + 1,
            1, 31, /* January */
            2, IF(
                MOD(YEAR({!recordId.EndDate}) + FLOOR((MONTH({!recordId.EndDate}) + {!recordId.Renewal_Period_Months__c} - 1) / 12), 4) = 0,
                29,
                28
            ), /* February (leap year check) */
            3, 31, /* March */
            4, 30, /* April */
            5, 31, /* May */
            6, 30, /* June */
            7, 31, /* July */
            8, 31, /* August */
            9, 30, /* September */
            10, 31, /* October */
            11, 30, /* November */
            12, 31, /* December */
            31 /* Default case */
        )
    ),
   DATE(
        YEAR({!recordId.EndDate}) + FLOOR((MONTH({!recordId.EndDate}) + {!recordId.Second_Renewal_Period_Months__c} - 1) / 12),
        MOD(MONTH({!recordId.EndDate}) + {!recordId.Second_Renewal_Period_Months__c} - 1, 12) + 1,
        CASE(
            MOD(MONTH({!recordId.EndDate}) + {!recordId.Second_Renewal_Period_Months__c} - 1, 12) + 1,
            1, 31, /* January */
            2, IF(
                MOD(YEAR({!recordId.EndDate}) + FLOOR((MONTH({!recordId.EndDate}) + {!recordId.Second_Renewal_Period_Months__c} - 1) / 12), 4) = 0,
                29,
                28
            ), /* February (leap year check) */
            3, 31, /* March */
            4, 30, /* April */
            5, 31, /* May */
            6, 30, /* June */
            7, 31, /* July */
            8, 31, /* August */
            9, 30, /* September */
            10, 31, /* October */
            11, 30, /* November */
            12, 31, /* December */
            31 /* Default case */
        )
    )
)</expression>
    </formulas>
    <formulas>
        <name>FormulaRenewalIterations</name>
        <dataType>String</dataType>
        <expression>IF(
    TEXT({!recordId.Current_Renewal_Iteration__c}) != TEXT({!recordId.Renewal_Total_Iterations__c}),
    TEXT({!recordId.Renewal_Total_Iterations__c}),
    &quot;0&quot;  
)</expression>
    </formulas>
    <formulas>
        <name>FormulaRenewalPeriod</name>
        <dataType>Number</dataType>
        <expression>IF( AND ({!recordId.Auto_Renewal__c}, TEXT({!recordId.Current_Renewal_Iteration__c}) != TEXT({!recordId.Renewal_Total_Iterations__c})),  {!recordId.Renewal_Period_Months__c},0 )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>OpenOpportunityLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))+&apos;/&apos;+{!recordId.Original_Contract__r.Opportunity__c}</expression>
    </formulas>
    <interviewLabel>Contract - Renewal Manual Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract - Renewal Manual Creation</label>
    <loops>
        <name>Loop_and_add_products</name>
        <label>Loop and add products</label>
        <locationX>666</locationX>
        <locationY>1190</locationY>
        <collectionReference>Get_Original_Order_line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_records_and_add_to_collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Original_Order_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_order_line_items_and_add_Ids</name>
        <label>Loop order line items and add Ids</label>
        <locationX>490</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_Original_Order_line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Ids_to_text</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Overlapping_order_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Original_Order</name>
        <label>Create Original Order</label>
        <locationX>666</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Loop_and_add_products</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractId</field>
            <value>
                <elementReference>Create_Renewal_Contract</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>CalculatedStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>recordId.Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Origin__c</field>
            <value>
                <stringValue>Original Order</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>recordId.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>recordId.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Original_Order_Line_Items</name>
        <label>Create Original Order Line Items</label>
        <locationX>666</locationX>
        <locationY>1490</locationY>
        <connector>
            <targetReference>Change_Renewal_Contract_Status</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputReference>VarOrderLineCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Renewal_Contract</name>
        <label>Create Renewal Contract</label>
        <locationX>666</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Create_Original_Order</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agreement_Type__c</field>
            <value>
                <elementReference>recordId.Agreement_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Renewal__c</field>
            <value>
                <elementReference>DecisionAutoRenewal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CompanySignedDate</field>
            <value>
                <elementReference>recordId.CompanySignedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CompanySignedId</field>
            <value>
                <elementReference>recordId.CompanySignedId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractTerm</field>
            <value>
                <elementReference>recordId.ContractTerm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Renewal_Iteration__c</field>
            <value>
                <elementReference>AdvanceIteration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerSignedDate</field>
            <value>
                <elementReference>recordId.CustomerSignedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerSignedId</field>
            <value>
                <elementReference>recordId.CustomerSignedId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerSignedTitle</field>
            <value>
                <elementReference>recordId.CustomerSignedTitle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Depusit_Amount_DM__c</field>
            <value>
                <elementReference>recordId.Depusit_Amount_DM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>recordId.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>FormulaContractEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lease_Termination_Notice_Months__c</field>
            <value>
                <elementReference>recordId.Lease_Termination_Notice_Months__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>recordId.Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_desks__c</field>
            <value>
                <elementReference>recordId.Number_of_desks__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_members__c</field>
            <value>
                <elementReference>recordId.Number_of_members__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_potential_members__c</field>
            <value>
                <elementReference>recordId.Number_of_potential_members__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>recordId.Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin__c</field>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Contract__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerExpirationNotice</field>
            <value>
                <stringValue>60</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>recordId.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>recordId.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prints_B_W__c</field>
            <value>
                <elementReference>recordId.Prints_B_W__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prints_Color__c</field>
            <value>
                <elementReference>recordId.Prints_Color__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Kickoff_Months__c</field>
            <value>
                <elementReference>recordId.Renewal_Kickoff_Months__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Period_Months__c</field>
            <value>
                <elementReference>recordId.Renewal_Period_Months__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Status__c</field>
            <value>
                <stringValue>Not Due</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Total_Iterations__c</field>
            <value>
                <elementReference>FormulaRenewalIterations</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Restoration_Fee__c</field>
            <value>
                <elementReference>recordId.Restoration_Fee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Second_Renewal_Period_Months__c</field>
            <value>
                <elementReference>recordId.Second_Renewal_Period_Months__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Set_Up_Fee__c</field>
            <value>
                <elementReference>recordId.Set_Up_Fee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SpecialTerms</field>
            <value>
                <elementReference>recordId.SpecialTerms</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>CalculatedStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Track_CPI_Date__c</field>
            <value>
                <elementReference>recordId.Track_CPI_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Track_CPI__c</field>
            <value>
                <elementReference>recordId.Track_CPI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Original_Order_line_Items</name>
        <label>Get Original Order line Items</label>
        <locationX>490</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_order_line_items_and_add_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Access_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Periodic</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Temporary__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Overlapping_order_Line_Items</name>
        <label>Get Overlapping order Line Items</label>
        <locationX>490</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Overlapping_Dates</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND(  (3 AND 4) OR (5 AND 6) OR ( 7 AND 8) ) AND 9 AND 10</filterLogic>
        <filters>
            <field>PricebookEntryId</field>
            <operator>In</operator>
            <value>
                <elementReference>VarOrderProductId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contract__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>FormulaContractEndDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>recordId.EndDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>recordId.EndDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>FormulaContractEndDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>recordId.EndDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>FormulaContractEndDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contract_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard Products</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Change_Renewal_Contract_Status</name>
        <label>Change Renewal Contract Status</label>
        <locationX>666</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Update_Original_Contract_Renewal_Status</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Renewal_Contract</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Original_Contract_Renewal_Status</name>
        <label>Update Original Contract Renewal Status</label>
        <locationX>666</locationX>
        <locationY>1706</locationY>
        <connector>
            <targetReference>Renewal_Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Renewal_Status__c</field>
            <value>
                <stringValue>Renewed - pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewed_Contract__c</field>
            <value>
                <elementReference>Create_Renewal_Contract</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <screens>
        <name>Availability_Issue_Screen</name>
        <label>Availability Issue</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Availability_Issue_Screen_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!EmailTemplate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>1986</locationX>
        <locationY>1082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Errormessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Oops!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;There was an issue processing the contract renewal and the process failed.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Please contact your admin.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Redirect_To_Open_Opportunity</name>
        <label>Redirect To Open Opportunity</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Redirect_Open_Opportunity</targetReference>
        </connector>
        <fields>
            <name>RedirectScreenMessage</name>
            <fieldText>&lt;p class=&quot;ql-indent-2&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;An open opportunity already exist for this contract.&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please click open to view the opportunity.&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Open</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Renewal_Success_Screen</name>
        <label>Renewal Success Screen</label>
        <locationX>666</locationX>
        <locationY>1814</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>RenewalSuccessScreenMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;The contract renewal process has been completed!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Please click &quot;Finish&quot; to close this screen&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RenewalScreen</name>
        <label>Contract Manual Renewal</label>
        <locationX>490</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Original_Order_line_Items</targetReference>
        </connector>
        <fields>
            <name>RenewalScreenMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;This action will bypass the renewal  scheduled automation and will initiate the renewal Contract creation now- Please click the button to continue&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Initiate Manual Renewal</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>144</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Exsiting_Open_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Generate_Table</name>
        <label>Generate Table</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Availability_Issue_Screen</targetReference>
        </connector>
        <flowName>Generate_Record_Table</flowName>
        <inputAssignments>
            <name>OrderLineItemCollection</name>
            <value>
                <elementReference>Get_Overlapping_order_Line_Items</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>EmailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Contract &lt;a href=&quot;https://rooms.lightning.force.com/lightning/r/Contract/{!recordId.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!recordId.ContractNumber}&lt;/a&gt;  Renewal automation was canceled to due unavailable products as listed in the table below&lt;/p&gt;&lt;p&gt;Please Manually renew the contract after product availability is sorted or create a new opportunity&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Table of unavailable products&lt;/p&gt;&lt;p&gt;{!Generate_Table.ProductsTableOutput}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>tetsdates</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarOrderLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>VarOrderLineCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>VarOrderProductId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
