force-app/main/default/flows/Contract_Add_Remove_Change_Products.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Reload_Page</name>
        <label>Reload Page</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>c:ReloadPage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:ReloadPage</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>AccessTypeMonthly</name>
        <choiceText>Monthly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Monthly</stringValue>
        </value>
    </choices>
    <choices>
        <name>AccessTypeOneTime</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;One-Time&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>One-Time</stringValue>
        </value>
    </choices>
    <choices>
        <name>AccessTypePeriodic</name>
        <choiceText>Periodic</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Periodic</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChooseAdd</name>
        <choiceText>Add Product</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChooseChange</name>
        <choiceText>Change Product</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChooseRemove</name>
        <choiceText>Remove Product</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Remove</stringValue>
        </value>
    </choices>
    <environments>Default</environments>
    <formulas>
        <name>AddDeleteRowSlected</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!CurrentProductsTable.firstSelectedRow.Id})</expression>
    </formulas>
    <formulas>
        <name>AddProductActionCheck</name>
        <dataType>Boolean</dataType>
        <expression>OR(
    ISBLANK({!Access_Type}),
    ISBLANK({!Quantity}),
    ISBLANK({!Entry_Date}),
  AND(ISBLANK({!End_Date}), {!Access_Type}= &apos;Periodic&apos;),
ISBLANK({!FilteredProductTable.firstSelectedRow.Id}) ,
ISBLANK({!Price})
)</expression>
    </formulas>
    <formulas>
        <name>DisplaySubFlowMessageLogic</name>
        <dataType>String</dataType>
        <expression>IF(
  ISBLANK({!RemoveProductsAction.Results.StartTimeMessageRemove}),
  {!UpdateProductsAction.Results.SubFlowResultMessage},
  
  IF(
    ISBLANK({!UpdateProductsAction.Results.StartTimeMessageEdit}),
    {!RemoveProductsAction.Results.SubFlowResultMessage},
    
    IF(
      {!RemoveProductsAction.Results.StartTimeMessageRemove} &gt; {!UpdateProductsAction.Results.StartTimeMessageEdit},
      {!RemoveProductsAction.Results.SubFlowResultMessage},
      {!UpdateProductsAction.Results.SubFlowResultMessage}
    )
  )
)</expression>
    </formulas>
    <formulas>
        <name>QueryContractSummary</name>
        <dataType>String</dataType>
        <expression>&quot;SELECT Id, Product_Name__c, ServiceDate, EndDate, Quantity, Contract__c, Access_Type__c, Approval_Status__c, Attendancy_Status__c, &quot; &amp;
&quot;Change_Action_Effective_End_Date__c, Change_Action_Type__c, Contract_Status__c, Description, End_Date_Time__c, ListPrice, Location__c, &quot; &amp;
&quot;Number_of_desks__c, Opportunity__c, Order_Product_Origin__c, OrderId, OrderItemNumber, PricebookEntryId, Product_Type__c, &quot; &amp;
&quot;Product2Id, Start_Date_Time__c, Status__c, Status_Order_Item__c, Temporary__c, TotalPrice, UnitPrice &quot; &amp;
&quot;FROM OrderItem &quot; &amp;
&quot;WHERE Product2.Sub_Type__c IN (&apos;IP/VLAN&apos;, &apos;Restoration Fee&apos;, &apos;Other- (all other fee)&apos;, &apos;Maintenance&apos;, &apos;Credits(Meeting rooms windows)&apos;) AND Contract__c = &apos;&quot; &amp; {!recordId.Id} &amp; &quot;&apos; AND Change_Action_Type__c != &apos;Removed&apos; &quot; &amp;
&quot;AND Change_Action_Type__c != &apos;Cahnged&apos; AND Approval_Status__c = &apos;Activated&apos;  AND  Product_Name__c !=  &apos;1+&quot; &amp; {!AddProductAction.Results.Flow__InterviewGuid}  &amp; {!UpdateProductsAction.Results.Flow__InterviewGuid}&amp; {!RemoveProductsAction.Results.Flow__InterviewGuid}&amp;
&quot;&apos;&quot;</expression>
    </formulas>
    <formulas>
        <name>QueryFiteredProductList</name>
        <dataType>String</dataType>
        <expression>&quot;SELECT Id, Name, Product2Id, Capacity_Desks__c, Size_m__c, UnitPrice, Floor__c, Window__c, Minimum_Price__c, Destination_Price__c , Last_Price__c &quot; &amp;
&quot;FROM PricebookEntry &quot; &amp;
&quot;WHERE Product2.Sub_Type__c IN (&apos;IP/VLAN&apos;, &apos;Restoration Fee&apos;, &apos;Other- (all other fee)&apos;, &apos;Maintenance&apos;, &apos;Credits(Meeting rooms windows)&apos;) &quot; &amp;
&quot;AND Product2.Location__c = &apos;&quot; &amp; {!recordId.Location__c} &amp; &quot;&apos;&quot;</expression>
    </formulas>
    <interviewLabel>Contract - Add Remove Change Products {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract - Add Remove Change Products</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Change_Order</name>
        <label>Get Change Order</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>One_Off_Fees_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContractId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Order_Origin__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Original Order</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>One_Off_Fees_Screen</name>
        <label>One-Off Fees</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actions>
            <name>UpdateProductsAction</name>
            <actionName>Contract_Add_Remove_Change_Products_SubFlow</actionName>
            <actionType>flow</actionType>
            <inputParameters>
                <name>ActionTypeVar</name>
                <value>
                    <stringValue>Edit</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ContractIdVar</name>
                <value>
                    <elementReference>recordId.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>EndDateVarInput</name>
                <value>
                    <elementReference>EditProductEndDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>EntryDateVarInput</name>
                <value>
                    <elementReference>EditProductEntryDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>OrderIdVar</name>
                <value>
                    <elementReference>Get_Change_Order.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>OrderProductCollection</name>
                <value>
                    <elementReference>CurrentProductsTable.selectedRows</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>QuantityVarInput</name>
                <value>
                    <elementReference>EditProductQuantity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>UnitPriceVarInput</name>
                <value>
                    <elementReference>EditProductUnitPrice</elementReference>
                </value>
            </inputParameters>
            <label>Contract - Add Remove Change Products - SubFlow</label>
            <nameSegment>Contract_Add_Remove_Change_Products_SubFlow</nameSegment>
        </actions>
        <actions>
            <name>RemoveProductsAction</name>
            <actionName>Contract_Add_Remove_Change_Products_SubFlow</actionName>
            <actionType>flow</actionType>
            <inputParameters>
                <name>ActionTypeVar</name>
                <value>
                    <stringValue>Delete</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>OrderProductCollection</name>
                <value>
                    <elementReference>CurrentProductsTable.selectedRows</elementReference>
                </value>
            </inputParameters>
            <label>Contract - Add Remove Change Products - SubFlow</label>
            <nameSegment>Contract_Add_Remove_Change_Products_SubFlow</nameSegment>
        </actions>
        <actions>
            <name>AddProductAction</name>
            <actionName>Contract_Add_Remove_Change_Products_SubFlow</actionName>
            <actionType>flow</actionType>
            <inputParameters>
                <name>AccessTypeVar</name>
                <value>
                    <elementReference>Access_Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionTypeVar</name>
                <value>
                    <stringValue>Add</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ContractIdVar</name>
                <value>
                    <elementReference>recordId.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>EndDateVarInput</name>
                <value>
                    <elementReference>End_Date</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>EntryDateVarInput</name>
                <value>
                    <elementReference>Entry_Date</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>NotesVar</name>
                <value>
                    <elementReference>Notes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>OrderIdVar</name>
                <value>
                    <elementReference>Get_Change_Order.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>PriceBookEntryVar</name>
                <value>
                    <elementReference>FilteredProductTable.firstSelectedRow</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>QuantityVarInput</name>
                <value>
                    <elementReference>Quantity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>UnitPriceVarInput</name>
                <value>
                    <elementReference>Price</elementReference>
                </value>
            </inputParameters>
            <label>Contract - Add Remove Change Products - SubFlow</label>
            <nameSegment>Contract_Add_Remove_Change_Products_SubFlow</nameSegment>
        </actions>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reload_Page</targetReference>
        </connector>
        <fields>
            <name>AddProductsDsipaly</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Add New Products &lt;/strong&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;🏢&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FetchFilteredProducts</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>PricebookEntry</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>S</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>joshdaymentlabs:dataFetcher</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName1</name>
                <value>
                    <stringValue>PricebookEntry</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queryString</name>
                <value>
                    <elementReference>QueryFiteredProductList</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>One_Off_Fees_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>One_Off_Fees_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Access_Type</name>
                    <choiceReferences>AccessTypePeriodic</choiceReferences>
                    <choiceReferences>AccessTypeMonthly</choiceReferences>
                    <choiceReferences>AccessTypeOneTime</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Access Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Quantity</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>1.0</numberValue>
                    </defaultValue>
                    <fieldText>Quantity</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>One_Off_Fees_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Entry_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>recordId.StartDate</elementReference>
                    </defaultValue>
                    <fieldText>Entry Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>End_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>recordId.Calculated_End_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;🚫&amp;nbsp;Value must fall within the contract&apos;s defined period.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>AND({!End_Date}&gt; {!recordId.StartDate}, {!End_Date}&lt;= {!recordId.EndDate})</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Access_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Periodic</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>One_Off_Fees_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Price</name>
                    <dataType>Currency</dataType>
                    <fieldText>Price</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>false</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Notes</name>
                    <fieldText>Notes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>One_Off_Fees_Screen_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AddProduct</name>
                    <extensionName>flowruntime:actionButtonField</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Add Product</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isSuccess</name>
                        <value>
                            <elementReference>AddProductAction.IsSuccess</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inProgress</name>
                        <value>
                            <elementReference>AddProductAction.InProgress</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>errorMessage</name>
                        <value>
                            <elementReference>AddProductAction.ErrorMessage</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <elementReference>AddProductActionCheck</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>middle</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>DisplaySubFlowMessageAddProduct</name>
                    <fieldText>&lt;p&gt;&amp;nbsp;{!AddProductAction.Results.SubFlowResultMessage}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>AddProductAction.InProgress</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>One_Off_Fees_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>One_Off_Fees_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FilteredProductTable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>PricebookEntry</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-2917&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Product Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;UnitPrice&quot;,&quot;guid&quot;:&quot;column-0df6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;List Price&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Capacity_Desks__c&quot;,&quot;guid&quot;:&quot;column-40fb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Capacity (Desks)&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Add Products </stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>FetchFilteredProducts.retrievedRecords</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>EditRemoveProductsDsipaly</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;Modify Products &lt;/strong&gt;&lt;span style=&quot;font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;🏢&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FetchCurrentProducts</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OrderItem</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>S</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>joshdaymentlabs:dataFetcher</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName1</name>
                <value>
                    <stringValue>OrderItem</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queryString</name>
                <value>
                    <elementReference>QueryContractSummary</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Modify_Or_Remove_Products</name>
            <fieldText>Modify Or Remove Products</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Modify_Or_Remove_Products_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EditProductUnitPrice</name>
                    <dataType>Currency</dataType>
                    <fieldText>Unit Price</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Modify_Or_Remove_Products_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EditProductEntryDate</name>
                    <dataType>Date</dataType>
                    <fieldText>Entry Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>RemoveProduct</name>
                    <extensionName>flowruntime:actionButtonField</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Remove Products</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isSuccess</name>
                        <value>
                            <elementReference>RemoveProductsAction.IsSuccess</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inProgress</name>
                        <value>
                            <elementReference>RemoveProductsAction.InProgress</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>errorMessage</name>
                        <value>
                            <elementReference>RemoveProductsAction.ErrorMessage</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <elementReference>AddDeleteRowSlected</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Modify_Or_Remove_Products_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EditProductEndDate</name>
                    <dataType>Date</dataType>
                    <fieldText>End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>EditProducts</name>
                    <extensionName>flowruntime:actionButtonField</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Update Products</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isSuccess</name>
                        <value>
                            <elementReference>UpdateProductsAction.IsSuccess</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inProgress</name>
                        <value>
                            <elementReference>UpdateProductsAction.InProgress</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>errorMessage</name>
                        <value>
                            <elementReference>UpdateProductsAction.ErrorMessage</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <elementReference>AddDeleteRowSlected</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Modify_Or_Remove_Products_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EditProductQuantity</name>
                    <dataType>Number</dataType>
                    <fieldText>Quantity</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>DisplaySubFlowMessageEditProduct</name>
                    <fieldText>&lt;p&gt;{!DisplaySubFlowMessageLogic}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>CurrentProductsTable.firstSelectedRow.Id</leftValueReference>
                            <operator>EqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CurrentProductsTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OrderItem</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Current Products </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>FetchCurrentProducts.retrievedRecords</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Product_Name__c&quot;,&quot;guid&quot;:&quot;column-bd2f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Product Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;TotalPrice&quot;,&quot;guid&quot;:&quot;column-6142&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Total Price&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;ServiceDate&quot;,&quot;guid&quot;:&quot;column-ccf2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Entry Date&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Start Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;EndDate&quot;,&quot;guid&quot;:&quot;column-9635&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;End Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;UnitPrice&quot;,&quot;guid&quot;:&quot;column-ba67&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Unit Price&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Quantity&quot;,&quot;guid&quot;:&quot;column-f770&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Quantity&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Access_Type__c&quot;,&quot;guid&quot;:&quot;column-70a1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Access Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;&quot;,&quot;guid&quot;:&quot;column-5960&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close And Refresh Page</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <triggers>
            <eventName>flow__screenfieldclick</eventName>
            <eventSource>AddProduct</eventSource>
            <handlers>
                <screenActionName>AddProductAction</screenActionName>
            </handlers>
        </triggers>
        <triggers>
            <eventName>flow__screenfieldclick</eventName>
            <eventSource>RemoveProduct</eventSource>
            <handlers>
                <screenActionName>RemoveProductsAction</screenActionName>
            </handlers>
        </triggers>
        <triggers>
            <eventName>flow__screenfieldclick</eventName>
            <eventSource>EditProducts</eventSource>
            <handlers>
                <screenActionName>UpdateProductsAction</screenActionName>
            </handlers>
        </triggers>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Change_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>mk</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrtderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>VarOrderProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
</Flow>
