force-app/main/default/flows/Contract_Renewal_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>refresh</name>
        <label>refresh</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <actionName>c:refreshPageData</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:refreshPageData</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>ChanegWithNewContract</name>
        <choiceText>Change with new signed contract</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Contract</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChanegWithOldContract</name>
        <choiceText>Change with the current contract</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Old Contract</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Change_opportunity_Relevancy</name>
        <label>Change opportunity Relevancy</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>RenewalScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lets renew some contracts</defaultConnectorLabel>
        <rules>
            <name>Change_ongoing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_change_opp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>StopScreen</targetReference>
            </connector>
            <label>Change ongoing</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CalcualtedEndDate</name>
        <dataType>Date</dataType>
        <expression>DATE(
    YEAR({!recordId.EndDate}) + FLOOR((MONTH({!recordId.EndDate}) + ((YEAR({!recordId.EndDate}) - YEAR({!recordId.StartDate})) * 12 + (MONTH({!recordId.EndDate}) - MONTH({!recordId.StartDate})) + 1)) / 12),
    MOD((MONTH({!recordId.EndDate}) + ((YEAR({!recordId.EndDate}) - YEAR({!recordId.StartDate})) * 12 + (MONTH({!recordId.EndDate}) - MONTH({!recordId.StartDate})) + 1)) - 1, 12) + 1,
    CASE(
        MOD((MONTH({!recordId.EndDate}) + ((YEAR({!recordId.EndDate}) - YEAR({!recordId.StartDate})) * 12 + (MONTH({!recordId.EndDate}) - MONTH({!recordId.StartDate})) + 1)) - 1, 12) + 1,
        1, 31,
        2, IF(
            MOD(
                YEAR({!recordId.EndDate}) + FLOOR((MONTH({!recordId.EndDate}) + ((YEAR({!recordId.EndDate}) - YEAR({!recordId.StartDate})) * 12 + (MONTH({!recordId.EndDate}) - MONTH({!recordId.StartDate})) + 1)) / 12), 4) = 0 &amp;&amp;
                (MOD(
                    YEAR({!recordId.EndDate}) + FLOOR((MONTH({!recordId.EndDate}) + ((YEAR({!recordId.EndDate}) - YEAR({!recordId.StartDate})) * 12 + (MONTH({!recordId.EndDate}) - MONTH({!recordId.StartDate})) + 1)) / 12), 100) &lt;&gt; 0 ||
                 MOD(
                    YEAR({!recordId.EndDate}) + FLOOR((MONTH({!recordId.EndDate}) + ((YEAR({!recordId.EndDate}) - YEAR({!recordId.StartDate})) * 12 + (MONTH({!recordId.EndDate}) - MONTH({!recordId.StartDate})) + 1)) / 12), 400) = 0),
            29, 28
        ),
        3, 31,
        4, 30,
        5, 31,
        6, 30,
        7, 31,
        8, 31,
        9, 30,
        10,31,
        11,30,
        12,31,
        31
    )
)</expression>
    </formulas>
    <formulas>
        <name>FormulaContractEndDate</name>
        <dataType>Date</dataType>
        <expression>
    DATE(
        YEAR({!recordId.EndDate}) + FLOOR((MONTH({!recordId.EndDate}) + {!recordId.Renewal_Period_Months__c} - 1) / 12),
        MOD(MONTH({!recordId.EndDate}) + {!recordId.Renewal_Period_Months__c} - 1, 12) + 1,
        CASE(
            MOD(MONTH({!recordId.EndDate}) + {!recordId.Renewal_Period_Months__c} - 1, 12) + 1,
            1, 31, /* January */
            2, IF(
                MOD(YEAR({!recordId.EndDate}) + FLOOR((MONTH({!recordId.EndDate}) + {!recordId.Renewal_Period_Months__c} - 1) / 12), 4) = 0,
                29,
                28
            ), /* February (leap year check) */
            3, 31, /* March */
            4, 30, /* April */
            5, 31, /* May */
            6, 30, /* June */
            7, 31, /* July */
            8, 31, /* August */
            9, 30, /* September */
            10, 31, /* October */
            11, 30, /* November */
            12, 31, /* December */
            31 /* Default case */
        )
    )</expression>
    </formulas>
    <formulas>
        <name>FormulaRenewalPeriod</name>
        <dataType>Number</dataType>
        <expression>IF( AND ({!recordId.Auto_Renewal__c}, TEXT({!recordId.Current_Renewal_Iteration__c}) != TEXT({!recordId.Renewal_Total_Iterations__c})),  {!recordId.Renewal_Period_Months__c},0 )</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Contract - Renewal Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract - Renewal Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Opportunity_Products</name>
        <label>Create Opportunity Products</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Renewal_Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Opportunity_Product_Fault</targetReference>
        </faultConnector>
        <inputReference>Copy_original_order_product</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Renewal_opportunity</name>
        <label>Create Renewal opportunity</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Get_order_Products</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Opportunity_Product_Fault</targetReference>
        </faultConnector>
        <inputReference>Assign_values_for_new_opportunity</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_change_opp</name>
        <label>get change opp</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Change_opportunity_Relevancy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Original_Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Created_Change_opp</name>
        <label>Get Created Change opp</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_original_order_product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Assign_values_for_new_opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_order_Products</name>
        <label>Get order Products</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Created_Change_opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Create_Opportunity_Product_Fault</name>
        <label>Create Opportunity Product Fault</label>
        <locationX>578</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CreateOpportunityproductsfaultMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;Please Contact your Admin&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Renewal_Success_Screen</name>
        <label>Renewal Success Screen</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>refresh</targetReference>
        </connector>
        <fields>
            <name>SuccessScreenMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;The change opportunity process has been completed!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Please click &quot;Finish&quot; to close this screen or &lt;/strong&gt;&lt;a href=&quot;https://rooms.lightning.force.com/lightning/r/Opportunity/{!Get_Created_Change_opp.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 20px;&quot;&gt;&lt;strong&gt;here &lt;/strong&gt;&lt;/a&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;to navigate to the new opportunity &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RenewalScreen</name>
        <label>Change Opportunity Manual creation</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_values_for_new_opportunity</targetReference>
        </connector>
        <fields>
            <name>RenewalScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>RenewalScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RenewalScreenMessage</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;This action will create a renewal opportunity- to confirm please proceed&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Initiate Manual Renewal</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>StopScreen</name>
        <label>StopScreen</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>RenewalDoneMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Stop!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;An active change opportunity is in process for this contract- You cannot continue &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;https://rooms.lightning.force.com/lightning/r/Opportunity/{!get_change_opp.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://rooms.lightning.force.com/lightning/r/Opportunity/{!get_change_opp.Id}/view&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_change_opp</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Contract &lt;a href=&quot;https://rooms.lightning.force.com/lightning/r/Contract/{!recordId.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!recordId.ContractNumber}&lt;/a&gt;  Renewal automation was canceled to due unavailable products as listed in the table below&lt;/p&gt;&lt;p&gt;Please Manually renew the contract after product availability is sorted or create a new opportunity&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Table of unavailable products&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <transforms>
        <name>Assign_values_for_new_opportunity</name>
        <label>Assign values for new opportunity</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Create_Renewal_opportunity</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Opportunity</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>AccountId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>recordId.AccountId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Automatic_Renewal__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>recordId.Auto_Renewal__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Change_Opportunity_Type__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>New Contract</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>CloseDate</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>Date</formulaDataType>
                    <formulaExpression>TODAY()+14</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Contract_Type__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>recordId.Agreement_Type__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DepositAmount__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>recordId.Depusit_Amount_DM__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Description</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>recordId.Description</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Description__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>recordId.Description</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Location__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>recordId.Location__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Lease_Termination_Notice_Monthes__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>recordId.Lease_Termination_Notice_Months__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Number_of_desks__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>recordId.Number_of_desks__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Number_of_members__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>recordId.Number_of_members__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Number_of_potential_members__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>recordId.Number_of_potential_members__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Original_Contract__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>recordId.Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Prints_B_W__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>recordId.Prints_B_W__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Prints_Color__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>recordId.Prints_Color__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>RecordTypeId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>012J7000000066kIAA</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Renewal_Iterations__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>recordId.Renewal_Total_Iterations__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Renewal_Period_Months__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>recordId.Renewal_Period_Months__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Renewal_Start_Date__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>recordId.Renewal_Kickoff_Months__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Restoration_Fee__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>recordId.Restoration_Fee__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Set_Up_Fee__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>recordId.Set_Up_Fee__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Second_Renewal_Period_Months__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>recordId.Second_Renewal_Period_Months__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>StageName</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>Proposal</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Total_Deposit__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>recordId.Depusit_Amount_DM__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Track_CPI__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>recordId.Track_CPI__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Track_CPI_Date__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>recordId.Track_CPI_Date__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Type</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>Changes from opportunity</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>New</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Designated_Entry_Date__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>CalcualtedEndDate</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Credits_for_MR__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>recordId.Credits_for_MR__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>End_Date__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>CalcualtedEndDate</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>LeadSource</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>Existing Customer</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Start_Date__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>Date</formulaDataType>
                    <formulaExpression>{!recordId.EndDate}+1</formulaExpression>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Copy_original_order_product</name>
        <label>Copy original order product</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Create_Opportunity_Products</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>OpportunityLineItem</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Access_Type__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_order_Products[$EachItem].Access_Type__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Capicity_Desks__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_order_Products[$EachItem].Number_of_desks__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Description</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_order_Products[$EachItem].Description</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Desk_Count__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_order_Products[$EachItem].Number_of_desks__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>ListPrice</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_order_Products[$EachItem].ListPrice</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>OpportunityId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Created_Change_opp.Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Opportunity__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Created_Change_opp.Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>PricebookEntryId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_order_Products[$EachItem].PricebookEntryId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Product__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_order_Products[$EachItem].Product2Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Product_Type__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_order_Products[$EachItem].Product_Type__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Product2Id</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_order_Products[$EachItem].Product2Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Products_Type__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_order_Products[$EachItem].Product_Type__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Quantity</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_order_Products[$EachItem].Quantity</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Renewal_Price_Adjustment__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_order_Products[$EachItem].Renewal_Price_Adjustment__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Renewal_Price_Adjustment_2__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_order_Products[$EachItem].Renewal_Price_Adjustment_2__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Temporary__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_order_Products[$EachItem].Temporary__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>UnitPrice</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_order_Products[$EachItem].UnitPrice</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Account__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Created_Change_opp.AccountId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>End_Date_Time__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_order_Products[$EachItem].End_Date_Time__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Entry_Date_Time__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_order_Products[$EachItem].Start_Date_Time__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Include_In_Deposit_Calculations__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_order_Products[$EachItem].Include_In_Deposit_Calculations__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>End_date__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>CalcualtedEndDate</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Entry_Date__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>Date</formulaDataType>
                    <formulaExpression>{!recordId.EndDate}+1</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Original_Contract_Product__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_order_Products[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Product_Sub_Type__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_order_Products[$EachItem].Product_Sub_Type_Name__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>OppVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>StartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tetsdates</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarOpportnutyProductColection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>VarOppProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>VarOrderLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>VarOrderLineCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>VarOrderProductId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
