force-app/main/default/flows/Contract_Update_Series_attendance_action.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign_product_Id_s</name>
        <label>assign product Id&apos;s</label>
        <locationX>264</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>VarOrderProductCollectionId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Collect_product_Id_s.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_product_Id_s</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Contract- Update Series action {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract- Update Series attendance action</label>
    <loops>
        <name>Collect_product_Id_s</name>
        <label>Collect product Id&apos;s</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <collectionReference>VarOrderLineItemCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_product_Id_s</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Attendance</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Attendance</name>
        <label>Update Attendance</label>
        <locationX>176</locationX>
        <locationY>434</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>VarOrderProductCollectionId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Attendancy_Status__c</field>
            <value>
                <elementReference>VarAttendStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>OrderItem</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Collect_product_Id_s</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>VarAttendStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarOrderLineItemCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>VarOrderProductCollectionId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
