force-app/main/default/flows/Contract_Change_status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Calculated_End_Date_Check</name>
        <label>Calculated End Date Check</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Do Nothing And End Flow</defaultConnectorLabel>
        <rules>
            <name>Calculated_End_Date_Is_Passed_Due</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Calculated_End_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Contract_Status</targetReference>
            </connector>
            <label>Calculated End Date Is Passed Due</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Contract - Change status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract - Change status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Change_Contract_Status</name>
        <label>Change Contract Status</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>End_contract</name>
        <label>End contract</label>
        <locationX>490</locationX>
        <locationY>276</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Calculated_End_Date_Check</targetReference>
        </connector>
        <filterFormula>OR(
    AND(
        ISNEW(),
        NOT(ISNULL({!$Record.EndDate}))
    ),
    AND(
        ISCHANGED({!$Record.EndDate}),
        NOT(ISNULL({!$Record.EndDate}))
    ),
    AND(
        ISCHANGED({!$Record.Contract_Termination_Date__c}),
        NOT(ISNULL({!$Record.Contract_Termination_Date__c}))
    )
)</filterFormula>
        <object>Contract</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>wait_for_end_date</name>
            <connector>
                <targetReference>End_contract</targetReference>
            </connector>
            <label>wait for end date</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Calculated_End_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
