force-app/main/default/flows/Contract_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_autorenewal_issue_email</name>
        <label>Send autorenewal issue email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>reuvenle@working-rooms.com </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailRenewalIssueHeader</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>List of entry products id to be used on the next get element</description>
        <name>Add_Ids_to_text</name>
        <label>Add Ids to text</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>VarOrderProductId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_order_line_items_and_add_Ids.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_order_line_items_and_add_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign new product var and add to collection for creation</description>
        <name>Assign_records_and_add_to_collection</name>
        <label>Assign records and add to collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>VarOrderLine.Access_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_and_add_products.Access_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOrderLine.Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOrderLine.AvailableQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_and_add_products.AvailableQuantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOrderLine.CloneSourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_and_add_products.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOrderLine.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Renewal_Contract</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOrderLine.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_and_add_products.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOrderLine.ListPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_and_add_products.PricebookEntry.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOrderLine.Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_and_add_products.Location__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOrderLine.Number_of_desks__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_and_add_products.Number_of_desks__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOrderLine.Order_Product_Origin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Original</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOrderLine.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormulaContractEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOrderLine.ServiceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculatedStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOrderLine.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculatedPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOrderLine.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Original_Order</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOrderLine.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_and_add_products.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOrderLine.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_and_add_products.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOrderLine.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_and_add_products.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOrderLine.Include_In_Deposit_Calculations__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_and_add_products.Include_In_Deposit_Calculations__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOrderLine.Renewal_Price_Adjustment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_and_add_products.Renewal_Price_Adjustment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOrderLine.Renewal_Price_Adjustment_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_and_add_products.Renewal_Price_Adjustment_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOrderLine.Product_Sub_Type_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_and_add_products.Product_Sub_Type_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOrderLineCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarOrderLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_and_add_products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_Location_After_Contract_Termination</name>
        <label>Prepare Location Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varLocation.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Location__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLocation.Occupied_Desks__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalDeskCountAfterTermination</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_Update_Location</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_Location_After_Contract_Update</name>
        <label>Prepare Location Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varLocation.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Location__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLocation.Occupied_Desks__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalDeskCountAfterUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_Update_Location</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_Location_Update</name>
        <label>Prepare Location Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varLocation.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Location__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLocation.Occupied_Desks__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Occupied_Desks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_Update_Location</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Determine_Contract_Update_Path</name>
        <label>Determine Contract Update Path</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Should_Update_Location</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contract_Activated</name>
            <conditionLogic>( 1 AND 2 ) OR ( 2 AND 3 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prepare_Location_Update</targetReference>
            </connector>
            <label>Contract Activated</label>
        </rules>
        <rules>
            <name>Contract_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Calculated_Number_Of_Desks__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Calculated_Number_Of_Desks__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prepare_Location_After_Contract_Update</targetReference>
            </connector>
            <label>Contract Updated</label>
        </rules>
        <rules>
            <name>Contract_Terminated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prepare_Location_After_Contract_Termination</targetReference>
            </connector>
            <label>Contract Terminated</label>
        </rules>
    </decisions>
    <decisions>
        <description>If order products are not avavailable then should follow up with a message, else continue to contract creation</description>
        <name>Overlapping_Dates</name>
        <label>Overlapping Dates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Renewal_Contract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Overlapping_order_Line_Items</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Products_table</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Create_Opportunity_Auto_Renewal</name>
        <label>Should Create Opportunity Auto Renewal?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_create_opportunity_auto_renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractOpportunityAutoRenewalCondition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Original_Order_line_Items</targetReference>
            </connector>
            <label>Yes, create opportunity auto renewal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_End_Contract</name>
        <label>Should End Contract?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_End_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ShouldProcessContractTermination</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End_contract</targetReference>
            </connector>
            <label>Yes, End Contract</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Update_Location</name>
        <label>Should Update Location?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLocation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Location_Occupied_Desks</targetReference>
            </connector>
            <label>Update Location</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_order_products</name>
        <label>Should update monthly payments when adding termination date?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Determine_Contract_Update_Path</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_update_order_products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contract_Termination_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contract_Termination_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_order_product</targetReference>
            </connector>
            <label>Yes, update order products</label>
        </rules>
    </decisions>
    <description>27/10: Removed the Contract Termination Date changes and moved them to Contract Before Save.</description>
    <environments>Default</environments>
    <formulas>
        <name>AdvanceIteration</name>
        <dataType>Number</dataType>
        <expression>IF( AND ({!$Record.Auto_Renewal__c}, TEXT({!$Record.Current_Renewal_Iteration__c}) != TEXT({!$Record.Renewal_Total_Iterations__c})),  {!$Record.Current_Renewal_Iteration__c} +1,0 )</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>CalculatedPrice</name>
        <dataType>Currency</dataType>
        <expression>{!Loop_and_add_products.ListPrice} * 
IF(
    {!$Record.Current_Renewal_Iteration__c} = 0, 
    1 + (BLANKVALUE({!Loop_and_add_products.Renewal_Price_Adjustment__c}, 0) / 100), 
    1 + (BLANKVALUE({!Loop_and_add_products.Renewal_Price_Adjustment_2__c}, 0) / 100)
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CalculatedStartDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.EndDate}+1</expression>
    </formulas>
    <formulas>
        <name>ContractOpportunityAutoRenewalCondition</name>
        <dataType>Boolean</dataType>
        <expression>AND( {!$Record.Auto_Renewal__c}, ISPICKVAL( {!$Record.Renewal_Status__c}, &apos;Not Due&apos;), TEXT({!$Record.Current_Renewal_Iteration__c}) != TEXT({!$Record.Renewal_Total_Iterations__c}), ISPICKVAL( {!$Record.Status}, &apos;Activated&apos;))</expression>
    </formulas>
    <formulas>
        <name>DecisionAutoRenewal</name>
        <dataType>Boolean</dataType>
        <expression>AND (TEXT({!$Record.Current_Renewal_Iteration__c}) != TEXT({!$Record.Renewal_Total_Iterations__c})  )</expression>
    </formulas>
    <formulas>
        <name>EmailRenewalIssueHeader</name>
        <dataType>String</dataType>
        <expression>&quot;Rooms - Issue Auto-renewing contract &quot; &amp; {!$Record.ContractNumber}</expression>
    </formulas>
    <formulas>
        <name>FormulaContractEndDate</name>
        <dataType>Date</dataType>
        <expression>IF(
 OR(   {!$Record.Current_Renewal_Iteration__c} = 0, ISNULL({!$Record.Second_Renewal_Period_Months__c} )) ,
DATE(
        YEAR({!$Record.EndDate}) + FLOOR((MONTH({!$Record.EndDate}) + {!$Record.Renewal_Period_Months__c} - 1) / 12),
        MOD(MONTH({!$Record.EndDate}) + {!$Record.Renewal_Period_Months__c} - 1, 12) + 1,
        CASE(
            MOD(MONTH({!$Record.EndDate}) + {!$Record.Renewal_Period_Months__c} - 1, 12) + 1,
            1, 31, /* January */
            2, IF(
                MOD(YEAR({!$Record.EndDate}) + FLOOR((MONTH({!$Record.EndDate}) + {!$Record.Renewal_Period_Months__c} - 1) / 12), 4) = 0,
                29,
                28
            ), /* February (leap year check) */
            3, 31, /* March */
            4, 30, /* April */
            5, 31, /* May */
            6, 30, /* June */
            7, 31, /* July */
            8, 31, /* August */
            9, 30, /* September */
            10, 31, /* October */
            11, 30, /* November */
            12, 31, /* December */
            31 /* Default case */
        )
    ),
DATE(
        YEAR({!$Record.EndDate}) + FLOOR((MONTH({!$Record.EndDate}) + {!$Record.Second_Renewal_Period_Months__c} - 1) / 12),
        MOD(MONTH({!$Record.EndDate}) + {!$Record.Second_Renewal_Period_Months__c}  - 1, 12) + 1,
        CASE(
            MOD(MONTH({!$Record.EndDate}) + {!$Record.Second_Renewal_Period_Months__c}  - 1, 12) + 1,
            1, 31, /* January */
            2, IF(
                MOD(YEAR({!$Record.EndDate}) + FLOOR((MONTH({!$Record.EndDate}) + {!$Record.Second_Renewal_Period_Months__c}  - 1) / 12), 4) = 0,
                29,
                28
            ), /* February (leap year check) */
            3, 31, /* March */
            4, 30, /* April */
            5, 31, /* May */
            6, 30, /* June */
            7, 31, /* July */
            8, 31, /* August */
            9, 30, /* September */
            10, 31, /* October */
            11, 30, /* November */
            12, 31, /* December */
            31 /* Default case */
        )
    )
)</expression>
    </formulas>
    <formulas>
        <name>FormulaRenewalIterations</name>
        <dataType>String</dataType>
        <expression>IF(
    TEXT({!$Record.Current_Renewal_Iteration__c}) != TEXT({!$Record.Renewal_Total_Iterations__c}),
    TEXT({!$Record.Renewal_Total_Iterations__c}),
    &quot;0&quot;  
)</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>Occupied_Desks</name>
        <dataType>Number</dataType>
        <expression>BLANKVALUE({!$Record.Location__r.Occupied_Desks__c},0) + BLANKVALUE({!$Record.Calculated_Number_Of_Desks__c},0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ShouldProcessContractTermination</name>
        <dataType>Boolean</dataType>
        <expression>OR(
    AND(
        ISNEW(),
        NOT(ISNULL({!$Record.EndDate}))
    ),
    AND(
        ISCHANGED({!$Record.EndDate}),
        NOT(ISNULL({!$Record.EndDate}))
    ),
    AND(
        ISCHANGED({!$Record.Contract_Termination_Date__c}),
        NOT(ISNULL({!$Record.Contract_Termination_Date__c}))
    )
)</expression>
    </formulas>
    <formulas>
        <name>TotalDeskCountAfterTermination</name>
        <dataType>Number</dataType>
        <expression>BLANKVALUE({!$Record.Location__r.Occupied_Desks__c},0) - BLANKVALUE({!$Record__Prior.Calculated_Number_Of_Desks__c},0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TotalDeskCountAfterUpdate</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Location__r.Occupied_Desks__c} + ({!$Record.Calculated_Number_Of_Desks__c} - {!$Record__Prior.Calculated_Number_Of_Desks__c})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Contract After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract After Save</label>
    <loops>
        <description>Loop the original product list from the get element and change relevent details</description>
        <name>Loop_and_add_products</name>
        <label>Loop and add products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Original_Order_line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_records_and_add_to_collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Original_Order_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Get a list of product entry id to support the get overlapping order products for availability check</description>
        <name>Loop_order_line_items_and_add_Ids</name>
        <label>Loop order line items and add Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Original_Order_line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Ids_to_text</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Overlapping_order_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>New order as parent to the new products</description>
        <name>Create_Original_Order</name>
        <label>Create Original Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_and_add_products</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractId</field>
            <value>
                <elementReference>Create_Renewal_Contract</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>CalculatedStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>$Record.Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Origin__c</field>
            <value>
                <stringValue>Original Order</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>$Record.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Bulk create order line items</description>
        <name>Create_Original_Order_Line_Items</name>
        <label>Create Original Order Line Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Change_Renewal_Contract_Status</targetReference>
        </connector>
        <inputReference>VarOrderLineCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Copied renewal product with new parmas - Renewal details if needed and date details</description>
        <name>Create_Renewal_Contract</name>
        <label>Create Renewal Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Original_Order</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agreement_Type__c</field>
            <value>
                <elementReference>$Record.Agreement_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Renewal__c</field>
            <value>
                <elementReference>DecisionAutoRenewal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>$Record.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CompanySignedDate</field>
            <value>
                <elementReference>$Record.CompanySignedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CompanySignedId</field>
            <value>
                <elementReference>$Record.CompanySignedId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractTerm</field>
            <value>
                <elementReference>$Record.ContractTerm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Termination_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Renewal_Iteration__c</field>
            <value>
                <elementReference>AdvanceIteration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerSignedDate</field>
            <value>
                <elementReference>$Record.CustomerSignedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerSignedId</field>
            <value>
                <elementReference>$Record.CustomerSignedId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerSignedTitle</field>
            <value>
                <elementReference>$Record.CustomerSignedTitle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Depusit_Amount_DM__c</field>
            <value>
                <elementReference>$Record.Depusit_Amount_DM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>FormulaContractEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Status_Change_Date__c</field>
            <value>
                <elementReference>$Record.Last_Status_Change_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lease_Termination_Notice_Months__c</field>
            <value>
                <elementReference>$Record.Lease_Termination_Notice_Months__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>$Record.Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_desks__c</field>
            <value>
                <elementReference>$Record.Number_of_desks__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_members__c</field>
            <value>
                <elementReference>$Record.Number_of_members__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_potential_members__c</field>
            <value>
                <elementReference>$Record.Number_of_potential_members__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin__c</field>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Contract__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerExpirationNotice</field>
            <value>
                <elementReference>$Record.OwnerExpirationNotice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>$Record.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prints_B_W__c</field>
            <value>
                <elementReference>$Record.Prints_B_W__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prints_Color__c</field>
            <value>
                <elementReference>$Record.Prints_Color__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Kickoff_Months__c</field>
            <value>
                <elementReference>$Record.Renewal_Kickoff_Months__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Period_Months__c</field>
            <value>
                <elementReference>$Record.Renewal_Period_Months__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Status__c</field>
            <value>
                <stringValue>Not Due</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Total_Iterations__c</field>
            <value>
                <elementReference>FormulaRenewalIterations</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Restoration_Fee__c</field>
            <value>
                <elementReference>$Record.Restoration_Fee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Second_Renewal_Period_Months__c</field>
            <value>
                <elementReference>$Record.Second_Renewal_Period_Months__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Set_Up_Fee__c</field>
            <value>
                <elementReference>$Record.Restoration_Fee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SpecialTerms</field>
            <value>
                <elementReference>$Record.SpecialTerms</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>CalculatedStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Track_CPI_Date__c</field>
            <value>
                <elementReference>$Record.Track_CPI_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Track_CPI__c</field>
            <value>
                <elementReference>$Record.Track_CPI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get all the ACTIVE order products to copy over to the new contract, but first check availability of each relvent product(periodic only)</description>
        <name>Get_Original_Order_line_Items</name>
        <label>Get Original Order line Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_order_line_items_and_add_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Access_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Periodic</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Temporary__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get all the overlaping(bby dates and active product orders -that their respective product entry id is in the text collection on the last step, and also check for dates</description>
        <name>Get_Overlapping_order_Line_Items</name>
        <label>Get Overlapping order Line Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Overlapping_Dates</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND(  (4 AND 5) OR (6 AND 7) OR ( 8 AND 9) ) AND 10 AND 11</filterLogic>
        <filters>
            <field>PricebookEntryId</field>
            <operator>In</operator>
            <value>
                <elementReference>VarOrderProductId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contract__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Access_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Periodic</stringValue>
            </value>
        </filters>
        <filters>
            <field>ServiceDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>FormulaContractEndDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Record.EndDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Record.EndDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>FormulaContractEndDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.EndDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>FormulaContractEndDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contract_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard Products</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Contract Status cannot be &quot;Acivated on creation. this will change the value post-creation</description>
        <name>Change_Renewal_Contract_Status</name>
        <label>Change Renewal Contract Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Udpate_Original_Contract_Renewal_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Renewal_Contract</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>End_contract</name>
        <label>End contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update the renewal status on the original contract</description>
        <name>Udpate_Original_Contract_Renewal_Status</name>
        <label>Update Original Contract Renewal Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Renewal_Status__c</field>
            <value>
                <stringValue>Renewed - pending</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Location_Occupied_Desks</name>
        <label>Update Location Occupied Desks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>varLocation</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_order_product</name>
        <label>Update order products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Determine_Contract_Update_Path</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 3) OR (4 AND 2)</filterLogic>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Record.Contract_Termination_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Access_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Periodic</stringValue>
            </value>
        </filters>
        <filters>
            <field>Access_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Monthly</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>$Record.Contract_Termination_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>OrderItem</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_order_products</targetReference>
        </connector>
        <object>Contract</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>wait_for_end_date</name>
            <connector>
                <targetReference>Should_End_Contract</targetReference>
            </connector>
            <label>wait for end date</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Calculated_End_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Autorenew_start</name>
            <connector>
                <targetReference>Should_Create_Opportunity_Auto_Renewal</targetReference>
            </connector>
            <label>Autorenew start</label>
            <offsetNumber>8</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Next_Renewal_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>SubFlow to create a table with unavilable products to handle in operations</description>
        <name>Generate_Products_table</name>
        <label>Generate Products table</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_autorenewal_issue_email</targetReference>
        </connector>
        <flowName>Generate_Record_Table</flowName>
        <inputAssignments>
            <name>OrderLineItemCollection</name>
            <value>
                <elementReference>Get_Overlapping_order_Line_Items</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>EmailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Contract &lt;a href=&quot;https://rooms.lightning.force.com/lightning/r/Contract/%7B!$Record.Id%7D/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(1, 118, 211);&quot;&gt;{!$Record.ContractNumber}&lt;/a&gt;  Renewal automation was canceled to due unavailable products as listed in the table below&lt;/p&gt;&lt;p&gt;Please Manually renew the contract after product availability is sorted or create a new opportunity&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Table of unavailable products&lt;/p&gt;&lt;p&gt;{!Generate_Products_table.ProductsTableOutput}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;ROOMS&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>varLocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Locations__c</objectType>
    </variables>
    <variables>
        <name>VarOrderLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>VarOrderLineCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>VarOrderProductId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
