force-app/main/default/flows/Contract_Push_Start_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Reload</name>
        <label>Reload</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <actionName>c:ReloadPage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:ReloadPage</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_New_Dates</name>
        <label>Assign New Dates</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ProductVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Products</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductVar.ServiceDate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TimeDiffrenceInDays</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductVar.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductCalEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProductVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Products</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>CalculatedEndDate</name>
        <dataType>Date</dataType>
        <expression>DATE(
    YEAR({!recordId.EndDate}+{!TimeDiffrenceInDays}),
    MONTH({!recordId.EndDate}+{!TimeDiffrenceInDays}) + 1,
    1
) - 1</expression>
    </formulas>
    <formulas>
        <name>ProductCalEndDate</name>
        <dataType>Date</dataType>
        <expression>DATE(
    YEAR({!Update_Products.EndDate}+{!TimeDiffrenceInDays}),
    MONTH({!Update_Products.EndDate}+{!TimeDiffrenceInDays}) + 1,
    1
) - 1</expression>
    </formulas>
    <formulas>
        <name>TimeDiffrenceInDays</name>
        <dataType>Number</dataType>
        <expression>{!Choose_New_Start_Date}- {!recordId.StartDate}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Contract -   Push Start Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract -   Push Start Date</label>
    <loops>
        <name>Update_Products</name>
        <label>Update Products</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_monthly_periodic_products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_New_Dates</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_products_dates</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_monthly_periodic_products</name>
        <label>Get monthly/periodic products</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contract</name>
        <label>Update Contract</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>SucessScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>CalculatedEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>Choose_New_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_products_dates</name>
        <label>Update products dates</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <connector>
            <targetReference>Update_Contract</targetReference>
        </connector>
        <inputReference>ProductCollection</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Push_Contract_Start_Date</name>
        <label>Push Contract Start Date</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_monthly_periodic_products</targetReference>
        </connector>
        <fields>
            <name>PushContractStartDateLabel</name>
            <fieldText>&lt;p&gt;Please choose the new contract start date- This will affect all periodic/monthly products only&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Push_Contract_Start_Date_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Push_Contract_Start_Date_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Choose_New_Start_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>recordId.StartDate</elementReference>
                    </defaultValue>
                    <fieldText>Choose New Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;The new start date must be later then current start date &lt;/p&gt;</errorMessage>
                        <formulaExpression>{!recordId.StartDate}  &lt; {!Choose_New_Start_Date}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Push_Contract_Start_Date_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Push_Contract_Start_Date_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SucessScreen</name>
        <label>SucessScreen</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reload</targetReference>
        </connector>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;The process was completed successfully!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Push_Contract_Start_Date</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ProductCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>ProductVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
</Flow>
