force-app/main/default/flows/Contract_Expiry_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Expiry_Email_To_Owner</name>
        <label>Expiry Email To Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>reuvenle@working-rooms.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>ContractExpirySubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ContractExpiryEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>addThreadingTokenToBody</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>addThreadingTokenToSubject</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Expiry_Email_to_Owner_Manager</name>
        <label>Expiry Email to Owner Manager</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner.Manager.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>reuvenle@working-rooms.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>ContractExpirySubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ContractExpiryEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>addThreadingTokenToBody</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>addThreadingTokenToSubject</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_Owner_Active</name>
        <label>Is Owner Active?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Owner_Is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Expiry_Email_To_Owner</targetReference>
            </connector>
            <label>Yes, Owner Is Active</label>
        </rules>
        <rules>
            <name>No_Send_To_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.Manager.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Expiry_Email_to_Owner_Manager</targetReference>
            </connector>
            <label>No, Send To Manager</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AccountLink</name>
        <dataType>String</dataType>
        <expression>LEFT($Api.Partner_Server_URL_260, FIND( &apos;/services&apos;, $Api.Partner_Server_URL_260))+&apos;/&apos;+{!$Record.Account.Id}</expression>
    </formulas>
    <formulas>
        <name>ContractExpirySubject</name>
        <dataType>String</dataType>
        <expression>{!$Record.ContractNumber}+&apos; - Contract Expires on &apos;+TEXT(DAY({!$Record.EndDate}))+&apos;-&apos;+
CASE(MONTH({!$Record.EndDate}),
1, &apos;January&apos;,
2, &apos;February&apos;,
3, &apos;March&apos;,
4,&apos;April&apos;,
5,&apos;May&apos;,
6,&apos;June&apos;,
7,&apos;July&apos;,
8,&apos;August&apos;,
9,&apos;September&apos;,
10,&apos;October&apos;,
11,&apos;November&apos;,
&apos;December&apos;)
+&apos;-&apos;+
TEXT(YEAR({!$Record.EndDate}))</expression>
    </formulas>
    <formulas>
        <name>ContractLink</name>
        <dataType>String</dataType>
        <expression>LEFT($Api.Partner_Server_URL_260, FIND( &apos;/services&apos;, $Api.Partner_Server_URL_260))+&apos;/&apos;+{!$Record.Id}</expression>
    </formulas>
    <formulas>
        <name>RecipientName</name>
        <dataType>String</dataType>
        <expression>IF({!Yes_Owner_Is_Active}, {!$Record.Owner.FirstName}+&apos; &apos;+{!$Record.Owner.LastName}, {!$Record.Owner.Manager.FirstName}+&apos; &apos;+{!$Record.Owner.Manager.LastName})</expression>
    </formulas>
    <interviewLabel>Contract Expiry Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract Expiry Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Owner_Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Send_Expiry_Notification__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contract</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-07-24</startDate>
            <startTime>07:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ContractExpiryEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!RecipientName},&lt;br&gt;&lt;br&gt;This is an automated reminder that the following contract is scheduled to expire in two months:&lt;br&gt;&lt;strong&gt;Contract:&lt;/strong&gt; &lt;a href=&quot;{!ContractLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!$Record.ContractNumber}&lt;/a&gt;&lt;br&gt;&lt;strong&gt;Account:&lt;/strong&gt; &lt;a href=&quot;{!AccountLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!$Record.Account.Name}&lt;/a&gt;&lt;br&gt;&lt;strong&gt;End Date:&lt;/strong&gt; {!$Record.EndDate}&lt;/p&gt;&lt;p&gt;Please review this contract and take the appropriate next steps:&lt;ul&gt;&lt;li&gt;Reach out to the customer to discuss renewal or extension options.&lt;/li&gt;&lt;li&gt;Prepare and send a renewal quote or amendment.&lt;/li&gt;&lt;li&gt;Update the contract status and any related opportunities in Salesforce.&lt;/li&gt;&lt;/ul&gt;&lt;/p&gt;&lt;p&gt;If you’re not the appropriate owner for this renewal, or if you require assistance, please coordinate with your manager or contact Sales Operations.&lt;/p&gt;&lt;p&gt;Thank you,&lt;br&gt;Salesforce Automated Notifications&lt;/p&gt;</text>
    </textTemplates>
</Flow>
