force-app/main/default/flows/Contact_Before_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Formatted_Phone</name>
        <label>Assign Formatted Phone</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formatted_MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_mobile_to_phone_field_on_change_or_create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Business_Phone</name>
        <label>Update Business Phone</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_if_MobilePhone_needs_formatting</name>
        <label>Check if MobilePhone needs formatting</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_mobile_to_phone_field_on_change_or_create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Needs_Formatting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ShouldFormatMobilePhone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Formatted_Phone</targetReference>
            </connector>
            <label>Needs Formatting</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_mobile_to_phone_field_on_change_or_create</name>
        <label>Copy mobile to phone field on change or create</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Copy_mobile_to_phone_field_on_change_or_create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Business_Phone</targetReference>
            </connector>
            <label>Yes, Copy mobile to phone field on change or create.</label>
        </rules>
    </decisions>
    <description>29/10: MobilePhone formatting changes.</description>
    <environments>Default</environments>
    <formulas>
        <name>CleanPhone</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
    SUBSTITUTE(
        SUBSTITUTE(
            SUBSTITUTE(
                SUBSTITUTE(
                    SUBSTITUTE(
                        SUBSTITUTE({!$Record.MobilePhone}, &quot; &quot;, &quot;&quot;),
                        &quot;-&quot;, &quot;&quot;
                    ),
                    &quot;(&quot;, &quot;&quot;
                ),
                &quot;)&quot;, &quot;&quot;
            ),
            &quot;.&quot;, &quot;&quot;
        ),
        &quot;/&quot;, &quot;&quot;
    ),
    &quot;+&quot;, &quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>Formatted_MobilePhone</name>
        <dataType>String</dataType>
        <expression>IF(
  ISBLANK({!CleanPhone}),
  &quot;&quot;,
  IF(
    {!Is_Valid_Israeli_Number},
    /* 🇮🇱 Israeli Number Formatting */
    &quot;+972&quot; &amp;
    /* Step 1: Normalize any duplicate or prefixed formats */
    IF(
      LEFT({!CleanPhone},6) = &quot;972972&quot;,
      MID({!CleanPhone},7, LEN({!CleanPhone}) - 6),
      IF(
        LEFT({!CleanPhone},4) = &quot;9720&quot;,
        /* Case: 9720XXXXXXXXX → remove both 972 + 0 */
        MID({!CleanPhone},5, LEN({!CleanPhone}) - 4),
        IF(
          LEFT({!CleanPhone},3) = &quot;972&quot;,
          /* Case: 972XXXXXXXXX → remove 972 and then leading 0 if present */
          IF(
            MID({!CleanPhone},4,1) = &quot;0&quot;,
            MID({!CleanPhone},5, LEN({!CleanPhone}) - 4),
            MID({!CleanPhone},4, LEN({!CleanPhone}) - 3)
          ),
          /* Local case: starts with 0 or 5 */
          IF(
            LEFT({!CleanPhone},1) = &quot;0&quot;,
            RIGHT({!CleanPhone}, LEN({!CleanPhone}) - 1),
            {!CleanPhone}
          )
        )
      )
    ),
    /* 🌍 Non-Israeli Number */
    IF(
      AND(
        REGEX({!CleanPhone}, &quot;^[0-9]+$&quot;),
        LEN({!CleanPhone}) &gt;= 8,
        LEN({!CleanPhone}) &lt;= 15
      ),
      &quot;+&quot; &amp; {!CleanPhone},
      {!CleanPhone}
    )
  )
)</expression>
    </formulas>
    <formulas>
        <name>Is_Valid_Israeli_Number</name>
        <dataType>Boolean</dataType>
        <expression>OR(
  /* Landline prefixes 02,03,04,08,09 */
  REGEX({!CleanPhone}, &quot;^0(2|3|4|8|9)[0-9]{7}$&quot;),

  /* Mobile prefixes 050–059 */
  REGEX({!CleanPhone}, &quot;^05[0-9]{8}$&quot;),

  /* Mobile number missing the leading 0 (e.g. 5xxxxxxxx) */
  REGEX({!CleanPhone}, &quot;^5[0-9]{8}$&quot;),

  /* International format (972 or 9720) followed by 8–9 digits */
  REGEX({!CleanPhone}, &quot;^9720?(2|3|4|8|9|5[0-9])[0-9]{6,7}$&quot;),

  /* Already includes +972 */
  REGEX({!$Record.MobilePhone}, &quot;^\\+972(2|3|4|8|9|5[0-9])[0-9]{6,7}$&quot;)
)</expression>
    </formulas>
    <formulas>
        <name>ShouldFormatMobilePhone</name>
        <dataType>Boolean</dataType>
        <expression>AND(
  NOT(ISBLANK({!$Record.MobilePhone})),
  NOT(REGEX({!$Record.MobilePhone}, &quot;.*[A-Za-z].*&quot;))
)</expression>
    </formulas>
    <interviewLabel>Contact Before Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Before Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_MobilePhone_needs_formatting</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
