force-app/main/default/flows/Create_New_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_New_Opportunity</name>
        <label>Create New Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>c:fsc_openUrl</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>replace</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>NewOpportunityCreationLink</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:fsc_openUrl</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>New_Opportunity_VR_Check</name>
        <label>New Opportunity VR Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CheckValidation</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Has_Opportunity_VR_Errors</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__inputRecord</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputRecord</name>
            <value>
                <elementReference>Assign_New_Opportunity_from_Contract</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordField</name>
            <value>
                <elementReference>Assign_New_Opportunity_from_Contract.Name</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CheckValidation</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Open_Existing_Opportunity</name>
        <label>Open Existing Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>c:fsc_openUrl</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>replace</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>ExistingOpenOpportunityURL</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:fsc_openUrl</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Open_Opportunity</name>
        <label>Open Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>c:fsc_openUrl</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>replace</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>NewOpportunityURL</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:fsc_openUrl</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Open_Start_Page</name>
        <label>Open Start Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>c:fsc_openUrl</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>replace</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>StartPageURL</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:fsc_openUrl</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>VR_Check_for_OLI</name>
        <label>VR Check for OLI</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CheckValidation</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Has_OLI_VR_Error</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>OpportunityLineItem</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__inputRecord</typeName>
            <typeValue>OpportunityLineItem</typeValue>
        </dataTypeMappings>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>OpportunityProductsCol</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordField</name>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </inputParameters>
        <nameSegment>CheckValidation</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Product_To_Col</name>
        <label>Add Product To Col</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OpportunityProductsCol</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reset_Product_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_AccountId</name>
        <label>Assign AccountId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existing_Open_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contract_AccountId</name>
        <label>Assign Contract AccountId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Contract.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existing_Open_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contract_Product</name>
        <label>Assign Contract Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ContractProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Existing_Contract_Product</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existing_Contract_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_AccountId</name>
        <label>Assign Opportunity AccountId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Opportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existing_Open_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Product</name>
        <label>Assign Opportunity Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OpportunityProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Products</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existing_Product_Filter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Product_Variables</name>
        <label>Reset Product Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OpportunityProduct</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractProduct</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>New_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Opportunity_Picklist_Values</name>
        <label>Update Opportunity Picklist Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Assign_New_Opportunity_from_Contract.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Proposal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Assign_New_Opportunity_from_Contract.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Changes from opportunity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Assign_New_Opportunity_from_Contract.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Existing Customer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Assign_New_Opportunity_from_Contract.Change_Opportunity_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Contract</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Assign_New_Opportunity_from_Contract.Renewal_Iterations__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OriginalContract.Renewal_Total_Iterations__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Assign_New_Opportunity_from_Contract.Contract_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OriginalContract.Agreement_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Assign_New_Opportunity_from_Contract.Lease_Termination_Notice_Monthes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OriginalContract.Lease_Termination_Notice_Months__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Assign_New_Opportunity_from_Contract.Renewal_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OriginalContract.Renewal_Kickoff_Months__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Assign_New_Opportunity_from_Contract.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OriginalContract.Opportunity__r.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Opportunity_VR_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Opportunity_Product_Picklist_Values</name>
        <label>Update Opportunity Product Picklist Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OpportunityProduct.Access_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractProduct.Access_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityProduct.Product_Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractProduct.Product_Sub_Type_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityProduct.Products_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractProduct.Product_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Product_To_Col</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Original_Contract</name>
        <label>Update Original Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OriginalContract</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>One_Active_Contract</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>One_Active_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Original_Contract_From_Active_Input_Contract</name>
        <label>Update Original Contract From Active Input Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OriginalContract</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Contract</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_New_Opportunity_from_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Original_Contract_From_Selection</name>
        <label>Update Original Contract From Selection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OriginalContract</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filtered_Original_Contract</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filtered_Original_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Total_Non_Auto_Renewal_Contracts</name>
        <label>Update Total Non Auto Renewal Contracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TotalNonAutoRenewalContracts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Non_Auto_Renewal_Contracts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalNumberofActiveContracts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ActiveContractsCol</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Found_Active_Contracts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Total_Number_of_Active_Contracts</name>
        <label>Update Total Number of Active Contracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ActiveContractsCol</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Active_Contracts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalNumberofActiveContracts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ActiveContractsCol</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Found_Active_Contracts</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Add_Remove_Product</name>
        <choiceText>{!AddRemoveProductLabel}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add/Remove Product</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Contract</name>
        <choiceText>Create a new opportunity</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Contract</stringValue>
        </value>
    </choices>
    <choices>
        <name>Renew_Contract</name>
        <choiceText>{!RenewContractLabel}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Renew Contract</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Existing_Product_Filter</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Existing Product Filter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Existing_Product_Filter</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Existing_Order_Products</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Existing_Product_Filter.Product2Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>New_Products.Product2Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Existing_Contract_Product</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Original_Contract</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Original Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_Original_Contract</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Active_Contracts</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Original_Contract.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Contract.selectedChoiceValues</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Filtered_Original_Contract</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Non_Auto_Renewal_Contracts</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Non Auto Renewal Contracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Non_Auto_Renewal_Contracts</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Active_Contracts</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Non_Auto_Renewal_Contracts.Auto_Renewal__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Update_Total_Non_Auto_Renewal_Contracts</targetReference>
        </connector>
    </collectionProcessors>
    <constants>
        <name>Monthly_Opportunity</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Monthly_Opportunity</stringValue>
        </value>
    </constants>
    <constants>
        <name>OpportunityStandardRT</name>
        <dataType>String</dataType>
        <value>
            <stringValue>012J7000000066kIAA</stringValue>
        </value>
    </constants>
    <constants>
        <name>Product_Update</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Product_Update</stringValue>
        </value>
    </constants>
    <constants>
        <name>Renewal</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Renewal</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Found_Active_Contracts</name>
        <label>Found Active Contracts?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>No_Active_Contracts_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Process_From_Active_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_Contract</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Input_Contract.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Original_Contract_From_Active_Input_Contract</targetReference>
            </connector>
            <label>Process From Active Contract</label>
        </rules>
        <rules>
            <name>One_Active_Contract_Process</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>TotalNumberofActiveContracts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TotalNonAutoRenewalContracts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>One_Active_Contract</targetReference>
            </connector>
            <label>One Active Contract Process</label>
        </rules>
        <rules>
            <name>Active_Contracts_Process</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>Active_Contracts</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TotalNumberofActiveContracts</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TotalNonAutoRenewalContracts</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputProcessType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Renewal</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Selection_Screen</targetReference>
            </connector>
            <label>Active Contracts Process</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Existing_Contract_Product</name>
        <label>Found Existing Contract Product?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Add_Product_To_Col</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Existing_Contract_Product_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractProduct</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Product_Picklist_Values</targetReference>
            </connector>
            <label>Yes, Existing Contract Product Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_OLI_VR_Error</name>
        <label>Has OLI VR Error?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_VR_Error_on_OLIs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VR_Check_for_OLI.isError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Opportunity_Products</targetReference>
            </connector>
            <label>No VR Error on OLIs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Open_Opportunity</name>
        <label>Has Open Opportunity?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Supported_Input_sObject</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Open_Opportunity_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_Open_Opportunity</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Open_Opportunity_Screen</targetReference>
            </connector>
            <label>Yes, Open Opportunity Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Opportunity_VR_Errors</name>
        <label>Has Opportunity VR Errors?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Opportunity_VR_Errors</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Opportunity_VR_Check.isError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity</targetReference>
            </connector>
            <label>No, Opportunity VR Errors</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_RecordId</name>
        <label>Has RecordId?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Supported_Input_sObject</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_RecordId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Entity_Definition</targetReference>
            </connector>
            <label>Yes, Has RecordId</label>
        </rules>
    </decisions>
    <decisions>
        <name>Input_sObject_Type</name>
        <label>Input sObject Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_sObject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Entity_Definition.QualifiedApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_AccountId</targetReference>
            </connector>
            <label>Account sObject</label>
        </rules>
        <rules>
            <name>Opportunity_sObject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Entity_Definition.QualifiedApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Input_Opportunity</targetReference>
            </connector>
            <label>Opportunity sObject</label>
        </rules>
        <rules>
            <name>Contract_sObject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Entity_Definition.QualifiedApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Input_Contract</targetReference>
            </connector>
            <label>Contract sObject</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_Contract</name>
        <label>Is New Contract?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Active_Contracts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_New_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_action_do_you_want_to_do</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>New_Contract</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contract_sObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Create_New_Opportunity</targetReference>
            </connector>
            <label>Yes, New Contract</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Products_Col_Updated</name>
        <label>Is Products Col Updated?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Contract_Renewal_Success_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Products_Col_Is_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityProductsCol</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VR_Check_for_OLI</targetReference>
            </connector>
            <label>Yes, Products Col Is Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Renewal</name>
        <label>Is Renewal?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Total_Number_of_Active_Contracts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputProcessType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Non_Auto_Renewal_Contracts</targetReference>
            </connector>
            <label>Yes, Renewal</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Active_Contracts_Found</name>
        <label>No Active Contracts Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Renewal_Without_Non_Auto_Renewal</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>What_action_do_you_want_to_do</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Renewal</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>What_action_do_you_want_to_do_on_contract</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Renewal</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TotalNonAutoRenewalContracts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Non_Auto_Renewal_Missing_Screen</targetReference>
            </connector>
            <label>Renewal Without Non Auto-Renewal</label>
        </rules>
        <rules>
            <name>No_Active_Contracts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalNumberofActiveContracts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Opportunity</targetReference>
            </connector>
            <label>No Active Contracts</label>
        </rules>
    </decisions>
    <decisions>
        <name>Supported_Input_sObject</name>
        <label>Supported Input sObject?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Supported_Input_sObject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsValidInputSObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Process_Type_Selection_Screen</targetReference>
            </connector>
            <label>Yes, Supported Input sObject</label>
        </rules>
    </decisions>
    <description>DO NOT REMOVE: This flow cannot be used as action due to text input parameter. Only use it as detail or list button as sub-flow.

06-10-2025: Renjith updated changes from 869aqbwrm</description>
    <dynamicChoiceSets>
        <name>ActiveContractsChoiceCol</name>
        <collectionReference>ActiveContractsCol</collectionReference>
        <dataType>String</dataType>
        <displayField>Date_Label__c</displayField>
        <object>Contract</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>NonRenewalActiveContractsChoiceCol</name>
        <collectionReference>Non_Auto_Renewal_Contracts</collectionReference>
        <dataType>String</dataType>
        <displayField>Date_Label__c</displayField>
        <object>Contract</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>AddRemoveProductLabel</name>
        <dataType>String</dataType>
        <expression>IF({!Contract_sObject} || {!Opportunity_sObject}, &apos;Add/Remove product or change rooms&apos;, &apos;Add/Remove product or change rooms to existing contract&apos;)</expression>
    </formulas>
    <formulas>
        <name>CalcualtedEndDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>E501MessageBodyObjectName</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!recordId}), &apos;&apos;, &apos; from &apos;+{!Entity_Definition.PluralLabel})</expression>
    </formulas>
    <formulas>
        <name>ExistingOpenOpportunityURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_540}, FIND(&apos;/services&apos;, {!$Api.Partner_Server_URL_540}) - 1) +
&apos;/lightning/r/Opportunity/&apos; + {!Existing_Open_Opportunity.Id} + &apos;/view&apos;</expression>
    </formulas>
    <formulas>
        <name>InputProcessType</name>
        <dataType>String</dataType>
        <expression>CASE(IF({!Contract_sObject}, {!What_action_do_you_want_to_do_on_contract}, {!What_action_do_you_want_to_do}),
{!Add_Remove_Product}, {!Product_Update},
{!Renew_Contract}, {!Renewal},
{!Monthly_Opportunity}, {!Monthly_Opportunity},
{!New_Contract})</expression>
    </formulas>
    <formulas>
        <name>IsValidInputSObject</name>
        <dataType>Boolean</dataType>
        <expression>CASE({!Entity_Definition.QualifiedApiName},
&apos;Account&apos;,0,
&apos;Opportunity&apos;,0,
&apos;Contract&apos;,0,
1) = 0</expression>
    </formulas>
    <formulas>
        <name>KeyPrefix</name>
        <dataType>String</dataType>
        <expression>LEFT({!recordId},3)</expression>
    </formulas>
    <formulas>
        <name>NewOpportunityCreationLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_540}, FIND(&apos;/services&apos;, {!$Api.Partner_Server_URL_540}) - 1) +
&apos;/lightning/o/Opportunity/new?count=1&amp;nooverride=1&amp;useRecordTypeCheck=1&amp;navigationLocation=RELATED_LIST&amp;backgroundContext=%2Flightning%2Fr%2FAccount%2F&apos; +
{!accountId} +
&apos;%2Fview&apos;</expression>
    </formulas>
    <formulas>
        <name>NewOpportunityURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_540}, FIND(&apos;/services&apos;, {!$Api.Partner_Server_URL_540}) - 1) +
&apos;/lightning/r/Opportunity/&apos; + {!Assign_New_Opportunity_from_Contract.Id} + &apos;/view&apos;</expression>
    </formulas>
    <formulas>
        <name>OrgBaseURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))</expression>
    </formulas>
    <formulas>
        <name>RenewContractLabel</name>
        <dataType>String</dataType>
        <expression>IF({!Account_sObject}, &apos;Renew an active contract&apos;, &apos;Renew this contract&apos;)</expression>
    </formulas>
    <formulas>
        <name>StartPageURL</name>
        <dataType>String</dataType>
        <expression>IF( CONTAINS({!OrgBaseURL}, &apos;sandbox&apos;),
LEFT({!OrgBaseURL}, FIND(&apos;sandbox&apos;, {!OrgBaseURL}) - 1) +&apos;sandbox.lightning.force.com&apos;,
&apos;rooms.lightning.force.com&apos;)
+&apos;/lightning/r/Opportunity/&apos;+{!recordId}+&apos;/view&apos;</expression>
    </formulas>
    <interviewLabel>Create New Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create New Opportunity</label>
    <loops>
        <name>Existing_Contract_Product</name>
        <label>Existing Contract Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Existing_Product_Filter</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Contract_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Found_Existing_Contract_Product</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Filtered_Original_Contract</name>
        <label>Filtered Original Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Filter_Original_Contract</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Original_Contract_From_Selection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_New_Opportunity_from_Contract</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>New_Products</name>
        <label>New Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Assign_New_Opportunity_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Opportunity_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Products_Col_Updated</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>One_Active_Contract</name>
        <label>One Active Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Active_Contracts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Original_Contract</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_New_Opportunity_from_Contract</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Opportunity_Products</name>
        <label>Create New Opportunity Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Contract_Renewal_Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>OpportunityProductsCol</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Existing_Order_Products</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>Assign_New_Opportunity_from_Contract</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Active_Contracts</name>
        <label>Active Contracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Renewal</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3) AND 4</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Entity_Definition</name>
        <label>Entity Definition</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Input_sObject_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>KeyPrefix</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>KeyPrefix</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EntityDefinition</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Existing_Open_Opportunity</name>
        <label>Existing Open Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Open_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityStandardRT</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Existing_Order_Products</name>
        <label>Existing Order Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_New_Opportunity_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OriginalContract.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Input_Contract</name>
        <label>Input Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Contract_AccountId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Input_Opportunity</name>
        <label>Input Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Opportunity_AccountId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Roll_Back_Changes</name>
        <label>Roll Back Changes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Open_Start_Page</targetReference>
        </connector>
    </recordRollbacks>
    <screens>
        <name>Contract_Renewal_Success_Screen</name>
        <label>Contract Renewal Success Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Open_Opportunity</targetReference>
        </connector>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Your new Opportunity is ready. Click &quot;Open Opportunity&quot; to continue.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Open Opportunity</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Contract_Selection_Screen</name>
        <label>Contract Selection Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Filter_Original_Contract</targetReference>
        </connector>
        <fields>
            <name>Contract_Selection_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contract_Selection_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contract_Selection_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ContractSelectionHeader</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Select Active Contract&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contract_Selection_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Contract_Selection_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contract_Selection_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contract_Selection_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contract</name>
                    <choiceReferences>ActiveContractsChoiceCol</choiceReferences>
                    <choiceReferences>NonRenewalActiveContractsChoiceCol</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Contract</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Search Contracts...</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contract_Selection_Screen_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Roll_Back_Changes</targetReference>
        </connector>
        <fields>
            <name>Error_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Error_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Error_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ErrorScreenHeader</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(247, 35, 35);&quot;&gt;We Hit a Snag&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Error_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Error_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Error_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Error_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Unsupported_sObject_Message</name>
                    <fieldText>&lt;ul&gt;&lt;li&gt;E501: This operation is not supported{!E501MessageBodyObjectName} at the moment.&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>IsValidInputSObject</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>No_Active_Contract_Message</name>
                    <fieldText>&lt;ul&gt;&lt;li&gt;E404: Cannot add or remove products  no active contracts found.&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Active_Contracts_Process</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>InvalidProcessTypeError</name>
                    <fieldText>&lt;ul&gt;&lt;li&gt;E400: Bad Request, we couldnt identify the process type. Please reach out to your system admin.&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>InputProcessType</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>IsValidInputSObject</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>OpportunityVRError</name>
                    <fieldText>&lt;ul&gt;&lt;li&gt;E422: Validation Error: {!New_Opportunity_VR_Check.errorMessages}{!VR_Check_for_OLI.errorMessages}&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>New_Opportunity_VR_Check.isError</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>VR_Check_for_OLI.isError</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>DatabaseCommitError</name>
                    <fieldText>&lt;ul&gt;&lt;li&gt;E500: Database Commit Error: {!$Flow.FaultMessage}&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>$Flow.FaultMessage</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Error_Screen_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Exit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Existing_Open_Opportunity_Screen</name>
        <label>Existing Open Opportunity Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Open_Existing_Opportunity</targetReference>
        </connector>
        <fields>
            <name>ExistingOpenOpportunityMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;An open opportunity exist for this account. Please click open opportunity button to view the opportunity.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Open Opportunity</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Non_Auto_Renewal_Missing_Screen</name>
        <label>Non Auto-Renewal Missing Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Create_New_Opportunity</targetReference>
        </connector>
        <fields>
            <name>NonAutoRenewalMissingMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;No relevant contracts found for renewal. Please click next to create a new opportunity.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Process_Type_Selection_Screen</name>
        <label>Process Type Selection Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_New_Contract</targetReference>
        </connector>
        <fields>
            <name>Process_Type_Selection_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Process_Type_Selection_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Process_Type_Selection_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>What_action_do_you_want_to_do</name>
                    <choiceReferences>Add_Remove_Product</choiceReferences>
                    <choiceReferences>Renew_Contract</choiceReferences>
                    <choiceReferences>New_Contract</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>What action do you want to do?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Account_sObject</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>What_action_do_you_want_to_do_on_contract</name>
                    <choiceReferences>Add_Remove_Product</choiceReferences>
                    <choiceReferences>Renew_Contract</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>What action do you want to do?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Opportunity_sObject</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Contract_sObject</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Process_Type_Selection_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_RecordId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Assign_New_Opportunity_from_Contract</name>
        <label>Assign New Opportunity from Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Opportunity_Picklist_Values</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Opportunity</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>AccountId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>OriginalContract.AccountId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Automatic_Renewal__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>OriginalContract.Auto_Renewal__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>CloseDate</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>Date</formulaDataType>
                    <formulaExpression>TODAY()+14</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DepositAmount__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>OriginalContract.Depusit_Amount_DM__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Description</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>OriginalContract.Description</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Description__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>OriginalContract.Description</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Location__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>OriginalContract.Location__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Number_of_desks__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>OriginalContract.Number_of_desks__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Number_of_members__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>OriginalContract.Number_of_members__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Number_of_potential_members__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>OriginalContract.Number_of_potential_members__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Original_Contract__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>OriginalContract.Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Prints_B_W__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>OriginalContract.Prints_B_W__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Prints_Color__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>OriginalContract.Prints_Color__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>RecordTypeId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>012J7000000066kIAA</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Renewal_Period_Months__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>OriginalContract.Renewal_Period_Months__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Restoration_Fee__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>OriginalContract.Restoration_Fee__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Set_Up_Fee__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>OriginalContract.Set_Up_Fee__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Second_Renewal_Period_Months__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>OriginalContract.Second_Renewal_Period_Months__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Total_Deposit__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>OriginalContract.Depusit_Amount_DM__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Track_CPI__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>OriginalContract.Track_CPI__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Track_CPI_Date__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>OriginalContract.Track_CPI_Date__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Credits_for_MR__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>OriginalContract.Credits_for_MR__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Start_Date__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>Date</formulaDataType>
                    <formulaExpression>CASE({!InputProcessType},
{!Renewal}, {!OriginalContract.EndDate} + 1,
{!Monthly_Opportunity}, TODAY() + 14,
{!OriginalContract.StartDate})</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>End_Date__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>Date</formulaDataType>
                    <formulaExpression>CASE({!InputProcessType},
{!Monthly_Opportunity}, NULL,
{!Product_Update}, {!OriginalContract.EndDate},
DATE(
    YEAR({!OriginalContract.EndDate}) + FLOOR((MONTH({!OriginalContract.EndDate}) + ((YEAR({!OriginalContract.EndDate}) - YEAR({!OriginalContract.StartDate})) * 12 + (MONTH({!OriginalContract.EndDate}) - MONTH({!OriginalContract.StartDate})) + 1)) / 12),
    MOD((MONTH({!OriginalContract.EndDate}) + ((YEAR({!OriginalContract.EndDate}) - YEAR({!OriginalContract.StartDate})) * 12 + (MONTH({!OriginalContract.EndDate}) - MONTH({!OriginalContract.StartDate})) + 1)) - 1, 12) + 1,
    CASE(
        MOD((MONTH({!OriginalContract.EndDate}) + ((YEAR({!OriginalContract.EndDate}) - YEAR({!OriginalContract.StartDate})) * 12 + (MONTH({!OriginalContract.EndDate}) - MONTH({!OriginalContract.StartDate})) + 1)) - 1, 12) + 1,
        1, 31,
        2, IF(
            MOD(
                YEAR({!OriginalContract.EndDate}) + FLOOR((MONTH({!OriginalContract.EndDate}) + ((YEAR({!OriginalContract.EndDate}) - YEAR({!OriginalContract.StartDate})) * 12 + (MONTH({!OriginalContract.EndDate}) - MONTH({!OriginalContract.StartDate})) + 1)) / 12), 4) = 0 &amp;&amp;
                (MOD(
                    YEAR({!OriginalContract.EndDate}) + FLOOR((MONTH({!OriginalContract.EndDate}) + ((YEAR({!OriginalContract.EndDate}) - YEAR({!OriginalContract.StartDate})) * 12 + (MONTH({!OriginalContract.EndDate}) - MONTH({!OriginalContract.StartDate})) + 1)) / 12), 100) &lt;&gt; 0 ||
                 MOD(
                    YEAR({!OriginalContract.EndDate}) + FLOOR((MONTH({!OriginalContract.EndDate}) + ((YEAR({!OriginalContract.EndDate}) - YEAR({!OriginalContract.StartDate})) * 12 + (MONTH({!OriginalContract.EndDate}) - MONTH({!OriginalContract.StartDate})) + 1)) / 12), 400) = 0),
            29, 28
        ),
        3, 31,
        4, 30,
        5, 31,
        6, 30,
        7, 31,
        8, 31,
        9, 30,
        10,31,
        11,30,
        12,31,
        31
    )
)
)</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>New Opportunity</stringValue>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Assign_New_Opportunity_Products</name>
        <label>Assign New Opportunity Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Products</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>OpportunityLineItem</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Capicity_Desks__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Existing_Order_Products[$EachItem].Number_of_desks__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Description</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Existing_Order_Products[$EachItem].Description</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Desk_Count__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Existing_Order_Products[$EachItem].Number_of_desks__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>ListPrice</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Existing_Order_Products[$EachItem].ListPrice</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>PricebookEntryId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Existing_Order_Products[$EachItem].PricebookEntryId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Product__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Existing_Order_Products[$EachItem].Product2Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Product_Type__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Existing_Order_Products[$EachItem].Product_Type__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Product2Id</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Existing_Order_Products[$EachItem].Product2Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Quantity</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Existing_Order_Products[$EachItem].Quantity</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Renewal_Price_Adjustment__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Existing_Order_Products[$EachItem].Renewal_Price_Adjustment__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Renewal_Price_Adjustment_2__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Existing_Order_Products[$EachItem].Renewal_Price_Adjustment_2__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Temporary__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Existing_Order_Products[$EachItem].Temporary__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>UnitPrice</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Existing_Order_Products[$EachItem].UnitPrice</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Include_In_Deposit_Calculations__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Existing_Order_Products[$EachItem].Include_In_Deposit_Calculations__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Original_Contract_Product__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Existing_Order_Products[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Account__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Assign_New_Opportunity_from_Contract.AccountId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Opportunity__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Assign_New_Opportunity_from_Contract.Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>OpportunityId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Assign_New_Opportunity_from_Contract.Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Entry_Date__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>Date</formulaDataType>
                    <formulaExpression>{!Existing_Order_Products[$EachItem].EndDate}+1</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>End_date__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>Date</formulaDataType>
                    <formulaExpression>ADDMONTHS({!Existing_Order_Products[$EachItem].EndDate}, {!Existing_Order_Products[$EachItem].Period_In_Months__c})</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Entry_Date_Time__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>DateTime</formulaDataType>
                    <formulaExpression>{!Existing_Order_Products[$EachItem].End_Date_Time__c} + 1</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>End_Date_Time__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>DateTime</formulaDataType>
                    <formulaExpression>ADDMONTHS({!Existing_Order_Products[$EachItem].End_Date_Time__c}, {!Existing_Order_Products[$EachItem].Period_In_Months__c})</formulaExpression>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ActiveContractsCol</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>ContractProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>currentItem_Existing_Product_Filter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Original_Contract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>currentItem_Non_Auto_Renewal_Contracts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>OpportunityProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OpportunityProductsCol</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OriginalContract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>ProcessType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalNonAutoRenewalContracts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalNumberofActiveContracts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
