force-app/main/default/flows/flow_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_the_NewOrderItemRecord_to_the_backage_OrderItem</name>
        <label>Assign the NewOrderItemRecord to the backage OrderItem</label>
        <locationX>754</locationX>
        <locationY>1979</locationY>
        <assignmentItems>
            <assignToReference>OrderLineMultipleRecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewOrderLineItemRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_over_all_products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_value_to_NewOrderItemRecord</name>
        <label>Assign values to NewOrderItemRecord</label>
        <locationX>754</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>NewOrderLineItemRecord.ServiceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StartDateFormulaProduct</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderLineItemRecord.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_over_all_products.End_date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderLineItemRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_over_all_products.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderLineItemRecord.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_over_all_products.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderLineItemRecord.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_over_all_products.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderLineItemRecord.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_over_all_products.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderLineItemRecord.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_over_all_products.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderLineItemRecord.Access_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_over_all_products.Access_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderLineItemRecord.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>orderIdVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderLineItemRecord.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderLineItemRecord.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderLineItemRecord.Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Location__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderLineItemRecord.Number_of_desks__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_over_all_products.Desk_Count__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderLineItemRecord.End_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_over_all_products.End_Date_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderLineItemRecord.Start_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_over_all_products.Entry_Date_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderLineItemRecord.Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderLineItemRecord.Order_Product_Origin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Original</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderLineItemRecord.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_over_all_products.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderLineItemRecord.Temporary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_over_all_products.Temporary__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderLineItemRecord.Renewal_Price_Adjustment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_over_all_products.Renewal_Price_Adjustment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderLineItemRecord.Include_In_Deposit_Calculations__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_over_all_products.Include_In_Deposit_Calculations__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderLineItemRecord.Renewal_Price_Adjustment_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_over_all_products.Renewal_Price_Adjustment_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderLineItemRecord.Opportunity_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_over_all_products.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderLineItemRecord.Product_Type_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_over_all_products.Products_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderLineItemRecord.Product_Sub_Type_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_over_all_products.Product_Sub_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_the_NewOrderItemRecord_to_the_backage_OrderItem</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Display_the_error</name>
        <label>Display the error</label>
        <locationX>1018</locationX>
        <locationY>1403</locationY>
        <customErrorMessages>
            <errorMessage>⚠️ Warning:
Some products are no longer available on the selected dates. Please choose different dates or products. 🔴</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Assign_owner</name>
        <label>Assign owner</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Assign_sales_person_related_to_location_to_owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>big_deal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Interested_in__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Private Office for 15+</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_big_deal_owner</targetReference>
            </connector>
            <label>big deal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_termination_date</name>
        <label>Check for termination date</label>
        <locationX>930</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Display_the_error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Product not available</defaultConnectorLabel>
        <rules>
            <name>Product_available</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>loop_over_the_order_line_item.Contract__r.Contract_Termination_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_over_all_products.Entry_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>loop_over_the_order_line_item.Contract__r.Contract_Termination_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_over_the_order_line_item</targetReference>
            </connector>
            <label>Product available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_an_overlaping_dates</name>
        <label>Is there an overlaping dates ?</label>
        <locationX>1106</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>loop_over_the_order_line_item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>(4 AND 5)  or (4 and 3)  or (5 AND 1 AND 3) or (1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>loop_over_all_products.Entry_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>loop_over_the_order_line_item.EndDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_over_all_products.End_date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>loop_over_the_order_line_item.ServiceDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_over_all_products.Entry_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>loop_over_the_order_line_item.EndDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_over_all_products.End_date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_over_the_order_line_item.EndDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_termination_date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>opp_status</name>
        <label>opp status ?</label>
        <locationX>248</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Assign_owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>standard opportunity and Stage = new or tour schedule</defaultConnectorLabel>
        <rules>
            <name>Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_opportunity_product_related</targetReference>
            </connector>
            <label>Closed Won</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ContractDuration</name>
        <dataType>Number</dataType>
        <expression>{!$Record.End_Date__c} - {!$Record.Start_Date__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>DescriptionVarSignedContract</name>
        <dataType>String</dataType>
        <expression>&quot;👋 Hey &quot; &amp; $Record.Owner.Name &amp; &quot;, &quot; &amp; $Record.Account.Name &amp; &quot; has signed the contracts! 📝 Location: &quot; &amp; $Record.Location__r.Name &amp; &quot; Start Date: &quot; &amp; TEXT($Record.Designated_Entry_Date__c) &amp; &quot; 🔗 Link to the opp: https://rooms.lightning.force.com/lightning/r/Opportunity/&quot; &amp; $Record.Id &amp; &quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>recipients</name>
        <dataType>String</dataType>
        <expression>&quot;get_ravid_cohen.Email,get_dani_contact_employee_rooms.Email,get_meital_user.Email&quot;</expression>
    </formulas>
    <formulas>
        <name>resultForDeposit</name>
        <dataType>Number</dataType>
        <expression>IF( {!ContractDuration} &lt;= 30, 0,
    IF( AND( {!TotalDesks} &gt;= 1, {!TotalDesks} &lt;= 20), {!TotalAmountMonthly} * 1.5,
        IF( AND( {!TotalDesks} &gt; 20 , {!TotalDesks} &lt;= 75 ), {!TotalAmountMonthly} * 3,
            {!TotalAmountMonthly} * 4
        )
    )
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>StartDateFormulaProduct</name>
        <dataType>Date</dataType>
        <expression>IF(
    OR(
        ISPICKVAL({!loop_over_all_products.Access_Type__c}, &apos;Periodic&apos;),
        ISPICKVAL({!loop_over_all_products.Access_Type__c}, &apos;Monthly&apos;),
        ISPICKVAL({!loop_over_all_products.Access_Type__c}, &apos;Daily&apos;),
        ISPICKVAL({!loop_over_all_products.Access_Type__c}, &apos;One-Time&apos;)
    ),
    {!loop_over_all_products.Entry_Date__c},
{!$Record.Calculated_Start_Date__c}
)</expression>
    </formulas>
    <formulas>
        <name>StartDateRofmulaOrder</name>
        <dataType>Date</dataType>
        <expression>IF (ISNULL({!$Record.Start_Date__c}), {!$Record.Calculated_Start_Date__c}, {!$Record.Start_Date__c})</expression>
    </formulas>
    <interviewLabel>flow 2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contracts and order - opportunity is closed won</label>
    <loops>
        <name>loop_over_all_products</name>
        <label>loop over all products</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <collectionReference>get_opportunity_product_related</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>get_order_product_with_the_product_wanted_to_add</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_the_Order_line_items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_over_the_order_line_item</name>
        <label>Loop over the order line for the current product.</label>
        <locationX>754</locationX>
        <locationY>1079</locationY>
        <collectionReference>get_order_product_with_the_product_wanted_to_add</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_there_an_overlaping_dates</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_value_to_NewOrderItemRecord</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Order</name>
        <label>Create Order</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignRecordIdToReference>orderIdVar</assignRecordIdToReference>
        <connector>
            <targetReference>update_contract_related_after_order_creation</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractId</field>
            <value>
                <elementReference>contractId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>StartDateRofmulaOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>$Record__Prior.Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Origin__c</field>
            <value>
                <stringValue>Original Order</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>$Record.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordCreates>
    <recordCreates>
        <name>Create_the_new_contract_related</name>
        <label>Create the new contract related</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignRecordIdToReference>contractId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Order</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agreement_Type__c</field>
            <value>
                <elementReference>$Record.Contract_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agreement_language__c</field>
            <value>
                <elementReference>$Record.Agreement_language__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Renewal__c</field>
            <value>
                <elementReference>$Record.Automatic_Renewal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credits_for_MR__c</field>
            <value>
                <elementReference>$Record.Credits_for_MR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Renewal_Iteration__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Depusit_Amount_DM__c</field>
            <value>
                <elementReference>$Record.DepositAmount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>$Record__Prior.End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internal_external__c</field>
            <value>
                <elementReference>$Record.Internal_External__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lease_Termination_Notice_Months__c</field>
            <value>
                <elementReference>$Record.Lease_Termination_Notice_Monthes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>$Record__Prior.Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_desks__c</field>
            <value>
                <elementReference>$Record.Number_of_desks__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_members__c</field>
            <value>
                <elementReference>$Record.Number_of_members__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_potential_members__c</field>
            <value>
                <elementReference>$Record.Number_of_potential_members__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin__c</field>
            <value>
                <stringValue>Opporutnity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_Adjustment__c</field>
            <value>
                <elementReference>$Record.Price_Adjustment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>$Record.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prints_B_W__c</field>
            <value>
                <elementReference>$Record.Prints_B_W__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prints_Color__c</field>
            <value>
                <elementReference>$Record.Prints_Color__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Kickoff_Months__c</field>
            <value>
                <elementReference>$Record.Renewal_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Period_Months__c</field>
            <value>
                <elementReference>$Record.Renewal_Period_Months__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Status__c</field>
            <value>
                <stringValue>Not Due</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Total_Iterations__c</field>
            <value>
                <elementReference>$Record.Renewal_Iterations__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Restoration_Fee__c</field>
            <value>
                <elementReference>$Record.Restoration_Fee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Set_Up_Fee__c</field>
            <value>
                <elementReference>$Record.Set_Up_Fee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>StartDateRofmulaOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Track_CPI_Date__c</field>
            <value>
                <elementReference>$Record.Track_CPI_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Track_CPI__c</field>
            <value>
                <elementReference>$Record.Track_CPI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Where_did_the_customer_come_from__c</field>
            <value>
                <elementReference>$Record.Where_did_the_customer_come_from__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordCreates>
    <recordCreates>
        <name>Create_the_Order_line_items</name>
        <label>Create the Order line items</label>
        <locationX>50</locationX>
        <locationY>2171</locationY>
        <connector>
            <targetReference>Activate_Contract</targetReference>
        </connector>
        <inputReference>OrderLineMultipleRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_opportunity_product_related</name>
        <label>get opportunity product related</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_the_new_contract_related</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Hot Desk</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_order_product_with_the_product_wanted_to_add</name>
        <label>get order product with the product wanted to add</label>
        <locationX>754</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_over_the_order_line_item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_over_all_products.Product2.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contract__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Original_Contract__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard Products</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Hot Desk</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Activate_Contract</name>
        <label>Activate Contract</label>
        <locationX>50</locationX>
        <locationY>2279</locationY>
        <connector>
            <targetReference>Add_contract_to_opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contractId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Add_contract_to_opp</name>
        <label>Add contract to opp</label>
        <locationX>50</locationX>
        <locationY>2387</locationY>
        <inputAssignments>
            <field>ContractId</field>
            <value>
                <elementReference>contractId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>assign_big_deal_owner</name>
        <label>assign big deal owner</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record__Prior.Location__r.Big_Deal_Salesperson_15_sales__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_sales_person_related_to_location_to_owner</name>
        <label>Assign sales person related to location to owner</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Location__r.Salesperson__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_contract_related_after_order_creation</name>
        <label>update contract related after order creation</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>loop_over_all_products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contractId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>orderIdVar</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>opp_status</targetReference>
        </connector>
        <filterLogic>(1 AND 3) OR ((2 or 5) AND 3 AND 4)</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tour scheduled</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012J7000000066kIAA</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>contractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contratDurationVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>currentItem_filter_only_standard_products</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>DaniVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>danivar2</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewOrderLineItemRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>oppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Record.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>orderIdVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OrderLineMultipleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>reci</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientcontractsinged</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientsFor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalAmountMonthly</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TotalDesks</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
