force-app/main/default/flows/Generate_Record_Table.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Products_Row</name>
        <label>Add Products Row</label>
        <locationX>138</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ProductsTableRows</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProductsTableRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Output</name>
        <label>Assign Output</label>
        <locationX>50</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>ProductsTableOutput</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductsTable</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Row_Vars</name>
        <label>Set Row Vars</label>
        <locationX>138</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>RowNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsEvenRow</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NotIsEvenRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Products_Row</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_products</name>
        <label>Found products?</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderLineItemCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_products</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsEvenRowStyle</name>
        <dataType>String</dataType>
        <expression>IF({!IsEvenRow}, &quot;background-color: #f2f2f2;&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>NotIsEvenRow</name>
        <dataType>Boolean</dataType>
        <expression>NOT({!IsEvenRow})</expression>
    </formulas>
    <formulas>
        <name>OrgURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_550}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_550}))</expression>
    </formulas>
    <interviewLabel>Generate Record Table {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Record Table</label>
    <loops>
        <name>Loop_products</name>
        <label>Loop products</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <collectionReference>OrderLineItemCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Row_Vars</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Output</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Found_products</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>AllCellsStyle</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>text-align: left; padding: 8px;</text>
    </textTemplates>
    <textTemplates>
        <name>ProductsTable</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;table style=&quot;border-collapse: collapse; width: 100%;&quot;&gt;
    {!ProductsTableHeader}
    {!ProductsTableRows}
&lt;/table&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ProductsTableHeader</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;tr style=&quot;background-color: #4CAF50; color: white;&quot;&gt;
    &lt;th&gt;#&lt;/th&gt;
    &lt;th&gt;Productname&lt;/th&gt;
    &lt;th&gt;Account Name&lt;/th&gt;
    &lt;th&gt;End Date&lt;/th&gt;
    &lt;th&gt;Start Date&lt;/th&gt;
    &lt;th&gt;Contract&lt;/th&gt;
&lt;/tr&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ProductsTableRow</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;tr style=&quot;{!IsEvenRowStyle}&quot;&gt;
    &lt;td style=&quot;{!AllCellsStyle}&quot;&gt;{!RowNumber}&lt;/td&gt;
    &lt;td style=&quot;{!AllCellsStyle}&quot;&gt;&lt;a href=&quot;{!OrgURL}{!Loop_products.Id}&quot;&gt;{!Loop_products.Product2.Name}&lt;/a&gt;&lt;/td&gt;
    &lt;td style=&quot;{!AllCellsStyle}&quot;&gt;{!Loop_products.Contract__r.Account.Name}&lt;/td&gt;
    &lt;td style=&quot;{!AllCellsStyle}&quot;&gt;{!Loop_products.EndDate}&lt;/td&gt;
    &lt;td style=&quot;{!AllCellsStyle}&quot;&gt;{!Loop_products.ServiceDate}&lt;/td&gt;
    &lt;td style=&quot;{!AllCellsStyle}&quot;&gt;{!Loop_products.Account_Contract__c}&lt;/td&gt;
&lt;/tr&gt;</text>
    </textTemplates>
    <variables>
        <name>IsEvenRow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>OrderLineItemCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>ProductsTableOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProductsTableRows</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RowNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
