force-app/main/default/flows/Lead_send_alert_after_24h.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_alert_to_reuven</name>
        <label>Send Email alert to reuven</label>
        <locationX>314</locationX>
        <locationY>984</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>reuvenle@working-rooms.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>reuvenle@working-rooms.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Reminder not sent !</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Reminde not sent because not recipient. Please add contact recipient to this alert email</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_reminder_to_dani</name>
        <label>Send Email reminder to dani</label>
        <locationX>138</locationX>
        <locationY>1092</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_over_all_lead_not_contacted</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>recipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>reuvenle@working-rooms.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Lead not contacted 24h</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>body</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign_emails_of_recipeients_list</name>
        <label>assign emails of recipeients list</label>
        <locationX>270</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Loop_over_all_recipient_contacts.Email},</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_all_recipient_contacts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>any_recipient</name>
        <label>any recipient ?</label>
        <locationX>182</locationX>
        <locationY>876</locationY>
        <defaultConnector>
            <targetReference>Send_Email_alert_to_reuven</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_contact_Recipient_lead_not_touched_alert</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_all_lead_not_contacted</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>yesterday</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - 1</expression>
    </formulas>
    <interviewLabel>Lead - send alert after 24h {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - send alert after 24h</label>
    <loops>
        <name>Loop_over_all_lead_not_contacted</name>
        <label>Loop over all lead not contacted</label>
        <locationX>50</locationX>
        <locationY>984</locationY>
        <collectionReference>Get_lead_not_contacted_from_created_date_in_24h</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_Email_reminder_to_dani</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_over_all_recipient_contacts</name>
        <label>Loop over all recipient contacts</label>
        <locationX>182</locationX>
        <locationY>576</locationY>
        <collectionReference>Get_contact_Recipient_lead_not_touched_alert</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_emails_of_recipeients_list</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>any_recipient</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_contact_Recipient_lead_not_touched_alert</name>
        <label>Get contact Recipient lead not touched alert</label>
        <locationX>182</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_all_recipient_contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Recipient_lead_not_touched_alert__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_email_template</name>
        <label>get email template</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_contact_Recipient_lead_not_touched_alert</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead not contacted 24h / new</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_lead_not_contacted_from_created_date_in_24h</name>
        <label>Get lead not contacted from created date (in 24h)</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_email_template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LastActivityDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>yesterday</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Unqualified,Converted</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_lead_not_contacted_from_created_date_in_24h</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-08-05</startDate>
            <startTime>07:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi Dany,

Quick reminder: a new lead created 24 hours ago hasn&apos;t been contacted yet.
Let&apos;s not keep them waiting! ⏳

Name: {!Loop_over_all_lead_not_contacted.Name}
Email: {!Loop_over_all_lead_not_contacted.Email}
Phone: {!Loop_over_all_lead_not_contacted.MobilePhone}
Company: {!Loop_over_all_lead_not_contacted.Company}

Can you reach out ASAP? 📞

Link to the lead: https://rooms.lightning.force.com/lightning/r/Lead/{!Loop_over_all_lead_not_contacted.Id}/view</text>
    </textTemplates>
    <variables>
        <name>recipients</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
