force-app/main/default/flows/Lead_Before_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Formatted_Phone</name>
        <label>Assign Formatted Phone</label>
        <locationX>1931</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formatted_MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_It_a_New_Book_a_Space_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Classroom_To_Others</name>
        <label>Update Classroom To Others</label>
        <locationX>842</locationX>
        <locationY>2219</locationY>
        <assignmentItems>
            <assignToReference>$Record.Product_Type_From_Web__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_On_Demand_Location_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Desired_Location_with_Sandbox_Location_Id</name>
        <label>Update Desired Location with Sandbox Location Id</label>
        <locationX>1441</locationX>
        <locationY>1343</locationY>
        <assignmentItems>
            <assignToReference>$Record.Desired_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Matching_Location_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_New_Web_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Non_Web_Lead_Location_Area</name>
        <label>Update Non-Web Lead Location Area</label>
        <locationX>2426</locationX>
        <locationY>2003</locationY>
        <assignmentItems>
            <assignToReference>$Record.Location_Area__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Desired_Location__r.Area__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_On_Demand_Location_Details</name>
        <label>Update On Demand Location Details</label>
        <locationX>50</locationX>
        <locationY>2327</locationY>
        <assignmentItems>
            <assignToReference>$Record.Desired_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Site_Matching_Location.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.From_Integration_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FromIntegrationUser</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Interested_in__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product_Type_From_Web__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Product_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>On_demand</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Location_Area__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Site_Matching_Location.Area__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Standard_Location_Details</name>
        <label>Update Standard Location Details</label>
        <locationX>1898</locationX>
        <locationY>2219</locationY>
        <assignmentItems>
            <assignToReference>$Record.Desired_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Site_Matching_Location.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.From_Integration_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FromIntegrationUser</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Interested_in__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IsHotdesk</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Product_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Location_Area__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Site_Matching_Location.Area__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_To_Daily_Service</name>
        <label>Update To Daily Service</label>
        <locationX>578</locationX>
        <locationY>2219</locationY>
        <assignmentItems>
            <assignToReference>$Record.Product_Type_From_Web__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Daily Service</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_On_Demand_Location_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_To_Event</name>
        <label>Update To Event</label>
        <locationX>314</locationX>
        <locationY>2219</locationY>
        <assignmentItems>
            <assignToReference>$Record.Product_Type_From_Web__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Event Space</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_On_Demand_Location_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_To_Meeting_Room</name>
        <label>Update To Meeting Room</label>
        <locationX>50</locationX>
        <locationY>2219</locationY>
        <assignmentItems>
            <assignToReference>$Record.Product_Type_From_Web__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Meeting Room</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_On_Demand_Location_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_To_Office_1_4</name>
        <label>Update To Office 1-4</label>
        <locationX>1370</locationX>
        <locationY>2219</locationY>
        <assignmentItems>
            <assignToReference>$Record.Product_Type_From_Web__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Private Office for 1-4</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Standard_Location_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_To_Open_Space</name>
        <label>Update To Open Space</label>
        <locationX>1106</locationX>
        <locationY>2219</locationY>
        <assignmentItems>
            <assignToReference>$Record.Product_Type_From_Web__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open Space</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Standard_Location_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_To_Others</name>
        <label>Update To Others</label>
        <locationX>1634</locationX>
        <locationY>2219</locationY>
        <assignmentItems>
            <assignToReference>$Record.Product_Type_From_Web__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Standard_Location_Details</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_MobilePhone_needs_formatting</name>
        <label>Check if MobilePhone needs formatting</label>
        <locationX>2063</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Is_It_a_New_Book_a_Space_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Already Formatted</defaultConnectorLabel>
        <rules>
            <name>Needs_Formatting</name>
            <conditionLogic>( 1 AND 2 ) OR ( 1 AND NOT ( 3 ) )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HasSpecialChars</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MobilePhone</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>+972</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Formatted_Phone</targetReference>
            </connector>
            <label>Needs Formatting</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Location</name>
        <label>Found Location?</label>
        <locationX>1568</locationX>
        <locationY>2003</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Location_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Site_Matching_Location</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Spacing_values</targetReference>
            </connector>
            <label>Yes, Location Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_It_a_New_Book_a_Space_Lead</name>
        <label>Is It a New Book a Space Lead?</label>
        <locationX>2063</locationX>
        <locationY>587</locationY>
        <defaultConnector>
            <targetReference>Is_New_Web_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_New_Book_a_Space_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Book_A_Space_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SubSource__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Book A Space</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Desired_Location__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Organization_Data</targetReference>
            </connector>
            <label>Yes, New Book a Space Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Matching_Location_Record_Found</name>
        <label>Is Matching Location Record Found?</label>
        <locationX>1573</locationX>
        <locationY>1235</locationY>
        <defaultConnector>
            <targetReference>Is_New_Web_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Matching_Location_Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Matching_Location_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Desired_Location_with_Sandbox_Location_Id</targetReference>
            </connector>
            <label>Yes, Matching Location Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Matching_Metadata_Record_Found</name>
        <label>Is Matching Metadata Record Found?</label>
        <locationX>1727</locationX>
        <locationY>1019</locationY>
        <defaultConnector>
            <targetReference>Is_New_Web_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Matching_Metadata_Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Location_Name_from_Custom_Metadata</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Matching_Location_Record</targetReference>
            </connector>
            <label>Yes, Matching Metadata Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_Non_Web_Lead</name>
        <label>Is New Non-Web Lead?</label>
        <locationX>2558</locationX>
        <locationY>1895</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_New_Non_Web_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Non_Web_Lead_Location_Area</targetReference>
            </connector>
            <label>Yes, New Non-Web Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_Web_Lead</name>
        <label>Is New Web Lead?</label>
        <locationX>2063</locationX>
        <locationY>1787</locationY>
        <defaultConnector>
            <targetReference>Is_New_Non_Web_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Yes_Web_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Location_from_web__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Site_Matching_Location</targetReference>
            </connector>
            <label>Yes, Web Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>It_is_Sandbox</name>
        <label>It is Sandbox?</label>
        <locationX>1892</locationX>
        <locationY>803</locationY>
        <defaultConnector>
            <targetReference>Is_New_Web_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_It_is_Sandbox</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Organization_Data</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Organization_Data.IsSandbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Location_Name_from_Custom_Metadata</targetReference>
            </connector>
            <label>Yes, It is Sandbox</label>
        </rules>
    </decisions>
    <decisions>
        <description>sppacing values should be change with the following order:
Coworkingspace - 	Open Space  (Standart)
Meetingroom - Meeting Room (ondemand)
Office - Private Office for 1-4 (standard)
Event → 	Event Space (on demand)
Class Room → 	Classroom (On demand)
Other → 	Open Space (standart)</description>
        <name>Spacing_values</name>
        <label>Spacing values?</label>
        <locationX>974</locationX>
        <locationY>2111</locationY>
        <defaultConnector>
            <targetReference>Update_Standard_Location_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Spacing</defaultConnectorLabel>
        <rules>
            <name>Meeting_Room_Space</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Type_From_Web__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Meetingroom</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_To_Meeting_Room</targetReference>
            </connector>
            <label>Meeting Room Space</label>
        </rules>
        <rules>
            <name>Event_Sapce</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Type_From_Web__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Event</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_To_Event</targetReference>
            </connector>
            <label>Event Sapce</label>
        </rules>
        <rules>
            <name>Daily_Service_Space</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Type_From_Web__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DailyOpenSpace</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Type_From_Web__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DailyOffice</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_To_Daily_Service</targetReference>
            </connector>
            <label>Daily Service Space</label>
        </rules>
        <rules>
            <name>Classroom</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Type_From_Web__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Classroom</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Classroom_To_Others</targetReference>
            </connector>
            <label>Classroom</label>
        </rules>
        <rules>
            <name>Open_Space</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Type_From_Web__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CoworkingSpace</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Type_From_Web__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MonthlyOpenSpace</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_To_Open_Space</targetReference>
            </connector>
            <label>Open Space</label>
        </rules>
        <rules>
            <name>Office_Space_1_4</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Type_From_Web__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Office</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Type_From_Web__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MonthlyOffice</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_To_Office_1_4</targetReference>
            </connector>
            <label>Office Space 1-4</label>
        </rules>
        <rules>
            <name>Space_Unknown</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Type_From_Web__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Type_From_Web__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unknown</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_To_Others</targetReference>
            </connector>
            <label>Space Unknown</label>
        </rules>
    </decisions>
    <description>16/10: Salesforce - Braze Integration for Lead &amp; Opportunity Updates: Valid Mobile Phone formatting</description>
    <environments>Default</environments>
    <formulas>
        <name>AutomaticProductTypeValue</name>
        <dataType>String</dataType>
        <expression>IF(
    OR(
        ISPICKVAL({!$Record.Interested_in__c}, &quot;Hot Desk&quot;),
        ISPICKVAL({!$Record.Interested_in__c}, &quot;Open Space&quot;),
        ISPICKVAL({!$Record.Interested_in__c}, &quot;Private Office for 1-4&quot;),
        ISPICKVAL({!$Record.Interested_in__c}, &quot;Private Office for 5-8&quot;),
        ISPICKVAL({!$Record.Interested_in__c}, &quot;Private Office for 9-14&quot;),
        ISPICKVAL({!$Record.Interested_in__c}, &quot;Private Office for 15+&quot;),
        ISPICKVAL({!$Record.Interested_in__c}, &quot;Suite&quot;),
        ISPICKVAL({!$Record.Interested_in__c}, &quot;Large unit (price/m2)&quot;)
    ),
    &quot;Standard&quot;,
    &quot;On demand&quot;
)</expression>
    </formulas>
    <formulas>
        <name>CleanPhone</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
    SUBSTITUTE(
        SUBSTITUTE(
            SUBSTITUTE(
                SUBSTITUTE(
                    SUBSTITUTE(
                        SUBSTITUTE({!$Record.MobilePhone}, &quot; &quot;, &quot;&quot;),
                        &quot;-&quot;, &quot;&quot;
                    ),
                    &quot;(&quot;, &quot;&quot;
                ),
                &quot;)&quot;, &quot;&quot;
            ),
            &quot;.&quot;, &quot;&quot;
        ),
        &quot;/&quot;, &quot;&quot;
    ),
    &quot;+&quot;, &quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>Formatted_MobilePhone</name>
        <dataType>String</dataType>
        <expression>IF(
    ISBLANK({!CleanPhone}),
    &quot;&quot;,
    /* Step 1: Remove duplicate 972 at start */
    IF(
        LEFT({!CleanPhone},6)=&quot;972972&quot;,
        /* Remove duplicate and leading zero if present */
        &quot;+972&quot; &amp;
        IF(
            MID({!CleanPhone},7,1)=&quot;0&quot;,
            MID({!CleanPhone},8,LEN({!CleanPhone})-7),
            MID({!CleanPhone},7,LEN({!CleanPhone})-6)
        ),
        /* Step 2: Starts with 972, single country code */
        IF(
            LEFT({!CleanPhone},3)=&quot;972&quot;,
            &quot;+972&quot; &amp;
            IF(
                MID({!CleanPhone},4,1)=&quot;0&quot;,
                MID({!CleanPhone},5,LEN({!CleanPhone})-4),
                MID({!CleanPhone},4,LEN({!CleanPhone})-3)
            ),
            /* Step 3: No country code, add +972 and remove leading zero if present */
            &quot;+972&quot; &amp;
            IF(
                LEFT({!CleanPhone},1)=&quot;0&quot;,
                RIGHT({!CleanPhone},LEN({!CleanPhone})-1),
                {!CleanPhone}
            )
        )
    )
)</expression>
    </formulas>
    <formulas>
        <name>FromIntegrationUser</name>
        <dataType>Boolean</dataType>
        <expression>IF(BEGINS({!$User.Username}, &quot;integrationuser@rooms.com&quot;), True, False)</expression>
    </formulas>
    <formulas>
        <name>HasSpecialChars</name>
        <dataType>Boolean</dataType>
        <expression>IF(
  ISBLANK({!$Record.MobilePhone}),
  FALSE,
  OR(
    CONTAINS({!$Record.MobilePhone}, &quot; &quot;),
    CONTAINS({!$Record.MobilePhone}, &quot;-&quot;),
    CONTAINS({!$Record.MobilePhone}, &quot;(&quot;),
    CONTAINS({!$Record.MobilePhone}, &quot;)&quot;),
    CONTAINS({!$Record.MobilePhone}, &quot;.&quot;),
    CONTAINS({!$Record.MobilePhone}, &quot;/&quot;),
    CONTAINS({!$Record.MobilePhone}, &quot;+&quot;)
  )
)</expression>
    </formulas>
    <formulas>
        <name>IsHotdesk</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.Product_Type_From_Web__c}, &apos;Hot Desk&apos;), &apos;Hot Desk&apos;, TEXT({!$Record.Product_Type_From_Web__c}))</expression>
    </formulas>
    
    <interviewLabel>Lead Before Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Before Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Location_Name_from_Custom_Metadata</name>
        <label>Get Location Name from Custom Metadata</label>
        <locationX>1727</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Matching_Metadata_Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Desired_Location__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Location_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Matching_Location_Record</name>
        <label>Get Matching Location Record</label>
        <locationX>1573</locationX>
        <locationY>1127</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Matching_Location_Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Location_Name_from_Custom_Metadata.Label</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Locations__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Organization_Data</name>
        <label>Get Organization Data</label>
        <locationX>1892</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>It_is_Sandbox</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Organization</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Site_Matching_Location</name>
        <label>Site Matching Location</label>
        <locationX>1568</locationX>
        <locationY>1895</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Location</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Site_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Location_from_web__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Locations__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1937</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_MobilePhone_needs_formatting</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>IntrestedInVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>ValidProductFromWebVlaueChoosen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
