force-app/main/default/flows/Lead_After_Save_Async.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Post_Request_To_Book_A_Space</name>
        <label>Send Post Request To Book A Space</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>SendPostRequesttoBookaSpace.Send_Post_Request_to_Book_a_Space</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Has_Received_Response_is_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Book_a_Space_Sync_Status</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>HTTPRequestBody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendPostRequesttoBookaSpace.Send_Post_Request_to_Book_a_Space</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>HTTPResponseBody</assignToReference>
            <name>2XX</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>HTTPResponseCode</assignToReference>
            <name>responseCode</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>HTTPResponseMessage</assignToReference>
            <name>defaultExc</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Request_Body_value</name>
        <label>Assign Request Body value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>HTTPRequestBody.LeadCreatedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HTTPRequestBody.PeopleCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Number_of_potential_members__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HTTPRequestBody.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HTTPRequestBody.SalesforceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HTTPRequestBody.LocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LocationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HTTPRequestBody.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HTTPRequestBody.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LeadSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HTTPRequestBody.RoomType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Interested_in__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HTTPRequestBody.SubSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SubSource__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HTTPRequestBody.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HTTPRequestBody.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Location_Area__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HTTPRequestBody.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HTTPRequestBody.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HTTPRequestBody.Notes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Description__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Post_Request_To_Book_A_Space</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Book_a_Space_Id</name>
        <label>Update Book a Space Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Lead.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.Book_A_Space_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HTTPResponseBody.offerRequestId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.Book_A_Space_Sync_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HTTPResponseBody.responseMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_Update_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Book_a_Space_Sync_Status</name>
        <label>Update Book a Space Sync Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Lead.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.Book_A_Space_Sync_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BookaSpaceSyncStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Should_Update_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_LocationId_from_Metadata</name>
        <label>Update LocationId from Metadata</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>LocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Production_Location_Id_from_Custom_Metadata.Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Request_Body_value</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Organization</name>
        <label>Check Organization?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Request_Body_value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>It_Is_Sandbox</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Organization_Data</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Organization_Data.IsSandbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Production_Location_Id_from_Custom_Metadata</targetReference>
            </connector>
            <label>It Is Sandbox</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Received_Response_is_Success</name>
        <label>Has Received Response is Success?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Should_Update_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Success_Response</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HTTPResponseBody.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HTTPResponseBody.offerRequestId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Book_a_Space_Id</targetReference>
            </connector>
            <label>Yes, Success Response</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Matching_Metadata_Record_Found</name>
        <label>Is Matching Metadata Record Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Request_Body_value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Matching_Metadata_Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Production_Location_Id_from_Custom_Metadata</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_LocationId_from_Metadata</targetReference>
            </connector>
            <label>Yes, Matching Metadata Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Update_Lead</name>
        <label>Should Update Lead?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Record</targetReference>
            </connector>
            <label>Yes, Update Lead</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>BookaSpaceSyncStatus</name>
        <dataType>String</dataType>
        <expression>LEFT( &apos;Failed - &apos; &amp; TEXT({!HTTPResponseCode}) &amp; &apos; - &apos; &amp; BLANKVALUE({!ResponseMessage}, &apos;&apos;),  255)</expression>
    </formulas>
    <formulas>
        <name>ResponseMessage</name>
        <dataType>String</dataType>
        <expression>IF( CONTAINS({!HTTPResponseMessage}, &apos;&quot;responseMessage&quot;&apos;), MID( {!HTTPResponseMessage}, FIND(&apos;&quot;responseMessage&quot;:&quot;&apos;, {!HTTPResponseMessage}) + LEN(&apos;&quot;responseMessage&quot;:&quot;&apos;), FIND( &apos;&quot;&apos;, {!HTTPResponseMessage}, FIND(&apos;&quot;responseMessage&quot;:&quot;&apos;, {!HTTPResponseMessage}) + LEN(&apos;&quot;responseMessage&quot;:&quot;&apos;) ) - (FIND(&apos;&quot;responseMessage&quot;:&quot;&apos;, {!HTTPResponseMessage}) + LEN(&apos;&quot;responseMessage&quot;:&quot;&apos;)) ), &apos;&apos; )</expression>
    </formulas>
    <interviewLabel>Lead After Save Async {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead After Save Async</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Organization_Data</name>
        <label>Get Organization Data</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Organization</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Organization</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Production_Location_Id_from_Custom_Metadata</name>
        <label>Get Production Location Id from Custom Metadata</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Matching_Metadata_Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Desired_Location__r.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Location_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead_Record</name>
        <label>Update Lead Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Lead</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Book_A_Space_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Organization_Data</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>HTTPRequestBody</name>
        <apexClass>ExternalService__SendPostRequesttoBookaSpace_Sendx5fPostx5fRequestx5ftox5fBookx5fax5fSpace_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HTTPResponseBody</name>
        <apexClass>ExternalService__SendPostRequesttoBookaSpace_Sendx5fPostx5fRequestx5ftox5fBookx5fax5fSpace_OUT_2XX</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HTTPResponseCode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>HTTPResponseMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>LocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Desired_Location__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>r</name>
        <apexClass>ExternalService__SendPostRequesttoBookaSpace_Sendx5fPostx5fRequestx5ftox5fBookx5fax5fSpace_OUT_2XX</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
