force-app/main/default/flows/Opportunity_Product_Update_Monthly_Payments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_1_to_count</name>
        <label>Add 1 to count</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>MPRecordVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_MP</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MPRecordVar.Count_Triggers__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MPrecordCollectionVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MPRecordVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_MP</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Opportunity Product - Update Monthly Payments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Product - Update Monthly Payments</label>
    <loops>
        <name>Loop_MP</name>
        <label>Loop MP</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Monthly_payments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_1_to_count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Monthly_Payments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Monthly_payments</name>
        <label>Get Monthly payments</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_MP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityLineItem__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MonthlyPayment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Monthly_Payments</name>
        <label>Update Monthly Payments</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <inputReference>MPrecordCollectionVar</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Monthly_payments</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Entry_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>End_date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CountVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>MPrecordCollectionVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MonthlyPayment__c</objectType>
    </variables>
    <variables>
        <name>MPRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MonthlyPayment__c</objectType>
    </variables>
</Flow>
