force-app/main/default/flows/Opportunity_Plan_a_Visit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_1</name>
        <label>Assignment 1</label>
        <locationX>891</locationX>
        <locationY>2066</locationY>
        <assignmentItems>
            <assignToReference>startdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_2</name>
        <label>Assignment 2</label>
        <locationX>891</locationX>
        <locationY>2174</locationY>
        <assignmentItems>
            <assignToReference>endDate2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ENDdatetime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_location</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Attended</name>
        <choiceText>Attended</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Attended</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cancel_my_Tour</name>
        <choiceText>Cancel my Tour</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancel my Tour</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cancel_my_visit</name>
        <choiceText>Cancel my visit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancel my visit</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cancel_the_Tour</name>
        <choiceText>Cancel the Tour</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancel the Tour </stringValue>
        </value>
    </choices>
    <choices>
        <name>Cancelled</name>
        <choiceText>Cancelled</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancelled</stringValue>
        </value>
    </choices>
    <choices>
        <name>Completed</name>
        <choiceText>Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Show</name>
        <choiceText>No Show</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Show</stringValue>
        </value>
    </choices>
    <choices>
        <name>On_hold</name>
        <choiceText>On hold</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>On hold</stringValue>
        </value>
    </choices>
    <choices>
        <name>To_change</name>
        <choiceText>To change</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>To change</stringValue>
        </value>
    </choices>
    <choices>
        <name>To_update</name>
        <choiceText>To update</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>To update</stringValue>
        </value>
    </choices>
    <choices>
        <name>Update_my_Tour</name>
        <choiceText>Update my Tour</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Update my Tour</stringValue>
        </value>
    </choices>
    <choices>
        <name>Update_my_visit</name>
        <choiceText>Update my visit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Update my visit</stringValue>
        </value>
    </choices>
    <choices>
        <name>Update_the_Tour</name>
        <choiceText>Update the Tour</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Update the Tour</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes3</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes4</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Decision_5</name>
        <label>Decision 5</label>
        <locationX>864</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_delete_the_event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdatemyTour</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Cancel_the_Tour</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>delete_the_event</targetReference>
            </connector>
            <label>Delete</label>
        </rules>
    </decisions>
    <decisions>
        <name>event_status</name>
        <label>event status</label>
        <locationX>182</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>status_completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Attented</defaultConnectorLabel>
        <rules>
            <name>not_show</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_event.Attentance_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Show</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_status_completed</targetReference>
            </connector>
            <label>not show</label>
        </rules>
    </decisions>
    <decisions>
        <name>status4</name>
        <label>status</label>
        <locationX>336</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Update_Cancelled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cancelled</defaultConnectorLabel>
        <rules>
            <name>Completed5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Attendance_Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Cancelled</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Completed</targetReference>
            </connector>
            <label>Attended or Not Show</label>
        </rules>
    </decisions>
    <decisions>
        <name>the_tourpassed_in_theory</name>
        <label>the tourpassed in theory ?</label>
        <locationX>523</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>my_visit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_event.StartDateTime</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>currendatetime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tour_completed</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tour_already_planned</name>
        <label>Tour already planned ?</label>
        <locationX>891</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>dates_time</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_event</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>the_tourpassed_in_theory</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tour_completed</name>
        <label>Tour completed ?</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>update_visit_status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_event.Attentance_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Tour</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>event_status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ENDdatetime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE( {!startdate} + (0.5/24) )</expression>
    </formulas>
    <formulas>
        <name>reminderDate</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE( {!ENDdatetime} - (2/24) )</expression>
    </formulas>
    <interviewLabel>Opportunity - Plan a Visit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Plan a Visit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_the_event</name>
        <label>Create the event</label>
        <locationX>891</locationX>
        <locationY>2498</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>get_event</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDateTime</field>
            <value>
                <elementReference>startdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attentance_Status__c</field>
            <value>
                <stringValue>Awaiting Tour</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>endDate2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location</field>
            <value>
                <elementReference>get_location.Site_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>reminderDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Tour</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>get_opp.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>get_contact_id.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Copy_1_of_delete_the_event</name>
        <label>Copy 1 of delete the event</label>
        <locationX>996</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>dates_time</targetReference>
        </connector>
        <inputReference>get_event</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>delete_the_event</name>
        <label>delete the event</label>
        <locationX>732</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Tour_delete</targetReference>
        </connector>
        <inputReference>get_event</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>get_contact_id</name>
        <label>get contact id</label>
        <locationX>891</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tour_already_planned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_opp.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_event</name>
        <label>get event</label>
        <locationX>891</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recodId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tour</stringValue>
            </value>
        </filters>
        <filters>
            <field>Attentance_Status__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_location</name>
        <label>get location</label>
        <locationX>891</locationX>
        <locationY>2282</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_opp_date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_opp.Location__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Locations__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_opp</name>
        <label>get opp</label>
        <locationX>891</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_contact_id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recodId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Cancelled</name>
        <label>Update Cancelled</label>
        <locationX>468</locationX>
        <locationY>998</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>delete_the_event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_opp.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tour_Status__c</field>
            <value>
                <elementReference>Cancelled</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Completed</name>
        <label>Update Completed</label>
        <locationX>204</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>update_Event_attentance_status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_opp.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tour_Status__c</field>
            <value>
                <elementReference>Attendance_Status</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Event_attentance_status</name>
        <label>update Event attentance status</label>
        <locationX>204</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>event_status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_event.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Attentance_Status__c</field>
            <value>
                <elementReference>Attendance_Status</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_opp_date</name>
        <label>update opp date</label>
        <locationX>891</locationX>
        <locationY>2390</locationY>
        <connector>
            <targetReference>Create_the_event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recodId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Tour scheduled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tour_end_date_and_time__c</field>
            <value>
                <elementReference>ENDdatetime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tour_start_date_and_time__c</field>
            <value>
                <elementReference>startdate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>action1</name>
        <label>action</label>
        <locationX>864</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_5</targetReference>
        </connector>
        <fields>
            <name>UpdatemyTour</name>
            <choiceReferences>Cancel_the_Tour</choiceReferences>
            <choiceReferences>Update_the_Tour</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Update the Tour</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_status_completed</name>
        <label>Copy 1 of status completed</label>
        <locationX>50</locationX>
        <locationY>1490</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_visit_planned</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;📅&lt;/span&gt; &lt;strong style=&quot;font-size: 20px; color: rgb(0, 0, 0);&quot;&gt;Attendance status : &lt;/strong&gt;&lt;span style=&quot;font-size: 20px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; No Show&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;➡️&lt;/span&gt; &lt;strong style=&quot;font-size: 20px; color: rgb(5, 0, 0);&quot;&gt;Start Date &lt;/strong&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;: &lt;/strong&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;{!get_opp.Tour_start_date_and_time__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;⏹️&lt;/span&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(0, 0, 0);&quot;&gt;End Date :&lt;/strong&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;{!get_opp.Tour_end_date_and_time__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Tour Completed</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>dates_time</name>
        <label>dates&amp;time</label>
        <locationX>891</locationX>
        <locationY>1958</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assignment_1</targetReference>
        </connector>
        <fields>
            <name>Plan_yournextvisit</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(0, 0, 0);&quot;&gt;Plan an upcoming Tour with: &lt;/strong&gt;&lt;span style=&quot;font-size: 18px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!get_contact_id.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>get_opp.Location__c</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Start</name>
            <dataType>DateTime</dataType>
            <fieldText>Start ➡️</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Plan an new Tour</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>my_visit</name>
        <label>my tour</label>
        <locationX>864</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>action1</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_1_of_visit_planned</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot; style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;📅&lt;/span&gt;&lt;strong style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;✅&lt;/strong&gt;&lt;span style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;You have planned a Tour with&lt;/strong&gt;&lt;strong style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!get_contact_id.Name}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot; style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot; class=&quot;ql-indent-1&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;➡️&lt;/span&gt; &lt;strong style=&quot;font-size: 20px;&quot;&gt;Start Date : &lt;/strong&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;{!get_opp.Tour_start_date_and_time__c}   - &lt;/span&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;End Date : &lt;/strong&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;{!get_opp.Tour_end_date_and_time__c} &lt;/span&gt;&lt;span style=&quot;font-size: 20px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;⏹️&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot; class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 20px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot; style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Attendance Status : &lt;/strong&gt;&lt;span style=&quot;font-size: 20px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Awaiting Tour&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Update this Tour</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>status_completed</name>
        <label>status completed</label>
        <locationX>314</locationX>
        <locationY>1490</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_visit_planned</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot; style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;📅&lt;/span&gt; &lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 20px;&quot;&gt;Attentance status : &lt;/strong&gt;&lt;span style=&quot;font-size: 20px; color: rgb(0, 0, 0);&quot;&gt;Attended &lt;/span&gt;&lt;span style=&quot;font-size: 20px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot; style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot; style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;➡️&lt;/span&gt; &lt;strong style=&quot;font-size: 20px; color: rgb(5, 0, 0);&quot;&gt;Start Date &lt;/strong&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;: &lt;/strong&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;{!get_opp.Tour_start_date_and_time__c} - &lt;/span&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(0, 0, 0);&quot;&gt;End Date :&lt;/strong&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;{!get_opp.Tour_end_date_and_time__c}&lt;/span&gt;&lt;span style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;⏹️&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Tour Completed</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Tour_delete</name>
        <label>Tour delete</label>
        <locationX>732</locationX>
        <locationY>1106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>dates_time</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_2_of_Copy_1_of_Copy_1_of_visit_planned</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot; style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;📅❌&lt;/span&gt; &lt;strong style=&quot;font-size: 20px; color: rgb(0, 0, 0);&quot;&gt;You have delete  the Tour !&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Plan new tour</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>update_visit_status</name>
        <label>update visit status</label>
        <locationX>336</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>status4</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_1_of_Copy_1_of_visit_planned</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot; style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;📅&lt;/span&gt;&lt;strong style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;✅&lt;/strong&gt; &lt;strong style=&quot;font-size: 20px; color: rgb(0, 0, 0);&quot;&gt;The tour has been planned with&lt;/strong&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;font-size: 20px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!get_contact_id.Name}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot; style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot; style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;➡️&lt;/span&gt; &lt;strong style=&quot;font-size: 20px; color: rgb(0, 0, 0);&quot;&gt;Start Date:&lt;/strong&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;{!get_opp.Tour_start_date_and_time__c} -&lt;/span&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(0, 0, 0);&quot;&gt;End Date: &lt;/strong&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;{!get_opp.Tour_end_date_and_time__c}&lt;/span&gt;&lt;span style=&quot;font-size: 20px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;⏹️&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot; style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot; style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Please specify if this Tour has been done:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Attendance_Status</name>
            <choiceReferences>Attended</choiceReferences>
            <choiceReferences>No_Show</choiceReferences>
            <choiceReferences>Cancelled</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Attendance Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Update Status</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>765</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_event</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>currendatetime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>endDate2</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recodId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>startdate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
