force-app/main/default/flows/Opportunity_Contract_Signed_Lost_Reason_price_email_alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>182</locationX>
        <locationY>1463</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>RecipientsForEmailsAlert</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>reuvenle@working-rooms.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>template</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_contact_recipien</name>
        <label>Assign contact recipient</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>AllContactRecipientCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_2_of_Get_contact_recipients</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_all_contact_recipients</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_recipient_contact</name>
        <label>Assign recipient contact</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>AllContactRecipientCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_contact_recipients</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_all_contact_recipients</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_recipient_email</name>
        <label>assign recipient email</label>
        <locationX>402</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>RecipientsForEmailsAlert</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Loop_over_all_contact_recipients.Email},</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_all_contact_recipients</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_for_contract_signed</name>
        <label>Assign values for contract signed</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>RecipientsForEmailsAlert</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Get_site_manager.Email},{!$Record.Location__r.Site_Manager__r.Email},</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>template</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Body</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>🎉 Congrats !</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_contact_recipients</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_for_lost_reason_price</name>
        <label>Assign values for lost reason price</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>template</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BodyPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opportunity Lost ! Reason: Price Too High 💸</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Get_contact_recipients</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>is_there_any_contact_recipients</name>
        <label>is there any contact recipients ?</label>
        <locationX>314</locationX>
        <locationY>1355</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllContactRecipientCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>what_is_the_opp_stage</name>
        <label>what is the opp stage ?</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Loop_over_all_contact_recipients</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contract_Signed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deposit and Documents received</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_meital_user</targetReference>
            </connector>
            <label>&quot;Contract Signed&quot;</label>
        </rules>
        <rules>
            <name>Close_lost_price</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Loss_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Price</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_values_for_lost_reason_price</targetReference>
            </connector>
            <label>Close lost, price</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Contract Signed / Lost Reason price email alert</label>
    <loops>
        <name>Loop_over_all_contact_recipients</name>
        <label>Loop over all contact recipients</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <collectionReference>AllContactRecipientCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_recipient_email</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>is_there_any_contact_recipients</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_2_of_Get_contact_recipients</name>
        <label>Get contact recipients 2</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_contact_recipien</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Recipient_opportunity_lost_price_alert__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsEmailBounced</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_contact_recipients</name>
        <label>Get contact recipients</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_recipient_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Recipient_contract_signed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsEmailBounced</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_meital_user</name>
        <label>Get meital user</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_site_manager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meital Shimron</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_site_manager</name>
        <label>Get site manager</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_values_for_contract_signed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Location__r.Site_Manager__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>what_is_the_opp_stage</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Deposit and Documents received</stringValue>
            </value>
        </filters>
        <filters>
            <field>Loss_Reason__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Price</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>👋 Hey, {!$Record.Account.Name}  has signed the contract! 📝

Location: {!$Record.Location__r.Name}

Start Date: {!$Record.Start_Date__c}

🔗 Link to the opp: https://rooms.lightning.force.com/lightning/r/Opportunity/{!$Record.Id}/view</text>
    </textTemplates>
    <textTemplates>
        <name>BodyPrice</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>🚨 Heads-up that we lost an opportunity because our price was a bit too high. 😔

Opportunity: {!$Record.Name}

🔗Link: https://rooms.lightning.force.com/lightning/r/Opportunity/{!$Record.Id}/view</text>
    </textTemplates>
    <variables>
        <name>AdditionalUserRecipient</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AllContactRecipientCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>EmailTemplateVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecipientCriterias</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientForContractSigned</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientForLostReasonPrice</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecipientsForEmailsAlert</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>template</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
