force-app/main/default/flows/Opportunity_Product_Renewal_Price_Adjustments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Create_Product_Var_and_add_to_collection</name>
        <label>Create Product Var and add to collection</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>VarOppProduct.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.ScreenRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOppProduct.Renewal_Price_Adjustment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Price_Adjustment_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOppProduct.Renewal_Price_Adjustment_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Price_Adjustment_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ColeectionOpportunityProduct</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarOppProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Opportunity- Product Renewal Price Adjutment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity- Product Renewal Price Adjustments</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>ProductList.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Product_Var_and_add_to_collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Records_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_opportunity_products</name>
        <label>Get opportunity products</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PriceAdjutmentScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Access_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Periodic</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records_1</name>
        <label>Update Records 1</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <inputReference>ColeectionOpportunityProduct</inputReference>
    </recordUpdates>
    <screens>
        <name>PriceAdjutmentScreen</name>
        <label>PriceAdjutmentScreen</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <fields>
            <name>ProductList</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>ProductRecord</name>
                <extensionName>flowruntime:lookup</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputParameters>
                    <name>fieldApiName</name>
                    <value>
                        <stringValue>Product2Id</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>label</name>
                    <value>
                        <stringValue>Product</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>objectApiName</name>
                    <value>
                        <stringValue>OpportunityLineItem</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>disabled</name>
                    <value>
                        <booleanValue>true</booleanValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>maxValues</name>
                    <value>
                        <numberValue>1.0</numberValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>recordId</name>
                    <value>
                        <elementReference>Get_opportunity_products[$EachItem].Product2Id</elementReference>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>CurrentProductPrice</name>
                <dataType>Currency</dataType>
                <defaultValue>
                    <elementReference>Get_opportunity_products[$EachItem].ListPrice</elementReference>
                </defaultValue>
                <fieldText>Price</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isReadOnly>
                    <booleanValue>true</booleanValue>
                </isReadOnly>
                <isRequired>true</isRequired>
                <scale>0</scale>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>ScreenProductEntryDate</name>
                <dataType>Date</dataType>
                <defaultValue>
                    <elementReference>Get_opportunity_products[$EachItem].Entry_Date__c</elementReference>
                </defaultValue>
                <fieldText>Entry Date</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isReadOnly>
                    <booleanValue>true</booleanValue>
                </isReadOnly>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>ScreenProductEndDate</name>
                <dataType>Date</dataType>
                <defaultValue>
                    <elementReference>Get_opportunity_products[$EachItem].End_date__c</elementReference>
                </defaultValue>
                <fieldText>End Date</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isReadOnly>
                    <booleanValue>true</booleanValue>
                </isReadOnly>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Price_Adjustment_1</name>
                <dataType>Number</dataType>
                <defaultValue>
                    <elementReference>Get_opportunity_products[$EachItem].Renewal_Price_Adjustment__c</elementReference>
                </defaultValue>
                <fieldText>Price Adjustment #1 (%)</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <scale>2</scale>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Price_Adjustment_2</name>
                <dataType>Number</dataType>
                <defaultValue>
                    <elementReference>Get_opportunity_products[$EachItem].Renewal_Price_Adjustment_2__c</elementReference>
                </defaultValue>
                <fieldText>Price Adjustment #2 (%)</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <scale>2</scale>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>recordId.Renewal_Iterations__c</leftValueReference>
                        <operator>NotEqualTo</operator>
                        <rightValue>
                            <stringValue>1</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>ScreenRecordId</name>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>Get_opportunity_products[$EachItem].Id</elementReference>
                </defaultValue>
                <fieldText>Record Id</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isReadOnly>
                    <booleanValue>true</booleanValue>
                </isReadOnly>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <inputParameters>
                <name>collection</name>
                <value>
                    <elementReference>Get_opportunity_products</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canAddItem</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canRemoveItem</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_opportunity_products</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>ColeectionOpportunityProduct</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>VarOppProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
