force-app/main/default/flows/Opportunity_contract_awaiting_signature.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Send_Email_to_reuven</name>
        <label>Send Email error to reuven</label>
        <locationX>1458</locationX>
        <locationY>792</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>reuvenle@working-rooms.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>reuvenle@working-rooms.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Reminder email Failed !</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>A reminder email to the customer could not be sent because the opportunity does not have a contact attached!  link : https://rooms.lightning.force.com/lightning/r/Opportunity/{!$Record.Id}/view</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Email_alert</name>
        <label>Email alert</label>
        <locationX>50</locationX>
        <locationY>984</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>recipientsAlertEntry</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>reuvenle@working-rooms.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Location__r.Salesperson__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_the_email_template.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_after_2_days_to_primary_related_contact</name>
        <label>Send Email after 2 days to primary related contact</label>
        <locationX>2162</locationX>
        <locationY>1008</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Copy_2_of_Create_note_on_the_opportunity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>reuvenle@working-rooms.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Loop_over_all_contact_roles_awaiting.Contact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Awaiting_for_Sign_Contract_Template.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_After_X_days_to_contact_related</name>
        <label>Send Email After X days to contact related</label>
        <locationX>930</locationX>
        <locationY>1608</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>note_on_opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Get_the_first_contact_role_id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>get_email_template_id.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_After_X_days_to_primary_contact_related</name>
        <label>Send Email After X days to primary contact related</label>
        <locationX>1018</locationX>
        <locationY>1008</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Copy_2_of_note_on_opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>reuvenle@working-rooms.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Loop_over_all_contact_role.Contact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>get_email_template_id.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_afterX_days_to_related_contact</name>
        <label>Send Email afterX days to related contact</label>
        <locationX>2074</locationX>
        <locationY>1608</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_note</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>get_the_first_contact_role_id522.Contact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Awaiting_for_Sign_Contract_Template.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_alert</name>
        <label>Send Email alert</label>
        <locationX>2338</locationX>
        <locationY>1092</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>recipientforContractExpired</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>reuvenle@working-rooms.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>!  驻 转拽祝</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_reuven</name>
        <label>Send Email error to reuven</label>
        <locationX>314</locationX>
        <locationY>792</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>reuvenle@working-rooms.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>reuvenle@working-rooms.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Reminder email Failed !</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>A reminder email to the customer could not be sent because the opportunity does not have a contact attached!  link : https://rooms.lightning.force.com/lightning/r/Opportunity/{!$Record.Id}/view</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_email_recipient</name>
        <label>Assign email recipient</label>
        <locationX>138</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>recipientsAlertEntry</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Loop_over_relevent_recipient.Email},</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_relevent_recipient</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_recipients</name>
        <label>assign recipients</label>
        <locationX>2558</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>recipientforContractExpired</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Loop_over_all_contact_employee_recipient.Email},</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_all_contact_employee_recipient</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_contact_roles</name>
        <label>Any contact roles ?</label>
        <locationX>622</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>Loop_over_all_contact_role</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default path</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_contact_related</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_reuven</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_contact_rolest</name>
        <label>Any contact roles ?</label>
        <locationX>1766</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>Loop_over_all_contact_roles_awaiting</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>no8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_all_related_contact_role_awating</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Send_Email_to_reuven</targetReference>
            </connector>
            <label>no</label>
        </rules>
    </decisions>
    <decisions>
        <name>blank_recipient</name>
        <label>blank recipient ?</label>
        <locationX>2470</locationX>
        <locationY>984</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>no2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_recipients_for_alert</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_alert</targetReference>
            </connector>
            <label>no</label>
        </rules>
    </decisions>
    <decisions>
        <name>How_many_days_has_the_contract_sent_been_pending</name>
        <label>How many days has the contract sent been pending?</label>
        <locationX>2316</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Nothing</defaultConnectorLabel>
        <rules>
            <name>Reminder_Awaiting_Sign_for_2_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dateOfLastChangeStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>currentMinus2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Awaiting_for_Sign_Contract_Template</targetReference>
            </connector>
            <label>Reminder Awaiting Sign - for 2 days</label>
        </rules>
        <rules>
            <name>for_3_5_7_days_contract_experied</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>dateOfLastChangeStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>currentMinus3</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>dateOfLastChangeStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>currentMinus5</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>dateOfLastChangeStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>currentMinus7</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Contract_Expired_template_id</targetReference>
            </connector>
            <label>for 3/5/7 days contract experied</label>
        </rules>
    </decisions>
    <decisions>
        <name>How_many_days_has_the_filing_and_document_statge_been_pending</name>
        <label>How many days has the filing and document statge been pending?</label>
        <locationX>622</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Alert_if_entry_date_is_in_less_than_3_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dateOfLastChangeStage</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>currentPlus3</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Start_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>currentdate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_the_email_template</targetReference>
            </connector>
            <label>Alert if entry date is in less than 3 days</label>
        </rules>
        <rules>
            <name>Deposit_Docs_wait_3_5_7_days</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>dateOfLastChangeStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>currentMinus3</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>dateOfLastChangeStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>currentMinus5</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>dateOfLastChangeStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>currentMinus7</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_email_template_id</targetReference>
            </connector>
            <label>Deposit&amp;Docs wait 3/5/7 days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_a_contact_primary</name>
        <label>Is a contact primary ?</label>
        <locationX>1150</locationX>
        <locationY>900</locationY>
        <defaultConnector>
            <targetReference>Loop_over_all_contact_role</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_all_contact_role.IsPrimary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_After_X_days_to_primary_contact_related</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_a_primary_contact_role</name>
        <label>Is a primary contact role ?</label>
        <locationX>2294</locationX>
        <locationY>900</locationY>
        <defaultConnector>
            <targetReference>Loop_over_all_contact_roles_awaiting</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_all_contact_roles_awaiting.IsPrimary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_after_2_days_to_primary_related_contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>stage_in_wait</name>
        <label>stage in wait ?</label>
        <locationX>1876</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Deposit_and_Documents_received</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deposit and Documents received</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>How_many_days_has_the_filing_and_document_statge_been_pending</targetReference>
            </connector>
            <label>Deposit and Documents received</label>
        </rules>
        <rules>
            <name>Contract_Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>How_many_days_has_the_contract_sent_been_pending</targetReference>
            </connector>
            <label>Contract Sent</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>currentdate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <formulas>
        <name>currentMinus2</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - 2</expression>
    </formulas>
    <formulas>
        <name>currentMinus3</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} -3</expression>
    </formulas>
    <formulas>
        <name>currentMinus5</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - 5</expression>
    </formulas>
    <formulas>
        <name>currentMinus7</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - 7</expression>
    </formulas>
    <formulas>
        <name>currentPlus3</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+3</expression>
    </formulas>
    <formulas>
        <name>dateOfLastChangeStage</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.LastStageChangeDate})</expression>
    </formulas>
    <formulas>
        <name>EmailsToSent</name>
        <dataType>String</dataType>
        <expression>{!$Record.Location__r.Salesperson__r.Email}&amp;&quot;, ravidco@working-rooms.com&quot;</expression>
    </formulas>
    <interviewLabel>Opportunity - contract awaiting signature {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - contract/deposit&amp;documents awaiting</label>
    <loops>
        <name>Loop_over_all_contact_employee_recipient</name>
        <label>Loop over all contact employee recipient</label>
        <locationX>2470</locationX>
        <locationY>684</locationY>
        <collectionReference>Get_recipients_for_alert</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_recipients</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>blank_recipient</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_all_contact_role</name>
        <label>Loop over all contact role</label>
        <locationX>930</locationX>
        <locationY>792</locationY>
        <collectionReference>get_contact_related</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_a_contact_primary</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_the_first_contact_role_id</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_all_contact_roles_awaiting</name>
        <label>Loop over all contact roles (awaiting)</label>
        <locationX>2074</locationX>
        <locationY>792</locationY>
        <collectionReference>get_all_related_contact_role_awating</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_a_primary_contact_role</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_the_first_contact_role_id522</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_relevent_recipient</name>
        <label>Loop over relevent recipient</label>
        <locationX>50</locationX>
        <locationY>684</locationY>
        <collectionReference>get_recipients_for_alert_entry_date</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_email_recipient</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Email_alert</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_2_of_Create_note_on_the_opportunity</name>
        <label>Create note on the opportunity</label>
        <locationX>2162</locationX>
        <locationY>1116</locationY>
        <inputAssignments>
            <field>Body</field>
            <value>
                <stringValue> 转专转 转转 </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <stringValue> 转专 砖 拽</stringValue>
            </value>
        </inputAssignments>
        <object>Note</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_note_on_opp</name>
        <label>note on opp</label>
        <locationX>1018</locationX>
        <locationY>1116</locationY>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <stringValue>砖   拽: 拽砖 砖转 住</stringValue>
            </value>
        </inputAssignments>
        <object>Note</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_note</name>
        <label>Create note on the opportunity</label>
        <locationX>2074</locationX>
        <locationY>1716</locationY>
        <inputAssignments>
            <field>Body</field>
            <value>
                <stringValue> 转专转 转转 </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <stringValue> 转专 砖 拽</stringValue>
            </value>
        </inputAssignments>
        <object>Note</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>note_on_opp</name>
        <label>note on opp</label>
        <locationX>930</locationX>
        <locationY>1716</locationY>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <stringValue>砖   拽: 拽砖 砖转 住</stringValue>
            </value>
        </inputAssignments>
        <object>Note</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Awaiting_for_Sign_Contract_Template</name>
        <label>Awaiting for Sign Contract Template</label>
        <locationX>1766</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_all_related_contact_role_awating</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Awaiting for Sign Contract</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_all_related_contact_role_awating</name>
        <label>get all related contact role (awating)</label>
        <locationX>1766</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_contact_rolest</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_contact_related</name>
        <label>get contact related</label>
        <locationX>622</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_contact_roles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Contract_Expired_template_id</name>
        <label>get Contract Expired! template id</label>
        <locationX>2470</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_recipients_for_alert</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract Expired</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_email_template_id</name>
        <label>get email template id</label>
        <locationX>622</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_contact_related</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Deposit awaiting</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_recipients_for_alert</name>
        <label>Get recipients for alert</label>
        <locationX>2470</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_all_contact_employee_recipient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Recipient_to_contract_expiered_alert__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_recipients_for_alert_entry_date</name>
        <label>get recipients for alert entry date</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_relevent_recipient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Recipient_of_Entry_Alert__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_email_template</name>
        <label>Get the email template</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_recipients_for_alert_entry_date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Alert entry date for open opportunities</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_first_contact_role_id</name>
        <label>Get the first contact role id</label>
        <locationX>930</locationX>
        <locationY>1500</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email_After_X_days_to_contact_related</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_the_first_contact_role_id522</name>
        <label>get the first contact role id 2</label>
        <locationX>2074</locationX>
        <locationY>1500</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email_afterX_days_to_related_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1750</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>stage_in_wait</targetReference>
        </connector>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-07-22</startDate>
            <startTime>10:52:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>emailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>!   

! 拽  驻    注  转 注 {!$Record.Account.Name} 拽 

 https://rooms.lightning.force.com/lightning/r/Opportunity/{!$Record.Id}/view : 拽 转

 ! 拽砖 拽  拽专 爪专 拽砖专 转

,专</text>
    </textTemplates>
    <variables>
        <name>FirstContactRoleID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientforContractExpired</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientsAlertEntry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
