force-app/main/default/flows/Opportunity_Package_Builder_Manage_Opportunity_Products_2_0.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Product_Creation_Error</name>
        <label>Assign Product Creation Error</label>
        <locationX>440</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>AddErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddindFaultErrorMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Product_Var</name>
        <label>Assign Product Var</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>ProductVar.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputVarOportuntiyId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductVar.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Pricebookentry_list_and_create_opportunity_Products_var.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductVar.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Pricebookentry_list_and_create_opportunity_Products_var.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductVar.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DesksAndPriceCal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductVar.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Pricebookentry_list_and_create_opportunity_Products_var.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductVar.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Pricebookentry_list_and_create_opportunity_Products_var.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductVar.Desk_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Pricebookentry_list_and_create_opportunity_Products_var.Capacity_Desks__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductVar.Products_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Pricebookentry_list_and_create_opportunity_Products_var.Product2.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductVar.Product_Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Pricebookentry_list_and_create_opportunity_Products_var.Product2.Sub_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCreateOpportunityProductsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProductVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Pricebookentry_list_and_create_opportunity_Products_var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_Assign</name>
        <label>Error Assign</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>AddErrorMessage</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>DepositCalculationsCheck</name>
        <dataType>Boolean</dataType>
        <expression>TRUE</expression>
    </formulas>
    <formulas>
        <description>For periodic and monthly access type</description>
        <name>DesksAndPriceCal</name>
        <dataType>Currency</dataType>
        <expression>IF( ISPICKVAL({!Loop_Pricebookentry_list_and_create_opportunity_Products_var.Product2.Type__c}, &apos;Standard Products&apos;) ,{!Loop_Pricebookentry_list_and_create_opportunity_Products_var.Product2.Capacity_Desks__c}, 1)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>EndDateCal</name>
        <dataType>Date</dataType>
        <expression>DATE(
    YEAR({!VarEndDate}),
    MONTH({!VarEndDate}),
    CASE(
        MONTH({!VarEndDate}),
        1, 31,
        2, IF(MOD(YEAR({!VarEndDate}), 4) = 0, 29, 28),
        3, 31,
        4, 30,
        5, 31,
        6, 30,
        7, 31,
        8, 31,
        9, 30,
        10, 31,
        11, 30,
        12, 31,
        0
    )
)</expression>
    </formulas>
    <formulas>
        <name>HourlyQuantityCal</name>
        <dataType>Currency</dataType>
        <expression>ROUND(( {!VarEndDateTime} - {!VarEntryDateTime}) * 24,2)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>MonthlyQuantityCal</name>
        <dataType>Number</dataType>
        <expression>IF( ISPICKVAL({!ProductVar.Product2.Type__c}, &apos;Standard Products&apos;) , 
{!VarDeskQuantity} , {!VarQuantity} )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Desk * Period Cal</description>
        <name>PeriodicQuantityCal</name>
        <dataType>Number</dataType>
        <expression> IF( ISPICKVAL({!ProductVar.Product2.Type__c}, &apos;Standard Products&apos;) , 
{!VarDeskQuantity} , {!VarQuantity} )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PeriodMonthesCal</name>
        <dataType>Currency</dataType>
        <expression>(
    (YEAR({!VarEndDate}) - YEAR({!VarEntryDate})) * 12 + (MONTH({!VarEndDate}) - MONTH({!VarEntryDate}))
) + 
(
    (CASE(
        MONTH({!VarEntryDate}),
        1, 31,
        2, IF(MOD(YEAR({!VarEntryDate}), 4) = 0, 29, 28),
        3, 31,
        4, 30,
        5, 31,
        6, 30,
        7, 31,
        8, 31,
        9, 30,
        10, 31,
        11, 30,
        12, 31,
        0
    ) - DAY({!VarEntryDate}) + 1
    ) / CASE(
        MONTH({!VarEntryDate}),
        1, 31,
        2, IF(MOD(YEAR({!VarEntryDate}), 4) = 0, 29, 28),
        3, 31,
        4, 30,
        5, 31,
        6, 30,
        7, 31,
        8, 31,
        9, 30,
        10, 31,
        11, 30,
        12, 31,
        0
    )
)</expression>
        <scale>4</scale>
    </formulas>
    <interviewLabel>Opportunity Package Builder - Manage Opportunity Products {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Package Builder - Manage Opportunity Products 2/0</label>
    <loops>
        <name>Loop_Pricebookentry_list_and_create_opportunity_Products_var</name>
        <label>Loop Pricebookentry list and create opportunity Products var</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Pricebook_Entry</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Product_Var</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_New_Opportunity_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_New_Opportunity_Products</name>
        <label>Add New Opportunity Products</label>
        <locationX>176</locationX>
        <locationY>542</locationY>
        <connector>
            <targetReference>Error_Assign</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Product_Creation_Error</targetReference>
        </faultConnector>
        <inputReference>VarCreateOpportunityProductsCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Pricebook_Entry</name>
        <label>Get Pricebook Entry</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Pricebookentry_list_and_create_opportunity_Products_var</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>InputVarProductEntryIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Pricebook_Entry</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>AddindFaultErrorMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>There was an issue adding the product to the package. Please Contact Your Admin {!$Flow.FaultMessage}</text>
    </textTemplates>
    <variables>
        <name>AddErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InputVarOportuntiyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputVarProductEntryIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>VarCreateOpportunityProductsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>VarDeskQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>VarEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarEndDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarEntryDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarEntryDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
