force-app/main/default/flows/opportunity_Package_Builder_Add_Opportunity_Products_test.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Daily</name>
        <label>Assign Daily</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ProductVar.Access_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarAccessType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductVar.Entry_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarEntryDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductVar.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_New_Opportunity_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Daily_Pass</name>
        <label>Assign Daily Pass</label>
        <locationX>1634</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ProductVar.Access_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarAccessType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductVar.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarQuantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductVar.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PriceAndQuantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_New_Opportunity_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Hourly</name>
        <label>Assign Hourly</label>
        <locationX>1370</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ProductVar.Access_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarAccessType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductVar.End_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarEndDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductVar.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HourlyPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_New_Opportunity_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Hourly_Pass</name>
        <label>Assign Hourly Pass</label>
        <locationX>1898</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ProductVar.Access_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarAccessType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductVar.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarQuantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductVar.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PriceAndQuantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_New_Opportunity_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Monthly</name>
        <label>Assign Monthly</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ProductVar.Access_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarAccessType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductVar.Entry_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarEntryDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductVar.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductVar.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DesksAndPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_New_Opportunity_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_One_Time</name>
        <label>Assign One-Time</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ProductVar.Access_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarAccessType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductVar.Entry_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarEntryDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductVar.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarQuantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductVar.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PriceAndQuantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_New_Opportunity_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Periodic</name>
        <label>Assign Periodic</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ProductVar.Access_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarAccessType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductVar.Entry_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarEntryDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductVar.End_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductVar.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PeriodicTotalPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_New_Opportunity_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product_Var</name>
        <label>Assign Product Var</label>
        <locationX>1238</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>ProductVar.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarNotes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductVar.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarOpporutnityId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductVar.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarProductEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductVar.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarProductId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductVar.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductVar.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculatedTotalPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductVar.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarProductId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductVar.Access_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarAccessType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Access_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_count</name>
        <label>Count Opportunity Products and assign Timestamp</label>
        <locationX>644</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>VarOpportunityProductCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Count_Opportunity_Products</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LastAddedDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarLastDeletedDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>testformula</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QueryForVar</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Access_Type</name>
        <label>Access Type</label>
        <locationX>1238</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Add_New_Opportunity_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Monthly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarAccessType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monthly</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Monthly</targetReference>
            </connector>
            <label>Monthly</label>
        </rules>
        <rules>
            <name>Periodic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarAccessType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Periodic</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Periodic</targetReference>
            </connector>
            <label>Periodic</label>
        </rules>
        <rules>
            <name>One_Time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarAccessType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>One-Time</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_One_Time</targetReference>
            </connector>
            <label>One-Time</label>
        </rules>
        <rules>
            <name>Daily</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarAccessType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Daily</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Daily</targetReference>
            </connector>
            <label>Daily</label>
        </rules>
        <rules>
            <name>Hourly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarAccessType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hourly</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Hourly</targetReference>
            </connector>
            <label>Hourly</label>
        </rules>
        <rules>
            <name>Daily_Pass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarAccessType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Daily Multi-Pass</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Daily_Pass</targetReference>
            </connector>
            <label>Daily-Pass</label>
        </rules>
        <rules>
            <name>Hourly_Pass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarAccessType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hourly Multi-Pass</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Hourly_Pass</targetReference>
            </connector>
            <label>Hourly-Pass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Add_or_Remove</name>
        <label>Add or Remove</label>
        <locationX>644</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Assign_Product_Var</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Add Opportunity Products</defaultConnectorLabel>
        <rules>
            <name>Remove_Opportunity_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarOpportunityProductRemoval</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Opportunity_Products</targetReference>
            </connector>
            <label>Remove Opportunity Product</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CalculatedTotalPrice</name>
        <dataType>Currency</dataType>
        <expression>IF(
    {!VarAccessType} = &quot;Monthly&quot;,
    {!VarDeskQuantity} * 2 * {!VarPrice},
    
    IF(
        {!VarAccessType} = &quot;Periodic&quot;,
        (
            (
                (YEAR({!VarEndDate}) - YEAR({!VarEntryDate})) * 12 +
                (MONTH({!VarEndDate}) - MONTH({!VarEntryDate}))
            ) * {!VarDeskQuantity} * {!VarPrice} +
            (
                (DAY({!VarEndDate}) - DAY({!VarEntryDate})) / 
                CASE(
                    MONTH({!VarEntryDate}),
                    1, 31,
                    2, IF(MOD(YEAR({!VarEntryDate}), 4) = 0, 29, 28),
                    3, 31,
                    4, 30,
                    5, 31,
                    6, 30,
                    7, 31,
                    8, 31,
                    9, 30,
                    10, 31,
                    11, 30,
                    12, 31,
                    0
                )
            ) * {!VarDeskQuantity} * {!VarPrice}
        ),

        IF(
            {!VarAccessType} = &quot;Hourly&quot;,
            CEILING(
                ( {!VarEndDateTime} - {!VarEntryDateTime}) * 24
            ) * {!VarPrice},

            IF(
                {!VarAccessType} = &quot;Daily&quot;,
                {!VarPrice},

                IF(
                    {!VarAccessType} = &quot;Daily-Pass&quot;,
                    {!VarQuantity} * {!VarPrice},

                    IF(
                        {!VarAccessType} = &quot;Hourly-Pass&quot;,
                        {!VarQuantity} * {!VarPrice},

                        IF(
                            {!VarAccessType} = &quot;One-Time&quot;,
                            {!VarQuantity} * {!VarPrice},

                            0
                        )
                    )
                )
            )
        )
    )
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>DesksAndPrice</name>
        <dataType>Currency</dataType>
        <expression>{!VarPrice} * {!VarDeskQuantity}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>HourlyPrice</name>
        <dataType>Currency</dataType>
        <expression>CEILING(( {!VarEndDateTime} - {!VarEntryDateTime}) * 24) * {!VarPrice}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PeriodicTotalPrice</name>
        <dataType>Currency</dataType>
        <expression>(
    (
        ((YEAR({!VarEndDate}) - YEAR({!VarEntryDate})) * 12 + (MONTH({!VarEndDate}) - MONTH({!VarEntryDate}))) * 
        {!VarDeskQuantity} * {!VarPrice}
    ) + 
    (
        ((DAY({!VarEndDate}) - DAY({!VarEntryDate})) / CASE(
            MONTH({!VarEntryDate}),
            1, 31,
            2, IF(MOD(YEAR({!VarEntryDate}), 4) = 0, 29, 28),
            3, 31,
            4, 30,
            5, 31,
            6, 30,
            7, 31,
            8, 31,
            9, 30,
            10, 31,
            11, 30,
            12, 31,
            0
        )) * {!VarDeskQuantity} * {!VarPrice}
    )
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PriceAndQuantity</name>
        <dataType>Currency</dataType>
        <expression>{!VarPrice} * {!VarQuantity}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>QueryForVar</name>
        <dataType>String</dataType>
        <expression>&quot;SELECT Id, Name, Access_Type__c, End_date__c, Entry_Date__c , Quantity , TotalPrice  FROM OpportunityLineItem where OpportunityId = &apos;&quot; &amp; {!VarOpporutnityId.Id} &amp;&quot;&apos; LIMIT &quot; &amp; TEXT({!VarOpportunityProductCount})</expression>
    </formulas>
    <interviewLabel>opportunity Package Builder - Add Opportunity Products test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>opportunity Package Builder - Add/Remove Opportunity Products</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_New_Opportunity_Product</name>
        <label>Add New Opportunity Product</label>
        <locationX>1238</locationX>
        <locationY>650</locationY>
        <connector>
            <targetReference>Count_Opportunity_Products</targetReference>
        </connector>
        <inputReference>ProductVar</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Opportunity_Products</name>
        <label>Delete Opportunity Products</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Count_Opportunity_Products</targetReference>
        </connector>
        <inputReference>VarOpportunityProductRemoval</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Count_Opportunity_Products</name>
        <label>Count Opportunity Products</label>
        <locationX>644</locationX>
        <locationY>842</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Change_count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarOpporutnityId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_or_Remove</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>LastAddedDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProductVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>QueryForFetcher</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>QueryForVar</elementReference>
        </value>
    </variables>
    <variables>
        <name>testformula</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarAccessType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarDeskQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>VarEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarEndDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarEntryDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarEntryDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarLastDeletedDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarOpportunityProductCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarOpportunityProductRemoval</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>VarOpporutnityId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>VarPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>VarProductEntryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
