force-app/main/default/flows/Opportunity_Approval_process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <name>Approval_Process_Validation_Check_Message</name>
        <label>Approval Process Validation Check Message</label>
        <locationX>248</locationX>
        <locationY>923</locationY>
        <customErrorMessages>
            <errorMessage>It seems that the current opportunity requires an approver decision before moving to the next stage. Please submit for approval using the button on the opportunity layout</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Approval_Decision</name>
        <label>Approval Decision</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Approval_Process_Validation_Check_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pending</defaultConnectorLabel>
        <rules>
            <name>Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Process_Instance.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_Process_Validation_Check_Message</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
        <rules>
            <name>Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Process_Instance.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <label>Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Approval_History_Check</name>
        <label>Approval History Check</label>
        <locationX>248</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Approval_Process_Validation_Check_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Approval History Found</defaultConnectorLabel>
        <rules>
            <name>Prior_Approval_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Process_Instance</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_Decision</targetReference>
            </connector>
            <label>Prior Approval Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity - Approval process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Approval process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Process_Instance</name>
        <label>Get Process Instance</label>
        <locationX>248</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Approval_History_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstance</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Process_Instance</targetReference>
        </connector>
        <filterFormula>AND(
    ISCHANGED({!$Record.StageName}),
    OR(
        AND(
            ISPICKVAL({!$Record.StageName}, &apos;Contract Review&apos;),
            
                {!$Record.Calculated_Total_Price_Adjustment__c} &lt;= -0.10
            
        ),
        AND(
            ISPICKVAL({!$Record.StageName}, &apos;Payment Link Sent&apos;),
            {!$Record.Calculated_Total_Price_Adjustment__c} &lt;= -0.10
        )
    )
)</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
