force-app/main/default/flows/Opportunity_Product_Set_Quantity_For_Hourly.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_if_Null</name>
        <label>Check if Null</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Update_Temporary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Calculate Usage In Hours</defaultConnectorLabel>
        <rules>
            <name>Found_Null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Entry_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.End_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Quantity</targetReference>
            </connector>
            <label>Found Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CalculateHours</name>
        <dataType>Number</dataType>
        <expression>ROUND(( {!$Record.End_Date_Time__c} - {!$Record.Entry_Date_Time__c}) * 24,2)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Oportunity Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Product-Set Quantity For Hourly</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Clear_Quantity</name>
        <label>Clear Quantity</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Temporary</name>
        <label>Update Temporary</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>CalculateHours</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Null</targetReference>
        </connector>
        <filterFormula>ISPICKVAL(PRIORVALUE({!$Record.Access_Type__c}), &quot;Hourly&quot;) &amp;&amp;
(
    ISCHANGED({!$Record.End_Date_Time__c}) ||
    ISCHANGED({!$Record.Entry_Date_Time__c})
)</filterFormula>
        <object>OpportunityLineItem</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
