force-app/main/default/flows/Opportunity_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Order_Product_to_Collection</name>
        <label>Add Order Product to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OrderItemCol</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewOrderLineItemRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Products_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_NewOrderItemRecord</name>
        <label>Assign values to NewOrderItemRecord</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NewOrderLineItemRecord.ServiceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StartDateFormulaProduct</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderLineItemRecord.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Products_Loop.End_date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderLineItemRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Products_Loop.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderLineItemRecord.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Products_Loop.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderLineItemRecord.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Products_Loop.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderLineItemRecord.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Products_Loop.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderLineItemRecord.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Products_Loop.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderLineItemRecord.Access_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Products_Loop.Access_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderLineItemRecord.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>orderIdVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderLineItemRecord.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderLineItemRecord.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderLineItemRecord.Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Location__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderLineItemRecord.Number_of_desks__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Products_Loop.Desk_Count__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderLineItemRecord.Start_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Products_Loop.Entry_Date_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderLineItemRecord.End_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Products_Loop.End_Date_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderLineItemRecord.Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderLineItemRecord.Order_Product_Origin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Original</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderLineItemRecord.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Products_Loop.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderLineItemRecord.Temporary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Products_Loop.Temporary__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderLineItemRecord.Renewal_Price_Adjustment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Products_Loop.Renewal_Price_Adjustment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderLineItemRecord.Include_In_Deposit_Calculations__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Products_Loop.Include_In_Deposit_Calculations__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderLineItemRecord.Renewal_Price_Adjustment_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Products_Loop.Renewal_Price_Adjustment_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderLineItemRecord.Opportunity_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Products_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderLineItemRecord.Product_Type_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Products_Loop.Products_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderLineItemRecord.Product_Sub_Type_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Products_Loop.Product_Sub_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Order_Product_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Opportunity_Products_Ids</name>
        <label>Collect Opportunity Products Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RelatedOppProductIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Opportunity_Products.Product2.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Products</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Related_Order_Product_for_Current_Opp_Product</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Related Order Product for Current Opp Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Related_Order_Product_for_Current_Opp_Product</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Order_Product</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Related_Order_Product_for_Current_Opp_Product.Product2Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Products_Loop.Product2.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Related_Order_Product</targetReference>
        </connector>
    </collectionProcessors>
    <customErrors>
        <name>Display_the_error</name>
        <label>Display the error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>⚠️ Warning:
Some products are no longer available on the selected dates. Please choose different dates or products. 🔴</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_for_termination_date</name>
        <label>Check for termination date?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Display_the_error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Product not available</defaultConnectorLabel>
        <rules>
            <name>Product_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Related_Order_Product.Contract__r.Contract_Termination_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity_Products.Entry_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Related_Order_Product.Contract__r.Contract_Termination_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Related_Order_Product</targetReference>
            </connector>
            <label>Product available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_an_overlaping_dates</name>
        <label>Is there an overlaping dates ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Related_Order_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>(3 AND 4)  or (3 and 1)  or (4 AND 1) or (1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>Products_Loop.Entry_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Related_Order_Product.EndDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Products_Loop.End_date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Related_Order_Product.ServiceDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Products_Loop.End_date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Related_Order_Product.EndDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_termination_date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Stage_Is</name>
        <label>Opportunity Stage Is?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Stage_is_Closed_Won</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Type_Is</targetReference>
            </connector>
            <label>Closed Won</label>
        </rules>
        <rules>
            <name>Closed_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Renewal_Status_to_Lost</targetReference>
            </connector>
            <label>Closed Lost</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Stage_is_Closed_Won</name>
        <label>Opportunity Stage is Closed Won?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Related_Opp_Product</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes, Closed Won</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Type_Is</name>
        <label>Opportunity Type Is?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Stage_is_Closed_Won</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Changes_in_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Changes from opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Change_Status_to_Won</targetReference>
            </connector>
            <label>Changes in Opportunity</label>
        </rules>
        <rules>
            <name>Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Renewal_Status_to_Won</targetReference>
            </connector>
            <label>Renewal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_is_New</name>
        <label>Record is New?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Contact_Roles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Should_Create_Task_for_Opportunity_Owner_to_Recall_the_Client</targetReference>
            </connector>
            <label>Not New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Create_Order_Products</name>
        <label>Should Create Order Products?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Activate_Contract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Create_Order_Products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderItemCol</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Order_Products</targetReference>
            </connector>
            <label>Yes, Create Order Products</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Create_Task_for_Opportunity_Owner_to_Recall_the_Client</name>
        <label>Should Create Task for Opportunity Owner to Recall the Client?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Should_Update_Original_Contract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Create_Task_for_Opportunity_Owner_to_Recall_the_Client</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Loss_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Future Potential Deal/Timing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_for_Opportunity_Owner_to_Recall_the_Client</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes, Create Task for Opportunity Owner to Recall the Client</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Update_Original_Contract</name>
        <label>Should Update Original Contract?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Stage_is_Closed_Won</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_Original_Contract</name>
            <conditionLogic>1 AND 2 AND (3 OR 4) AND (5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Original_Contract__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Changes from opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Stage_Is</targetReference>
            </connector>
            <label>Yes, Update Original Contract</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NewEndDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Start_Date__c}-1</expression>
    </formulas>
    <formulas>
        <name>OpportunityName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.Name} &amp; &quot; &quot; &amp; 
IF(ISBLANK({!Get_Contact_Roles.Contact.FirstName}), &quot;&quot;, 
{!Get_Contact_Roles.Contact.FirstName} &amp; &quot; &quot; &amp; {!Get_Contact_Roles.Contact.LastName} &amp; &quot; &quot;) &amp; 
TEXT(MONTH(TODAY())) &amp; &quot;/&quot; &amp; TEXT(YEAR(TODAY()) - 2000)</expression>
    </formulas>
    <formulas>
        <name>StartDateFormulaOrder</name>
        <dataType>Date</dataType>
        <expression>IF (ISNULL({!$Record.Start_Date__c}), {!$Record.Calculated_Start_Date__c}, {!$Record.Start_Date__c})</expression>
    </formulas>
    <formulas>
        <name>StartDateFormulaProduct</name>
        <dataType>Date</dataType>
        <expression>IF(
    OR(
        ISPICKVAL({!Products_Loop.Access_Type__c}, &apos;Periodic&apos;),
        ISPICKVAL({!Products_Loop.Access_Type__c}, &apos;Monthly&apos;),
        ISPICKVAL({!Products_Loop.Access_Type__c}, &apos;Daily&apos;),
        ISPICKVAL({!Products_Loop.Access_Type__c}, &apos;One-Time&apos;)
    ),
    {!Products_Loop.Entry_Date__c},
{!$Record.Calculated_Start_Date__c}
)</expression>
    </formulas>
    <interviewLabel>Opportunity After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity After Save</label>
    <loops>
        <name>Opportunity_Products</name>
        <label>Opportunity Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Related_Opp_Product</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collect_Opportunity_Products_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Order_Product</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Products_Loop</name>
        <label>Products Loop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Related_Opp_Product</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Related_Order_Product_for_Current_Opp_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Should_Create_Order_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Related_Order_Product</name>
        <label>Related Order Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Related_Order_Product_for_Current_Opp_Product</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_there_an_overlaping_dates</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_values_to_NewOrderItemRecord</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Related_Contract</name>
        <label>Create New Related Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>contractId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Order</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agreement_Type__c</field>
            <value>
                <elementReference>$Record.Contract_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agreement_language__c</field>
            <value>
                <elementReference>$Record.Agreement_language__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Renewal__c</field>
            <value>
                <elementReference>$Record.Automatic_Renewal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credits_for_MR__c</field>
            <value>
                <elementReference>$Record.Credits_for_MR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Renewal_Iteration__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Depusit_Amount_DM__c</field>
            <value>
                <elementReference>$Record.DepositAmount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>$Record__Prior.End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internal_external__c</field>
            <value>
                <elementReference>$Record.Internal_External__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lease_Termination_Notice_Months__c</field>
            <value>
                <elementReference>$Record.Lease_Termination_Notice_Monthes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>$Record.Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_desks__c</field>
            <value>
                <elementReference>$Record.Number_of_desks__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_members__c</field>
            <value>
                <elementReference>$Record.Number_of_members__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_potential_members__c</field>
            <value>
                <elementReference>$Record.Number_of_potential_members__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin__c</field>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_Adjustment__c</field>
            <value>
                <elementReference>$Record.Price_Adjustment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>$Record.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prints_B_W__c</field>
            <value>
                <elementReference>$Record.Prints_B_W__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prints_Color__c</field>
            <value>
                <elementReference>$Record.Prints_Color__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Kickoff_Months__c</field>
            <value>
                <elementReference>$Record.Renewal_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Period_Months__c</field>
            <value>
                <elementReference>$Record.Renewal_Period_Months__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Status__c</field>
            <value>
                <stringValue>Not Due</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Total_Iterations__c</field>
            <value>
                <elementReference>$Record.Renewal_Iterations__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Restoration_Fee__c</field>
            <value>
                <elementReference>$Record.Restoration_Fee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Set_Up_Fee__c</field>
            <value>
                <elementReference>$Record.Set_Up_Fee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>StartDateFormulaOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Track_CPI_Date__c</field>
            <value>
                <elementReference>$Record.Track_CPI_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Track_CPI__c</field>
            <value>
                <elementReference>$Record.Track_CPI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Where_did_the_customer_come_from__c</field>
            <value>
                <elementReference>$Record.Where_did_the_customer_come_from__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Order</name>
        <label>Create Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>orderIdVar</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Related_Contract_After_Order_Creation</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractId</field>
            <value>
                <elementReference>contractId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>StartDateFormulaOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>$Record__Prior.Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Origin__c</field>
            <value>
                <stringValue>Original Order</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>$Record.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Order_Products</name>
        <label>Create Order Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Activate_Contract</targetReference>
        </connector>
        <inputReference>OrderItemCol</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_for_Opportunity_Owner_to_Recall_the_Client</name>
        <label>Create Task for Opportunity Owner to Recall the Client</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Should_Update_Original_Contract</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Record.Reminder_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsRecurrence</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>$Record.Reminder_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>🔔 Follow-Up: Client Callback Needed 🔔</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact_Roles</name>
        <label>Get Contact Roles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_New_Opportunity_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Product</name>
        <label>Get Order Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Products_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>In</operator>
            <value>
                <elementReference>RelatedOppProductIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contract__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Original_Contract__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard Products</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Hot Desk</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Related_Opp_Product</name>
        <label>Related Opp Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Related_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Hot Desk</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Activate_Contract</name>
        <label>Activate Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_contract_to_opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contractId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Add_contract_to_opp</name>
        <label>Add contract to opp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>ContractId</field>
            <value>
                <elementReference>contractId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_New_Opportunity_Name</name>
        <label>Set New Opportunity Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opportunity_Stage_is_Closed_Won</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OpportunityName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Change_Status_to_Won</name>
        <label>Update Change Status to Won</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Contract_End_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Original_Contract__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contract_Termination_Date__c</field>
            <value>
                <elementReference>NewEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Termination_Reason__c</field>
            <value>
                <stringValue>Optimization Process</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewed_Contract__c</field>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contract_End_Date</name>
        <label>Update Contract End Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opportunity_Stage_is_Closed_Won</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Original_Contract__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Change_Action_Effective_End_Date__c</field>
            <value>
                <elementReference>NewEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Change_Action_Type__c</field>
            <value>
                <stringValue>Removed</stringValue>
            </value>
        </inputAssignments>
        <object>OrderItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Contract_After_Order_Creation</name>
        <label>Update Related Contract After Order Creation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opportunity_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contractId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>orderIdVar</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Renewal_Status_to_Lost</name>
        <label>Update Renewal Status to Lost</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opportunity_Stage_is_Closed_Won</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Original_Contract__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Non_Renewal_Reason__c</field>
            <value>
                <elementReference>$Record.Non_Renewal_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Status__c</field>
            <value>
                <stringValue>Leaving</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Renewal_Status_to_Won</name>
        <label>Update Renewal Status to Won</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opportunity_Stage_is_Closed_Won</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Original_Contract__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Renewal_Status__c</field>
            <value>
                <stringValue>Renewed - pending</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_is_New</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>contractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>currentItem_Related_Order_Product_for_Current_Opp_Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>NewOrderLineItemRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>orderIdVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OrderItemCol</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>RelatedOppProductIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
