force-app/main/default/flows/Opportunity_Product_Deposit_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_email_alert_to_admin</name>
        <label>Send email alert to admin</label>
        <locationX>842</locationX>
        <locationY>971</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_over_all_admin_user</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_over_all_admin_user.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Rooms - error flow: deposit automation add</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Opportunity Product - Deposit Automation fro add FLOW error</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign_amount_per_month</name>
        <label>assign amount per month</label>
        <locationX>402</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>TotalAmountMonthly</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>totalMonthlyAmountForPeriodic</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_deposit_amountg</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_number_of_months</name>
        <label>assign number of months</label>
        <locationX>402</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>NumberOfMonth</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NumberofmonthFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_all_opp_std_product1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_total_desks_and_amount_periodic</name>
        <label>assign total desks and amount periodic</label>
        <locationX>490</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>TotalDesks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_all_opp_std_product1.Capicity_Desks__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalAmountPeriodic</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_all_opp_std_product1.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_all_opp_std_product1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TotalAmountMonthly_total_desks</name>
        <label>TotalAmountMonthly + total desks</label>
        <locationX>138</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>TotalAmountMonthly</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_all_opp_std_product.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalDesks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_all_opp_std_product.Capicity_Desks__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_all_opp_std_product</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contract_type</name>
        <label>Contract type ?</label>
        <locationX>402</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>get_admin_users</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>error</defaultConnectorLabel>
        <rules>
            <name>Monthly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_opp_id.Contract_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monthly</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_all_opp_std_product</targetReference>
            </connector>
            <label>Monthly</label>
        </rules>
        <rules>
            <name>Periodic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_opp_id.Contract_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Periodic</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_number_of_months</targetReference>
            </connector>
            <label>Periodic</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_a_standard_opp</name>
        <label>is a standard opp ?</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_opp_id.RecordType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Standard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_all_opportunity_Standard_product_related_to_the_opportunity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DepositPeriodic</name>
        <dataType>Currency</dataType>
        <expression>IF({!TotalDesks} &lt;= 20, 1.5 * {!TotalAmountMonthly}, 
    IF({!TotalDesks} &lt;= 75, 3 * {!TotalAmountMonthly}, 
        4 * {!TotalAmountMonthly}))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>DepositTotalMontlhy</name>
        <dataType>Currency</dataType>
        <expression>1.5 * {!TotalAmountMonthly}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NumberofmonthFormula</name>
        <dataType>Number</dataType>
        <expression>(YEAR({!get_opp_id.End_Date__c}) - YEAR({!get_opp_id.Start_Date__c})) * 12 + (MONTH({!get_opp_id.End_Date__c}) - MONTH({!get_opp_id.Start_Date__c}))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>totalMonthlyAmountForPeriodic</name>
        <dataType>Currency</dataType>
        <expression>{!TotalAmountPeriodic} / {!NumberOfMonth}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Opportunity Product - Deposit Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Product - Deposit Automation fro add</label>
    <loops>
        <name>Loop_over_all_admin_user</name>
        <label>Loop over all admin user</label>
        <locationX>754</locationX>
        <locationY>863</locationY>
        <collectionReference>get_admin_users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_email_alert_to_admin</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_over_all_opp_std_product</name>
        <label>Loop over all opp std product</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <collectionReference>get_all_opportunity_Standard_product_related_to_the_opportunity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>TotalAmountMonthly_total_desks</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_deposit_amount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_all_opp_std_product1</name>
        <label>Loop over all opp std product</label>
        <locationX>402</locationX>
        <locationY>863</locationY>
        <collectionReference>get_all_opportunity_Standard_product_related_to_the_opportunity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_total_desks_and_amount_periodic</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>assign_amount_per_month</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_admin_users</name>
        <label>get admin users</label>
        <locationX>754</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_all_admin_user</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00e8d000001D0isAAC</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_all_opportunity_Standard_product_related_to_the_opportunity</name>
        <label>get all opportunity Standard product related to the opportunity</label>
        <locationX>402</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contract_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard Products</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_opp_id</name>
        <label>get opp id</label>
        <locationX>710</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_a_standard_opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_deposit_amount</name>
        <label>Update deposit amount</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <inputAssignments>
            <field>DepositAmount__c</field>
            <value>
                <elementReference>DepositTotalMontlhy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_desks__c</field>
            <value>
                <elementReference>TotalDesks</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Opportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_deposit_amountg</name>
        <label>Update deposit amount</label>
        <locationX>402</locationX>
        <locationY>1271</locationY>
        <inputAssignments>
            <field>DepositAmount__c</field>
            <value>
                <elementReference>DepositPeriodic</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_desks__c</field>
            <value>
                <elementReference>TotalDesks</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Opportunity</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_opp_id</targetReference>
        </connector>
        <object>OpportunityLineItem</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>currentItem_only_standard_products</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>NumberOfMonth</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TotalAmountMonthly</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalAmountPeriodic</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalDesks</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
