force-app/main/default/flows/Order_Item_Sync_Dates_with_Monthly_Payments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_MP_and_update_dates</name>
        <label>Assign MP and update dates</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varMonthlyPaymnt</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_monthly_payments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMonthlyPaymnt.Stat_Date_Trigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormulaUpdatedStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMonthlyPaymnt.End_Date_trigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormulaUpdatedEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionMonthlyPaymnts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varMonthlyPaymnt</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_monthly_payments</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>FormulaUpdatedEndDate</name>
        <dataType>Date</dataType>
        <expression>IF(
    OR(
        TEXT({!$Record.Access_Type__c}) = &quot;Periodic&quot;, 
        TEXT({!$Record.Access_Type__c}) = &quot;Monthly&quot;
    ),
    DATE(
        YEAR({!$Record.ServiceDate}) + FLOOR((MONTH({!$Record.ServiceDate}) + {!Loop_monthly_payments.MonthIndex__c} - 2) / 12),
        MOD(MONTH({!$Record.ServiceDate}) + {!Loop_monthly_payments.MonthIndex__c} - 2, 12) + 1,
        CASE(
            MOD(MONTH({!$Record.ServiceDate}) + {!Loop_monthly_payments.MonthIndex__c} - 2, 12) + 1,
            1, 31,
            2, IF(MOD(YEAR({!$Record.ServiceDate}) + FLOOR((MONTH({!$Record.ServiceDate}) + {!Loop_monthly_payments.MonthIndex__c} - 2) / 12), 4) = 0, 29, 28),
            3, 31,
            4, 30,
            5, 31,
            6, 30,
            7, 31,
            8, 31,
            9, 30,
            10, 31,
            11, 30,
            12, 31,
            NULL
        )
    ),
    {!$Record.Contract__r.StartDate}
)</expression>
    </formulas>
    <formulas>
        <name>FormulaUpdatedStartDate</name>
        <dataType>Date</dataType>
        <expression>IF(
    OR(
        TEXT({!$Record.Access_Type__c}) = &quot;Periodic&quot;, 
        TEXT({!$Record.Access_Type__c}) = &quot;Monthly&quot;
    ),
    IF(
        {!Loop_monthly_payments.MonthIndex__c} = 1,
        {!$Record.ServiceDate},
        DATE(
            YEAR({!$Record.ServiceDate}) + FLOOR((MONTH({!$Record.ServiceDate}) + {!Loop_monthly_payments.MonthIndex__c} - 2) / 12),
            MOD(MONTH({!$Record.ServiceDate}) + {!Loop_monthly_payments.MonthIndex__c} - 2, 12) + 1,
            1
        )
    ),
    {!$Record.Contract__r.StartDate}
)</expression>
    </formulas>
    <interviewLabel>Order Item {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Item- Sync Dates with Monthly Payments</label>
    <loops>
        <name>Loop_monthly_payments</name>
        <label>Loop monthly payments</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_PM</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_MP_and_update_dates</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Monthly_Payments_Dates</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_PM</name>
        <label>Get PM</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_monthly_payments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderItem__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MonthlyPayment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Monthly_Payments_Dates</name>
        <label>Update Monthly Payments Dates</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <inputReference>collectionMonthlyPaymnts</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_PM</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ServiceDate</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>OrderItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>collectionMonthlyPaymnts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MonthlyPayment__c</objectType>
    </variables>
    <variables>
        <name>varMonthlyPaymnt</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MonthlyPayment__c</objectType>
    </variables>
</Flow>
