force-app/main/default/flows/Package_Builder_Opporunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>REfreshPage</name>
        <label>REfreshPage</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <actionName>c:refreshPageData</actionName>
        <actionType>component</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Current_Package</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:refreshPageData</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_desk_count</name>
        <label>Assign desk count</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>DeskCurrentCount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Current_product_List.Desk_Count__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Current_product_List</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>AvailbilityCheckMessgae</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!AvailebilityCheckOnAsset.firstRetrievedRecord.Id}), &quot;&quot;, &quot;The asset is already taken in the specified date range&quot;)</expression>
    </formulas>
    <formulas>
        <name>DeleteErrorMessageParse</name>
        <dataType>String</dataType>
        <expression>MID(
    {!RemoveProductAction.Results.RemoveErrorMessage},
    FIND(&apos;FIELD_CUSTOM_VALIDATION_EXCEPTION: &apos;, {!RemoveProductAction.Results.RemoveErrorMessage}) + LEN(&apos;FIELD_CUSTOM_VALIDATION_EXCEPTION: &apos;),
    LEN({!RemoveProductAction.Results.RemoveErrorMessage})
)</expression>
    </formulas>
    <formulas>
        <name>FormulaAccessTypeOndemandPrice</name>
        <dataType>Currency</dataType>
        <expression>{!FilteredProductsTable.firstSelectedRow.UnitPrice} * {!FormulaAccessTypeOndemandQuantity}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FormulaAccessTypeOndemandQuantity</name>
        <dataType>Number</dataType>
        <expression>IF(
    {!ProductAccessType.value} = &quot;Hourly&quot;,
    ROUND(( {!End_Date_Time} - {!Entry_Date_Time} ) * 24, 2),
    IF(
        {!ProductAccessType.value} = &quot;Daily&quot;,
        1,
        {!Quantity}
    )
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FormulaCurrentDeskCount</name>
        <dataType>Number</dataType>
        <expression> {!DeskCurrentCount} +{!FilteredProductsTable.firstSelectedRow.Capacity_Desks__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FormulaProductDetails</name>
        <dataType>String</dataType>
        <expression>    &quot;Floor: &quot; &amp; TEXT({!PackageCurrentProductsTable.firstSelectedRow.Product2.Floor__c}) &amp; 
    &quot;\nSize: &quot; &amp; TEXT({!PackageCurrentProductsTable.firstSelectedRow.Product2.Size_m2__c}) &amp; 
    &quot;\nType: &quot; &amp; TEXT({!PackageCurrentProductsTable.firstSelectedRow.Product2.Sub_Type__c}) &amp; 
    &quot;\nWindow: &quot; &amp; IF({!PackageCurrentProductsTable.firstSelectedRow.Product2.Window__c}, &quot;Yes&quot;, &quot;No&quot;) &amp; 
    &quot;\nNotes: &quot; &amp; {!PackageCurrentProductsTable.firstSelectedRow.Description} &amp; 
    &quot;\nDate range: &quot; &amp; TEXT({!PackageCurrentProductsTable.firstSelectedRow.End_Date_Time__c}) &amp; &quot; - &quot; &amp; TEXT({!PackageCurrentProductsTable.firstSelectedRow.Entry_Date__c}) &amp; 
    &quot;\nTemporary: &quot; &amp; IF({!PackageCurrentProductsTable.firstSelectedRow.Temporary__c}, &apos;Yes&apos;, &apos;No&apos;)&amp;
    
        &quot;Floor: &quot; &amp; TEXT({!PackageCurrentProductsTable.firstSelectedRow.Product2.Floor__c}) &amp; 
        &quot;\nSize: &quot; &amp; TEXT({!PackageCurrentProductsTable.firstSelectedRow.Product2.Size_m2__c}) &amp; 
        &quot;\nType: &quot; &amp; TEXT({!PackageCurrentProductsTable.firstSelectedRow.Product2.Sub_Type__c}) &amp; 
        &quot;\nWindow: &quot; &amp; IF({!PackageCurrentProductsTable.firstSelectedRow.Product2.Window__c}, &quot;Yes&quot;, &quot;No&quot;) &amp; 
        &quot;\nNotes: &quot; &amp; {!PackageCurrentProductsTable.firstSelectedRow.Description} &amp; 
        &quot;\nDate range: &quot; &amp; TEXT({!PackageCurrentProductsTable.firstSelectedRow.End_Date_Time__c}) &amp; &quot; - &quot; &amp; TEXT({!PackageCurrentProductsTable.firstSelectedRow.Entry_Date__c})&amp;
        
        &quot;Notes: &quot; &amp; {!PackageCurrentProductsTable.firstSelectedRow.Description} &amp; 
        &quot;\nDate range: &quot; &amp; TEXT({!PackageCurrentProductsTable.firstSelectedRow.End_Date_Time__c}) &amp; &quot; - &quot; &amp; TEXT({!PackageCurrentProductsTable.firstSelectedRow.Entry_Date__c})</expression>
    </formulas>
    <formulas>
        <name>FormulaTemporary</name>
        <dataType>Boolean</dataType>
        <expression>IF ( {!Temporary}, TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <name>OpportunityrecordTypeId</name>
        <dataType>String</dataType>
        <expression>{!recordId.RecordTypeId}</expression>
    </formulas>
    <formulas>
        <name>PeriodicCalculatedPrice</name>
        <dataType>Currency</dataType>
        <expression>({!PeriodicCalculateTerm}* {!FilteredProductsTable.firstSelectedRow.UnitPrice} )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PeriodicCalculateTerm</name>
        <dataType>Number</dataType>
        <expression>(
    (YEAR({!End_Date}) - YEAR({!Entry_Date})) * 12 + (MONTH({!End_Date}) - MONTH({!Entry_Date}))
) + 
(
    (CASE(
        MONTH({!Entry_Date}),
        1, 31,
        2, IF(MOD(YEAR({!Entry_Date}), 4) = 0, 29, 28),
        3, 31,
        4, 30,
        5, 31,
        6, 30,
        7, 31,
        8, 31,
        9, 30,
        10, 31,
        11, 30,
        12, 31,
        0
    ) - DAY({!Entry_Date}) + 1
    ) / CASE(
        MONTH({!Entry_Date}),
        1, 31,
        2, IF(MOD(YEAR({!Entry_Date}), 4) = 0, 29, 28),
        3, 31,
        4, 30,
        5, 31,
        6, 30,
        7, 31,
        8, 31,
        9, 30,
        10, 31,
        11, 30,
        12, 31,
        0
    )
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ProductVacancyCheck</name>
        <dataType>String</dataType>
        <expression>IF( ISNULL({!FilteredOrderesFetcher.firstRetrievedRecord.Id}), &quot;This product is occupied&quot;, &quot;This product is free to sell for the proposed date range&quot;)</expression>
    </formulas>
    <formulas>
        <name>QueryAvailebilityCurrentProducts</name>
        <dataType>String</dataType>
        <expression>&quot;SELECT Id, UnitPrice, Quantity, Access_Type__c, Account_Contract__c, EndDate, ServiceDate, TotalPrice, Contract__r.Account.Name , Contract__c  FROM OrderItem where PricebookEntryId= &apos;&quot;&amp; {!PackageCurrentProductsTable.firstSelectedRow.PricebookEntryId} &amp;&quot;&apos; AND Order.Contract.Status =&apos;Activated&apos; &quot;</expression>
    </formulas>
    <formulas>
        <name>QueryFilteredOpprotunities</name>
        <dataType>String</dataType>
        <expression>&quot;SELECT Id, Access_Type__c, End_date__c, Entry_Date__c, Opportunity__c, Quantity, TotalPrice  FROM OpportunityLineItem where PricebookEntryId= &apos;&quot; &amp;  {!FilteredProductsTable.firstSelectedRow.Id}  &amp;&quot;&apos; AND Opportunity.StageName NOT IN (&apos;Closed Won&apos;, &apos;Closed Lost&apos;) AND OpportunityId != &apos;&quot; &amp; {!recordId.Id}&amp; &quot;&apos;&quot;</expression>
    </formulas>
    <formulas>
        <name>QueryFilteredOrders</name>
        <dataType>String</dataType>
        <expression>&quot;SELECT Id, UnitPrice, Quantity, Access_Type__c, Account_Contract__c, EndDate, ServiceDate, TotalPrice, Contract__r.Account.Name  FROM OrderItem where PricebookEntryId= &apos;&quot; &amp; {!FilteredProductsTable.firstSelectedRow.Id} &amp;&quot;&apos; AND Order.Contract.Status =&apos;Activated&apos; &quot;</expression>
    </formulas>
    <formulas>
        <name>QueryFilteredProductsFetcher</name>
        <dataType>String</dataType>
        <expression>&quot;SELECT Id, Name, Product2Id, Capacity_Desks__c, Size_m__c, UnitPrice, Floor__c, Window__c, Minimum_Price__c, Destination_Price__c , Last_Price__c, Calculated_Price__c, Product2.Type__c FROM PricebookEntry where Product2.Sub_Type__c = &apos;&quot;+ {!ProductSubtype2.value} +&quot;&apos; AND Product2.Location__c =  &apos;&quot; + {!recordId.Location__c}+&quot;&apos;&quot;</expression>
    </formulas>
    <formulas>
        <name>QueryOrderLinesAvailebilityCurrentFilteredProduct</name>
        <dataType>String</dataType>
        <expression>&quot;SELECT Id, UnitPrice, Quantity, Access_Type__c, Account_Contract__c, EndDate, ServiceDate, TotalPrice, Contract__r.Account.Name  FROM OrderItem where PricebookEntryId= &apos;&quot; &amp; {!FilteredProductsTable.firstSelectedRow.Id} &amp;&quot;&apos; AND Order.Contract.Status =&apos;Activated&apos; AND EndDate &gt; &quot; &amp; TEXT({!Entry_Date}) &amp; &quot; AND ServiceDate &lt; &quot; &amp; TEXT({!End_Date}) &amp;&quot; &quot;</expression>
    </formulas>
    <formulas>
        <name>QueryPackageCurrentProducts</name>
        <dataType>String</dataType>
        <expression>&quot;SELECT Id, Type__c, Access_Type__c, End_date__c, Entry_Date__c , Quantity , TotalPrice, PricebookEntryId, Capicity_Desks__c, Description, End_Date_Time__c, Entry_Date_Time__c, ListPrice, Name, Product_Name__c, Product2.Capacity_Desks__c, Product2.Floor__c, Product2.Size_m2__c, Product2.Sub_Type__c, Temporary__c, ServiceDate, UnitPrice  FROM OpportunityLineItem where OpportunityId = &apos;&quot; &amp; {!recordId.Id} &amp; &quot;&apos; AND Access_Type__c != &apos;&quot; &amp; {!RemoveProductAction.Results.Flow__InterviewGuid} &amp;&quot;&apos;&quot;</expression>
    </formulas>
    <formulas>
        <name>ReadOnlyCheckForMonthly</name>
        <dataType>Boolean</dataType>
        <expression>{!FormulaCurrentDeskCount} &gt; 75</expression>
    </formulas>
    <formulas>
        <name>sdss</name>
        <dataType>Boolean</dataType>
        <expression>{!FormulaCurrentDeskCount}&lt;75</expression>
    </formulas>
    <formulas>
        <name>ValidationForEntryDate</name>
        <dataType>String</dataType>
        <expression>IF(
    {!FormulaCurrentDeskCount} &gt; 75, 
    &quot;Choosing this product will exceed the cap of 75 desks for monthly products, therefore you cannot continue&quot;, 
    &quot;The date is not in the range of the opportunity.&quot;
)</expression>
    </formulas>
    <interviewLabel>Package Builder - Opporunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Package Builder - Opporunity</label>
    <loops>
        <name>Loop_Current_product_List</name>
        <label>Loop Current product List</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Current_Products_List</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_desk_count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Current_Products_List</name>
        <label>Get Current Products List</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Current_product_List</targetReference>
        </connector>
        <filterLogic>3 AND 4 AND (1 OR 2)</filterLogic>
        <filters>
            <field>Access_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Periodic</stringValue>
            </value>
        </filters>
        <filters>
            <field>Access_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Monthly</stringValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Temporary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Add_Products</name>
        <label>Add Products</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back To Package</backButtonLabel>
        <connector>
            <targetReference>Create_Products</targetReference>
        </connector>
        <fields>
            <name>FilteredProductsFetcher</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>PricebookEntry</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>S</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>joshdaymentlabs:dataFetcher</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName1</name>
                <value>
                    <stringValue>PricebookEntry</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queryString</name>
                <value>
                    <elementReference>QueryFilteredProductsFetcher</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PBFilteredOpportunityFetcher</name>
            <dataTypeMappings>
                <typeName>S</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OpportunityLineItem</typeValue>
            </dataTypeMappings>
            <extensionName>joshdaymentlabs:dataFetcher</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName1</name>
                <value>
                    <stringValue>OpportunityLineItem</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queryString</name>
                <value>
                    <elementReference>QueryFilteredOpprotunities</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AvailebilityCheckOnAsset</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OrderItem</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>S</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>joshdaymentlabs:dataFetcher</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName1</name>
                <value>
                    <stringValue>OrderItem</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queryString</name>
                <value>
                    <elementReference>QueryOrderLinesAvailebilityCurrentFilteredProduct</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FilteredOrderesFetcher</name>
            <dataTypeMappings>
                <typeName>S</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OrderItem</typeValue>
            </dataTypeMappings>
            <extensionName>joshdaymentlabs:dataFetcher</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName1</name>
                <value>
                    <stringValue>OrderItem</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queryString</name>
                <value>
                    <elementReference>QueryFilteredOrders</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Choose_Product</name>
            <fieldText>Choose Product</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Choose_Product_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>productType</name>
                    <extensionName>c:fsc_quickChoiceFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>displayMode</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputMode</name>
                        <value>
                            <stringValue>Picklist Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldName</name>
                        <value>
                            <stringValue>Product_Type__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordTypeId</name>
                        <value>
                            <elementReference>OpportunityrecordTypeId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>masterLabel</name>
                        <value>
                            <stringValue>Product Type</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>ProductSubtype2</name>
                    <extensionName>c:fsc_quickChoiceFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>displayMode</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputMode</name>
                        <value>
                            <stringValue>Picklist Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldName</name>
                        <value>
                            <stringValue>Product_Sub_Type__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordTypeId</name>
                        <value>
                            <elementReference>OpportunityrecordTypeId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>dependentPicklist</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_dependentPicklist</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>controllingPicklistValue</name>
                        <value>
                            <elementReference>productType.value</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>masterLabel</name>
                        <value>
                            <stringValue>Product Sub-Type </stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>FilteredProductsTable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>PricebookEntry</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Products</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>FilteredProductsFetcher.retrievedRecords</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-8c06&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Product Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Floor__c&quot;,&quot;guid&quot;:&quot;column-0358&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Floor&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Minimum_Price__c&quot;,&quot;guid&quot;:&quot;column-7f56&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Minimum Price&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Capacity_Desks__c&quot;,&quot;guid&quot;:&quot;column-ee5f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Capacity (Desks)&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;UnitPrice&quot;,&quot;guid&quot;:&quot;column-096d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;List Price&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Calculated_Price__c&quot;,&quot;guid&quot;:&quot;column-758e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Calculated Price&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Add_Products_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_Products_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProductAccessType</name>
                    <extensionName>c:fsc_quickChoiceFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>displayMode</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputMode</name>
                        <value>
                            <stringValue>Picklist Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldName</name>
                        <value>
                            <stringValue>Product_Access_Type__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordTypeId</name>
                        <value>
                            <elementReference>OpportunityrecordTypeId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>dependentPicklist</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_dependentPicklist</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>controllingPicklistValue</name>
                        <value>
                            <elementReference>ProductSubtype2.value</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>masterLabel</name>
                        <value>
                            <stringValue>Access Type</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Entry_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>recordId.Start_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Entry Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Not a valid date&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF( NOT(ISNULL({!recordId.Start_Date__c})),  {!Entry_Date}&gt;={!recordId.Start_Date__c}, TRUE)</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ProductAccessType.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Periodic, Monthly, Daily, One-Time</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>End_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>recordId.End_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Not a valid date&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF(
    {!ProductAccessType.value} != &apos;Periodic&apos;,
    TRUE,
    IF(
        NOT(ISPICKVAL({!recordId.Contract_Type__c}, &apos;Periodic&apos;)),
        TRUE,
        IF(
            {!End_Date} &lt;= {!recordId.End_Date__c},
            TRUE,
            FALSE
        )
    )
)</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ProductAccessType.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Periodic</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ErrorMessageDateFields</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;The dates are not within range of the opportunity &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!recordId.Start_Date__c} - {!recordId.End_Date__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>1 OR (2 AND 3)</conditionLogic>
                        <conditions>
                            <leftValueReference>End_Date</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <elementReference>recordId.End_Date__c</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Entry_Date</leftValueReference>
                            <operator>LessThan</operator>
                            <rightValue>
                                <elementReference>recordId.Start_Date__c</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>recordId.Start_Date__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Entry_Date_Time</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Entry Date Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ProductAccessType.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Hourly</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>End_Date_Time</name>
                    <dataType>DateTime</dataType>
                    <fieldText>End Date Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ProductAccessType.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Hourly</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_Products_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Quantity</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>1.0</numberValue>
                    </defaultValue>
                    <fieldText>Quantity</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>1 OR (2 AND 3)</conditionLogic>
                        <conditions>
                            <leftValueReference>ProductAccessType.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>One-Time, Daily Multi-Pass, Hourly Multi-Pass</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>ProductAccessType.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Periodic, Monthly</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>productType.value</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Standard Products</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Notes</name>
                    <dataType>String</dataType>
                    <fieldText>Notes</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Temporary</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Temporary</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>productType.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Standard Products</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>DisplayCalculatedPriceForPeriodic</name>
                    <fieldText>&lt;p&gt;The contract term in months: {!PeriodicCalculateTerm}&lt;/p&gt;&lt;p&gt;The calculated total price is: {!PeriodicCalculatedPrice}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ProductAccessType.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Periodic</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>DisplayDeskCountErrorForMonthly</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Current Desk Count Excluding Temporary:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!FormulaCurrentDeskCount}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Be careful not to exceed the count limit of 75 desks for monthly contracts&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recordId.Contract_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Monthly</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>DisplayTotalPrice</name>
                    <fieldText>&lt;p&gt;The calculated quantity is:&lt;/p&gt;&lt;p&gt;{!FormulaAccessTypeOndemandQuantity}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The calculated total price is:&lt;/p&gt;&lt;p&gt;{!FormulaAccessTypeOndemandPrice}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ProductAccessType.value</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Periodic, Monthly</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>DisplayStandardProductAvialebilityCheck</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(255, 0, 0);&quot;&gt;{!AvailbilityCheckMessgae}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>productType.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Standard Products</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>FilteredProductsTable.firstSelectedRow.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Check_availability</name>
            <fieldText>Check availability</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Check_availability_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OrderProductTable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>OrderItem</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Contracts Availability Check</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>FilteredOrderesFetcher.retrievedRecords</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Account_Contract__c&quot;,&quot;guid&quot;:&quot;column-47d4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Contract&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Access_Type__c&quot;,&quot;guid&quot;:&quot;column-2db2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Access Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ServiceDate&quot;,&quot;guid&quot;:&quot;column-87c5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Start Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;EndDate&quot;,&quot;guid&quot;:&quot;column-e6bb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;End Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;TotalPrice&quot;,&quot;guid&quot;:&quot;column-09e7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Total Price&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>OpporutnityProductTable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>OpportunityLineItem</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Opportunities Availability Check</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>PBFilteredOpportunityFetcher.retrievedRecords</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Opportunity__c&quot;,&quot;guid&quot;:&quot;column-64cb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Opportunity&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Access_Type__c&quot;,&quot;guid&quot;:&quot;column-50d8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Access Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Entry_Date__c&quot;,&quot;guid&quot;:&quot;column-bf05&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Entry Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;End_date__c&quot;,&quot;guid&quot;:&quot;column-3177&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;End date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;TotalPrice&quot;,&quot;guid&quot;:&quot;column-a6a0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Total Price&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Owner_Name__c&quot;,&quot;guid&quot;:&quot;column-2631&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Owner Name&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>productType.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Standard Products, On Demand Products</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ProductSubtype2.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Parking</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Add Product</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Current_Package</name>
        <label>Current Package</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actions>
            <name>RemoveProductAction</name>
            <actionName>Opportunity_Package_Builder_Manage_Opportunity_Products</actionName>
            <actionType>flow</actionType>
            <inputParameters>
                <name>InputVarRemoveProductRecord</name>
                <value>
                    <elementReference>PackageCurrentProductsTable.firstSelectedRow</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>VarOpporutnityId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <label>Opportunity Package Builder - Manage Opportunity Products</label>
            <nameSegment>Opportunity_Package_Builder_Manage_Opportunity_Products</nameSegment>
        </actions>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Current_Products_List</targetReference>
        </connector>
        <fields>
            <name>CurrentProductfetcher</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OpportunityLineItem</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>S</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>joshdaymentlabs:dataFetcher</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName1</name>
                <value>
                    <stringValue>OpportunityLineItem</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queryString</name>
                <value>
                    <elementReference>QueryPackageCurrentProducts</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Current_Package_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Current_Package_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PackageCurrentProductsTable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>OpportunityLineItem</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Product Details&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!FormulaProductDetails}&lt;/p&gt;&lt;p&gt;{!PackageCurrentProductsTable.firstSelectedRow}&lt;/p&gt;</fieldText>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Package</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>CurrentProductfetcher.retrievedRecords</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Product_Name__c&quot;,&quot;guid&quot;:&quot;column-73b8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Product Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Access_Type__c&quot;,&quot;guid&quot;:&quot;column-8aef&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Access Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Type__c&quot;,&quot;guid&quot;:&quot;column-8999&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Type&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;UnitPrice&quot;,&quot;guid&quot;:&quot;column-35b7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Sales Price&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;TotalPrice&quot;,&quot;guid&quot;:&quot;column-ad0d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Total Price&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Current_Package_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CurrentpProductDetails</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Product Details&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Desks #:&lt;/strong&gt; {!PackageCurrentProductsTable.firstSelectedRow.Capicity_Desks__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Quantity:&lt;/strong&gt; {!PackageCurrentProductsTable.firstSelectedRow.Quantity}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Temporary: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!PackageCurrentProductsTable.firstSelectedRow.Temporary__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Floor: &lt;/strong&gt;{!PackageCurrentProductsTable.firstSelectedRow.Product2.Floor__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Size:   &lt;/strong&gt;{!PackageCurrentProductsTable.firstSelectedRow.Product2.Size_m2__c}&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Window: &lt;/strong&gt;{!PackageCurrentProductsTable.firstSelectedRow.Product2.Window__c}&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Notes: &lt;/strong&gt;{!PackageCurrentProductsTable.firstSelectedRow.Description}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Date range:  &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!PackageCurrentProductsTable.firstSelectedRow.Entry_Date_Time__c}&lt;/p&gt;&lt;p&gt;{!PackageCurrentProductsTable.firstSelectedRow.Entry_Date__c}&amp;nbsp;- &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!PackageCurrentProductsTable.firstSelectedRow.End_date__c}&lt;/span&gt;{!PackageCurrentProductsTable.firstSelectedRow.End_Date_Time__c}  &lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>RemoveProduct</name>
                    <extensionName>flowruntime:actionButtonField</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Remove Product From Package</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>errorMessage</name>
                        <value>
                            <elementReference>RemoveProductAction.ErrorMessage</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isSuccess</name>
                        <value>
                            <elementReference>RemoveProductAction.IsSuccess</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inProgress</name>
                        <value>
                            <elementReference>RemoveProductAction.InProgress</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>PackageCurrentProductsTable.firstSelectedRow.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>DeleteActionErrorMessage</name>
                    <fieldText>&lt;p&gt;{!DeleteErrorMessageParse}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AvilebilityCurrentProductTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OrderItem</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Availability </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>AvailebilityCurrentProductfetcher.retrievedRecords</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Account_Contract__c&quot;,&quot;guid&quot;:&quot;column-a265&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Contract&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Access_Type__c&quot;,&quot;guid&quot;:&quot;column-af5c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Access Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ServiceDate&quot;,&quot;guid&quot;:&quot;column-2452&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Start Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;EndDate&quot;,&quot;guid&quot;:&quot;column-4a36&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;End Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;TotalPrice&quot;,&quot;guid&quot;:&quot;column-eee7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Total Price&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>PackageCurrentProductsTable.firstSelectedRow.Id</leftValueReference>
                    <operator>NotEqualTo</operator>
                </conditions>
                <conditions>
                    <leftValueReference>PackageCurrentProductsTable.firstSelectedRow.Access_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Monthly, Periodic</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AvailebilityCurrentProductfetcher</name>
            <dataTypeMappings>
                <typeName>S</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OrderItem</typeValue>
            </dataTypeMappings>
            <extensionName>joshdaymentlabs:dataFetcher</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName1</name>
                <value>
                    <stringValue>OrderItem</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queryString</name>
                <value>
                    <elementReference>QueryAvailebilityCurrentProducts</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Add Products</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <triggers>
            <eventName>flow__screenfieldclick</eventName>
            <eventSource>RemoveProduct</eventSource>
            <handlers>
                <screenActionName>RemoveProductAction</screenActionName>
            </handlers>
        </triggers>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Current_Package</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Products</name>
        <label>Create Products</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>REfreshPage</targetReference>
        </connector>
        <flowName>Opportunity_Package_Builder_Manage_Opportunity_Products</flowName>
        <inputAssignments>
            <name>VarAccessType</name>
            <value>
                <elementReference>ProductAccessType.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarDeskQuantity</name>
            <value>
                <elementReference>FilteredProductsTable.firstSelectedRow.Capacity_Desks__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarEndDate</name>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarEndDateTime</name>
            <value>
                <elementReference>End_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarEntryDate</name>
            <value>
                <elementReference>Entry_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarEntryDateTime</name>
            <value>
                <elementReference>Entry_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarNotes</name>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarOpporutnityId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarPrice</name>
            <value>
                <elementReference>FilteredProductsTable.firstSelectedRow.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarProductEntryId</name>
            <value>
                <elementReference>FilteredProductsTable.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarProductId</name>
            <value>
                <elementReference>FilteredProductsTable.firstSelectedRow.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarQuantity</name>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarTemporary</name>
            <value>
                <elementReference>FormulaTemporary</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>DeskCurrentCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
