force-app/main/default/flows/Package_Builder_Quote_Products.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <formulas>
        <name>BuilderScreenEntryTableLabel</name>
        <dataType>String</dataType>
        <expression> {!ProductSubType.value}  &amp; &quot; List&quot;</expression>
    </formulas>
    <formulas>
        <name>FormulaRecrodTypeId</name>
        <dataType>String</dataType>
        <expression>{!Get_Opportunity.RecordTypeId}</expression>
    </formulas>
    <formulas>
        <name>QueryBuilderScreenCurrentProductsFetcher</name>
        <dataType>String</dataType>
        <expression>IF(
    AND(
        ISBLANK({!Quote_Package_Builder_Add_Remove_Quote_Products.Results.LastAddedDateTime}),
        ISBLANK({!Quote_Package_Builder_Remove_Quote_Products.Results.VarLastDeletedDateTime})
    ),
    {!QueryInitialTableCurrentProducts},
    IF(
        AND(
            NOT(ISBLANK({!Quote_Package_Builder_Add_Remove_Quote_Products.Results.LastAddedDateTime})),
            ISBLANK({!Quote_Package_Builder_Remove_Quote_Products.Results.VarLastDeletedDateTime})
        ),
        {!Quote_Package_Builder_Add_Remove_Quote_Products.Results.QueryForFetcher},
        IF(
            AND(
                ISBLANK({!Quote_Package_Builder_Add_Remove_Quote_Products.Results.LastAddedDateTime}),
                NOT(ISBLANK({!Quote_Package_Builder_Remove_Quote_Products.Results.VarLastDeletedDateTime}))
            ),
            {!Quote_Package_Builder_Remove_Quote_Products.Results.QueryForFetcher},
            IF(
      {!Quote_Package_Builder_Add_Remove_Quote_Products.Results.LastAddedDateTime} &gt; {!Quote_Package_Builder_Remove_Quote_Products.Results.VarLastDeletedDateTime},
                {!Quote_Package_Builder_Add_Remove_Quote_Products.Results.QueryForFetcher},
                {!Quote_Package_Builder_Remove_Quote_Products.Results.QueryForFetcher}
            )
        )
    )
)</expression>
    </formulas>
    <formulas>
        <name>QueryBuilderScreenEnrtyFetcher</name>
        <dataType>String</dataType>
        <expression>&quot;SELECT Id, Name, Product2Id, Capacity_Desks__c, Size_m__c, UnitPrice FROM PricebookEntry where Product2.Sub_Type__c = &apos;&quot; + {!ProductSubType.value}  +&quot;&apos; AND Product2.Location__c =  &apos;&quot; +{!Get_Opportunity.Location__c}+&quot;&apos;&quot;</expression>
    </formulas>
    <formulas>
        <name>QueryInitialTableCurrentProducts</name>
        <dataType>String</dataType>
        <expression>&quot;SELECT Id, Product_Name__c	,  Acces_Type__c, End_date__c, Entry_Date__c , Quantity , TotalPrice  FROM QuoteLineItem where QuoteId = &apos;&quot; &amp; {!recordId.Id} &amp;&quot;&apos; &quot;</expression>
    </formulas>
    <formulas>
        <name>QueryPackageBuilderActiveOpportunties</name>
        <dataType>String</dataType>
        <expression>&quot;SELECT Id, Access_Type__c, End_date__c, Entry_Date__c, Opportunity__c, Quantity, TotalPrice  FROM OpportunityLineItem where PricebookEntryId= &apos;&quot; &amp; {!ChoiceProductEnrtyTable.firstSelectedRow.Id} &amp;&quot;&apos; AND Opportunity.StageName NOT IN (&apos;Closed Won&apos;, &apos;Closed Lost&apos;) AND OpportunityId != &apos;&quot;  &amp; {!Get_Opportunity.Id} &amp;&quot;&apos;&quot;</expression>
    </formulas>
    <formulas>
        <name>QueryPackageBuilderActiveOrders</name>
        <dataType>String</dataType>
        <expression>&quot;SELECT Id, UnitPrice, Quantity, Access_Type__c, Account_Contract__c, EndDate, ServiceDate, TotalPrice, Contract__r.Account.Name  FROM OrderItem where PricebookEntryId= &apos;&quot; &amp; {!ChoiceProductEnrtyTable.firstSelectedRow.Id} &amp;&quot;&apos; AND Order.Contract.Status =&apos;Activated&apos; &quot;</expression>
    </formulas>
    <interviewLabel>Package Builder - Quote Products {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Package Builder - Quote Products</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PackageBuilderScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>PackageBuilderScreen</name>
        <label>Quote Package Builder</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actions>
            <name>Quote_Package_Builder_Add_Remove_Quote_Products</name>
            <actionName>Quote_Package_Builder_Add_Remove_Quote_Products</actionName>
            <actionType>flow</actionType>
            <inputParameters>
                <name>VarAccessType</name>
                <value>
                    <elementReference>ProductAccessType.value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>VarDeskQuantity</name>
                <value>
                    <elementReference>ChoiceProductEnrtyTable.firstSelectedRow.Capacity_Desks__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>VarEndDate</name>
                <value>
                    <elementReference>End_Date</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>VarEndDateTime</name>
                <value>
                    <elementReference>End_Date_Time</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>VarEntryDate</name>
                <value>
                    <elementReference>Entry_Date</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>VarEntryDateTime</name>
                <value>
                    <elementReference>Entry_Date_Time</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>VarNotes</name>
                <value>
                    <elementReference>Notes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>VarOpporutnityId</name>
                <value>
                    <elementReference>Get_Opportunity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>VarPrice</name>
                <value>
                    <elementReference>Price</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>VarProductEntryId</name>
                <value>
                    <elementReference>ChoiceProductEnrtyTable.firstSelectedRow.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>VarProductId</name>
                <value>
                    <elementReference>ChoiceProductEnrtyTable.firstSelectedRow.Product2Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>VarQuantity</name>
                <value>
                    <elementReference>Quantity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>VarQuoteId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <label>Quote Package Builder - Add/Remove Quote Products</label>
            <nameSegment>Quote_Package_Builder_Add_Remove_Quote_Products</nameSegment>
        </actions>
        <actions>
            <name>Quote_Package_Builder_Remove_Quote_Products</name>
            <actionName>Quote_Package_Builder_Add_Remove_Quote_Products</actionName>
            <actionType>flow</actionType>
            <inputParameters>
                <name>VarQuoteId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>VarQuoteProductRemoval</name>
                <value>
                    <elementReference>BuilderScreenAddedProductsTable.selectedRows</elementReference>
                </value>
            </inputParameters>
            <label>Quote Package Builder - Add/Remove Quote Products</label>
            <nameSegment>Quote_Package_Builder_Add_Remove_Quote_Products</nameSegment>
        </actions>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>BuilderScreenProductsSection</name>
            <fieldText>Choose Product</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>BuilderScreenProductsSection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProductTypePicklist</name>
                    <extensionName>c:fsc_quickChoiceFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>displayMode</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputMode</name>
                        <value>
                            <stringValue>Picklist Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldName</name>
                        <value>
                            <stringValue>Product_Type__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>masterLabel</name>
                        <value>
                            <stringValue>Product Type</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordTypeId</name>
                        <value>
                            <elementReference>FormulaRecrodTypeId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>ProductSubType</name>
                    <extensionName>c:fsc_quickChoiceFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>displayMode</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputMode</name>
                        <value>
                            <stringValue>Picklist Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldName</name>
                        <value>
                            <stringValue>Product_Sub_Type__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>dependentPicklist</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_dependentPicklist</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>controllingPicklistValue</name>
                        <value>
                            <elementReference>ProductTypePicklist.value</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordTypeId</name>
                        <value>
                            <elementReference>FormulaRecrodTypeId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>masterLabel</name>
                        <value>
                            <stringValue>Product Sub Type</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>ProductAccessType</name>
                    <extensionName>c:fsc_quickChoiceFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>displayMode</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputMode</name>
                        <value>
                            <stringValue>Picklist Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldName</name>
                        <value>
                            <stringValue>Product_Access_Type__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordTypeId</name>
                        <value>
                            <elementReference>FormulaRecrodTypeId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>dependentPicklist</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_dependentPicklist</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>controllingPicklistValue</name>
                        <value>
                            <elementReference>ProductSubType.value</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>masterLabel</name>
                        <value>
                            <stringValue>Access Type</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BuilderScreenProductsSection_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Entry_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>recordId.Opportunity.Start_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Entry Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ProductAccessType.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Monthly, Periodic, Daily, One-Time</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>ChoiceProductEnrtyTable.firstSelectedRow.Id</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>End_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>recordId.Opportunity.End_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ProductAccessType.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Periodic</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>ChoiceProductEnrtyTable.firstSelectedRow.Id</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Entry_Date_Time</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Entry Date Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ProductAccessType.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Series, Hourly</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>ChoiceProductEnrtyTable.firstSelectedRow.Id</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>End_Date_Time</name>
                    <dataType>DateTime</dataType>
                    <fieldText>End Date Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ProductAccessType.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Series, Hourly</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>ChoiceProductEnrtyTable.firstSelectedRow.Id</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Quantity</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>1.0</numberValue>
                    </defaultValue>
                    <fieldText>Quantity</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ProductAccessType.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Hourly Multi-Pass, Daily Multi-Pass, One-Time</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>ChoiceProductEnrtyTable.firstSelectedRow.Id</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Price</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>ChoiceProductEnrtyTable.firstSelectedRow.UnitPrice</elementReference>
                    </defaultValue>
                    <fieldText>Price</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ChoiceProductEnrtyTable.firstSelectedRow.Id</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Notes</name>
                    <defaultValue>
                        <stringValue>Enter text here</stringValue>
                    </defaultValue>
                    <fieldText>Notes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ChoiceProductEnrtyTable.firstSelectedRow.Id</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>BuilderScreenAddProduct</name>
                    <extensionName>flowruntime:actionButtonField</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Add product</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>errorMessage</name>
                        <value>
                            <elementReference>Quote_Package_Builder_Add_Remove_Quote_Products.ErrorMessage</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isSuccess</name>
                        <value>
                            <elementReference>Quote_Package_Builder_Add_Remove_Quote_Products.IsSuccess</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ChoiceProductEnrtyTable.firstSelectedRow.Id</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>AddActionErrorMessage</name>
                    <fieldText>&lt;p&gt;{!Quote_Package_Builder_Add_Remove_Quote_Products.Results.VarErrorMessage}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BuilderScreenProductsSection_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BuilderScreenEntryProductFetcher</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>PricebookEntry</typeValue>
                    </dataTypeMappings>
                    <dataTypeMappings>
                        <typeName>S</typeName>
                        <typeValue>Account</typeValue>
                    </dataTypeMappings>
                    <extensionName>joshdaymentlabs:dataFetcher</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName1</name>
                        <value>
                            <stringValue>PricebookEntry</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>queryString</name>
                        <value>
                            <elementReference>QueryBuilderScreenEnrtyFetcher</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>ChoiceProductEnrtyTable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>PricebookEntry</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <elementReference>BuilderScreenEntryTableLabel</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>BuilderScreenEntryProductFetcher.retrievedRecords</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-3c80&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Product Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Capacity_Desks__c&quot;,&quot;guid&quot;:&quot;column-dcd6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Desks&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Capacity (Desks)&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Size_m__c&quot;,&quot;guid&quot;:&quot;column-87d2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Size&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Size (m²)&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;UnitPrice&quot;,&quot;guid&quot;:&quot;column-bdc3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Price per desk&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;List Price&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>BuilderScreenProductAvailability</name>
            <fieldText>Product Availability</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>BuilderScreenProductAvailability_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BuilderScreenOrderListFetcher</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>OrderItem</typeValue>
                    </dataTypeMappings>
                    <dataTypeMappings>
                        <typeName>S</typeName>
                        <typeValue>Account</typeValue>
                    </dataTypeMappings>
                    <extensionName>joshdaymentlabs:dataFetcher</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName1</name>
                        <value>
                            <stringValue>OrderItem</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>queryString</name>
                        <value>
                            <elementReference>QueryPackageBuilderActiveOrders</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>BuilderScreenOrderAvailabilityList</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>OrderItem</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Product in Active Orders</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>BuilderScreenOrderListFetcher.retrievedRecords</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Account_Contract__c&quot;,&quot;guid&quot;:&quot;column-edda&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Contract&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Contract&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Access_Type__c&quot;,&quot;guid&quot;:&quot;column-9bcc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Access Type&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Access Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ServiceDate&quot;,&quot;guid&quot;:&quot;column-2a55&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Entry Date&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Start Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;EndDate&quot;,&quot;guid&quot;:&quot;column-6b75&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;End Date&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;End Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;TotalPrice&quot;,&quot;guid&quot;:&quot;column-454c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Total Price&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Total Price&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BuilderScreenProductAvailability_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BuilderScreenOppoListFetcher</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>OpportunityLineItem</typeValue>
                    </dataTypeMappings>
                    <dataTypeMappings>
                        <typeName>S</typeName>
                        <typeValue>Account</typeValue>
                    </dataTypeMappings>
                    <extensionName>joshdaymentlabs:dataFetcher</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName1</name>
                        <value>
                            <stringValue>OpportunityLineItem</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>queryString</name>
                        <value>
                            <elementReference>QueryPackageBuilderActiveOpportunties</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>BuilderScreenOppoAvailabilityList</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>OpportunityLineItem</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Product in Active Opportunities </stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>BuilderScreenOppoListFetcher.retrievedRecords</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Opportunity__c&quot;,&quot;guid&quot;:&quot;column-3265&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Opportunity&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Access_Type__c&quot;,&quot;guid&quot;:&quot;column-e167&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Access Type&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Access Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Entry_Date__c&quot;,&quot;guid&quot;:&quot;column-9eab&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Entry Date&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Entry Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;End_date__c&quot;,&quot;guid&quot;:&quot;column-aa1d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;End Date&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;End date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;TotalPrice&quot;,&quot;guid&quot;:&quot;column-2ca7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Total Price&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Total Price&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ProductSubType.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Office, Suite, Hot Desk, Rent (price/m2)</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BuilderScreenCurrentProducts</name>
            <fieldText>Product In Package</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>BuilderScreenCurrentProducts_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BuilderScreenRemoveProduct</name>
                    <extensionName>flowruntime:actionButtonField</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Remove Products</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>errorMessage</name>
                        <value>
                            <elementReference>Quote_Package_Builder_Remove_Quote_Products.ErrorMessage</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isSuccess</name>
                        <value>
                            <elementReference>Quote_Package_Builder_Remove_Quote_Products.IsSuccess</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>RemovalActionErrorMessage</name>
                    <fieldText>&lt;p&gt;{!Quote_Package_Builder_Remove_Quote_Products.Results.VarErrorMessage}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BuilderScreenCurrentProducts_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BuilderScreenAddedProductsFetcher</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>QuoteLineItem</typeValue>
                    </dataTypeMappings>
                    <dataTypeMappings>
                        <typeName>S</typeName>
                        <typeValue>Account</typeValue>
                    </dataTypeMappings>
                    <extensionName>joshdaymentlabs:dataFetcher</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName1</name>
                        <value>
                            <stringValue>QuoteLineItem</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>queryString</name>
                        <value>
                            <elementReference>QueryBuilderScreenCurrentProductsFetcher</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>BuilderScreenAddedProductsTable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>QuoteLineItem</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Added Products </stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>BuilderScreenAddedProductsFetcher.retrievedRecords</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Product_Name__c&quot;,&quot;guid&quot;:&quot;column-1eca&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Product Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Acces_Type__c&quot;,&quot;guid&quot;:&quot;column-e6b4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Access Type&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Access Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;TotalPrice&quot;,&quot;guid&quot;:&quot;column-1fde&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Total Price&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
        <triggers>
            <eventName>flow__screenfieldclick</eventName>
            <eventSource>BuilderScreenAddProduct</eventSource>
            <handlers>
                <screenActionName>Quote_Package_Builder_Add_Remove_Quote_Products</screenActionName>
            </handlers>
        </triggers>
        <triggers>
            <eventName>flow__screenfieldclick</eventName>
            <eventSource>BuilderScreenRemoveProduct</eventSource>
            <handlers>
                <screenActionName>Quote_Package_Builder_Remove_Quote_Products</screenActionName>
            </handlers>
        </triggers>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>VarOpportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
