force-app/main/default/flows/Product_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Prepare_Location_Update</name>
        <label>Prepare Location Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varLocation.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Location__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLocation.Total_Desks__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalDesksAtLocation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_Update_Location</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Did_We_Find_Products</name>
        <label>Did We Find Products?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Products_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Products_From_Same_Location</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sum_Capacity_Desks</targetReference>
            </connector>
            <label>Yes, Products found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Update_Location</name>
        <label>Should Update Location?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YEs_Update_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLocation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Location</targetReference>
            </connector>
            <label>YEs, Update Location</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Update_Location_Desk_Count</name>
        <label>Should Update Location Desk Count?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_New_or_Updated_Product</name>
            <conditionLogic>( 1 AND 2 AND 3 ) OR ( 4 AND 5 )</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Location__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Capacity_Desks__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Capacity_Desks__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Prior_Location_Not_Null</targetReference>
            </connector>
            <label>Yes, location updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Update_New_Location</name>
        <label>Should Update New Location?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Location__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Products_From_Same_Location</targetReference>
            </connector>
            <label>Yes, New or Updated Product</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Product After Save. {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product After Save.</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Products_From_Same_Location</name>
        <label>Get Products From Same Location</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_We_Find_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Location__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Location</name>
        <label>Update Location</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>varLocation</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Should_Update_Location_Desk_Count</targetReference>
        </connector>
        <object>Product2</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <transforms>
        <name>Sum_Capacity_Desks</name>
        <label>Sum Capacity Desks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Prepare_Location_Update</targetReference>
        </connector>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Get_Products_From_Same_Location</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>aggregationFieldReference</name>
                    <value>
                        <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;Product2&quot;,&quot;fieldReferences&quot;:[&quot;Capacity_Desks__c&quot;],&quot;elementReference&quot;:&quot;Get_Products_From_Same_Location&quot;}</complexValue>
                        <complexValueType>FieldReference</complexValueType>
                    </value>
                </inputParameters>
                <transformType>Sum</transformType>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>TotalDesksAtLocation</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>Sum_Capacity_Desks</elementReference>
        </value>
    </variables>
    <variables>
        <name>varLocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Locations__c</objectType>
    </variables>
</Flow>
