force-app/main/default/flows/Prodcut_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_flag_active</name>
        <label>Assign flag &quot;active&quot;</label>
        <locationX>138</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>LIstFlags</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Busy</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_each_order_line_related_order_by_service_date.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_each_order_line_related_order_by_service_date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_flag_coming_soon</name>
        <label>Assign flag &quot;coming soon&quot;</label>
        <locationX>930</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>LIstFlags</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Busy soon</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_each_order_line_related_order_by_service_date.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CominSoonVarDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_each_order_line_related_order_by_service_date.ServiceDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_each_order_line_related_order_by_service_date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_flag_incoming</name>
        <label>Assign flag &quot;incoming&quot;</label>
        <locationX>402</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>LIstFlags</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_each_order_line_related_order_by_service_date.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_each_order_line_related_order_by_service_date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_flag_leaving_soon</name>
        <label>Assign flag &quot;leaving soon&quot;</label>
        <locationX>666</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>LIstFlags</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Available soon</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_each_order_line_related_order_by_service_date.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeavingSoonDate1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_each_order_line_related_order_by_service_date.EndDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_each_order_line_related_order_by_service_date</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Collection_Sort_2</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Collection Sort 2</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Records_3XX</collectionReference>
        <connector>
            <targetReference>are_there_a_order_line_item</targetReference>
        </connector>
        <limit>2</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>ServiceDate</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>are_there_a_order_line_item</name>
        <label>are there a order line item ?</label>
        <locationX>182</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <targetReference>update_products_to_available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Records_3XX</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_each_order_line_related_order_by_service_date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_order_status_in_order_item</name>
        <label>Check order status in order item</label>
        <locationX>666</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>Loop_over_each_order_line_related_order_by_service_date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_each_order_line_related_order_by_service_date.Status_Order_Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_flag_active</targetReference>
            </connector>
            <label>Active</label>
        </rules>
        <rules>
            <name>incoming</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_each_order_line_related_order_by_service_date.Status_Order_Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Incoming</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_flag_incoming</targetReference>
            </connector>
            <label>incoming</label>
        </rules>
        <rules>
            <name>leaving_soon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_each_order_line_related_order_by_service_date.Status_Order_Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Leaving soon</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_flag_leaving_soon</targetReference>
            </connector>
            <label>leaving soon</label>
        </rules>
        <rules>
            <name>coming_soon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_each_order_line_related_order_by_service_date.Status_Order_Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Coming soon</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_flag_coming_soon</targetReference>
            </connector>
            <label>coming soon</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FormulaProductState</name>
        <dataType>String</dataType>
        <expression>IF(
    AND(
        CONTAINS(SUBSTITUTE(SUBSTITUTE({!LIstFlags}, &quot;[&quot;, &quot;&quot;), &quot;]&quot;, &quot;&quot;), &quot;Busy&quot;),
        NOT(CONTAINS(SUBSTITUTE(SUBSTITUTE({!LIstFlags}, &quot;[&quot;, &quot;&quot;), &quot;]&quot;, &quot;&quot;), &quot;Busy soon&quot;))
    ),
    &quot;Busy&quot;,
    IF(
        AND(
            CONTAINS(SUBSTITUTE(SUBSTITUTE({!LIstFlags}, &quot;[&quot;, &quot;&quot;), &quot;]&quot;, &quot;&quot;), &quot;Available&quot;),
            NOT(CONTAINS(SUBSTITUTE(SUBSTITUTE({!LIstFlags}, &quot;[&quot;, &quot;&quot;), &quot;]&quot;, &quot;&quot;), &quot;Available soon&quot;))
        ),
        &quot;Available&quot;,
        SUBSTITUTE(
            SUBSTITUTE(SUBSTITUTE({!LIstFlags}, &quot;[&quot;, &quot;&quot;), &quot;]&quot;, &quot;&quot;), 
            &quot;,&quot;, 
            &quot; - &quot;
        )
    )
)</expression>
    </formulas>
    <formulas>
        <name>StatusDescription</name>
        <dataType>String</dataType>
        <expression>IF(
    BEGINS({!FormulaProductState}, &quot;Busy soon&quot;), 
    &quot;Next date of assignment : &quot; &amp; TEXT({!CominSoonVarDate}),
    IF(
        {!FormulaProductState} = &quot;Available soon&quot;, 
       &quot;End date of assignment :&quot; &amp; TEXT({!LeavingSoonDate1}),
        IF(
            {!FormulaProductState} = &quot;Available soon - Busy soon&quot;,
            &quot;Time between assignments : &quot; &amp; TEXT({!CominSoonVarDate} - {!LeavingSoonDate1}-1),
            &quot;&quot;
        )
    )
)</expression>
    </formulas>
    <interviewLabel>Prodcut Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Product Status</label>
    <loops>
        <name>Loop_over_each_order_line_related_order_by_service_date</name>
        <label>Loop over each order line related (order by ServiceDate)</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <collectionReference>Get_Records_3XX</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_order_status_in_order_item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_product</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Records_3XX</name>
        <label>get orler line related XX</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collection_Sort_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status_Order_Item__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Over</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_product</name>
        <label>Update product</label>
        <locationX>50</locationX>
        <locationY>1068</locationY>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>FormulaProductState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State_description__c</field>
            <value>
                <elementReference>StatusDescription</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_products_to_available</name>
        <label>update products to available</label>
        <locationX>314</locationX>
        <locationY>576</locationY>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Records_3XX</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard Products</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sub_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Parking spot</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sub_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Office</stringValue>
            </value>
        </filters>
        <object>Product2</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-07-28</startDate>
            <startTime>02:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CominSoonVarDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>LeavingSoonDate1</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LIstFlags</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListProductId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
