force-app/main/default/flows/test.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_flag_active</name>
        <label>Assign flag &quot;active&quot;</label>
        <locationX>264</locationX>
        <locationY>1092</locationY>
        <assignmentItems>
            <assignToReference>LIstFlags</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Busy</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_each_order_line_related_order_by_service_date.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_each_order_line_related_order_by_service_date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_flag_coming_soon</name>
        <label>Assign flag &quot;coming soon&quot;</label>
        <locationX>1056</locationX>
        <locationY>1092</locationY>
        <assignmentItems>
            <assignToReference>LIstFlags</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Busy soon</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_each_order_line_related_order_by_service_date.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CominSoonVarDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_each_order_line_related_order_by_service_date.ServiceDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_each_order_line_related_order_by_service_date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_flag_incoming</name>
        <label>Assign flag &quot;incoming&quot;</label>
        <locationX>528</locationX>
        <locationY>1092</locationY>
        <assignmentItems>
            <assignToReference>LIstFlags</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_each_order_line_related_order_by_service_date.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_each_order_line_related_order_by_service_date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_flag_leaving_soon</name>
        <label>Assign flag &quot;leaving soon&quot;</label>
        <locationX>792</locationX>
        <locationY>1092</locationY>
        <assignmentItems>
            <assignToReference>LIstFlags</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Available soon</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_each_order_line_related_order_by_service_date.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeavingSoonDate1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_each_order_line_related_order_by_service_date.EndDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_each_order_line_related_order_by_service_date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product_ids_in_variable</name>
        <label>Assign Product ids in variable</label>
        <locationX>264</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>ListProductId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_each_product.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_each_product</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Only_2_next_rows</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Only 2 next rows</label>
        <locationX>176</locationX>
        <locationY>768</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>get_orler_line_related</collectionReference>
        <connector>
            <targetReference>Loop_over_each_order_line_related_order_by_service_date</targetReference>
        </connector>
        <limit>2</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>ServiceDate</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Check_order_status_in_order_item</name>
        <label>Check order status in order item</label>
        <locationX>792</locationX>
        <locationY>984</locationY>
        <defaultConnector>
            <targetReference>Loop_over_each_order_line_related_order_by_service_date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_each_order_line_related_order_by_service_date.Status_Order_Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_flag_active</targetReference>
            </connector>
            <label>Active</label>
        </rules>
        <rules>
            <name>incoming</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_each_order_line_related_order_by_service_date.Status_Order_Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Incoming</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_flag_incoming</targetReference>
            </connector>
            <label>incoming</label>
        </rules>
        <rules>
            <name>leaving_soon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_each_order_line_related_order_by_service_date.Status_Order_Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Leaving soon</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_flag_leaving_soon</targetReference>
            </connector>
            <label>leaving soon</label>
        </rules>
        <rules>
            <name>coming_soon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_each_order_line_related_order_by_service_date.Status_Order_Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Coming soon</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_flag_coming_soon</targetReference>
            </connector>
            <label>coming soon</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FormulaProductState</name>
        <dataType>String</dataType>
        <expression>IF(
    AND(
        CONTAINS(SUBSTITUTE(SUBSTITUTE({!LIstFlags}, &quot;[&quot;, &quot;&quot;), &quot;]&quot;, &quot;&quot;), &quot;Busy&quot;),
        NOT(CONTAINS(SUBSTITUTE(SUBSTITUTE({!LIstFlags}, &quot;[&quot;, &quot;&quot;), &quot;]&quot;, &quot;&quot;), &quot;Busy soon&quot;))
    ),
    &quot;Busy&quot;,
    IF(
        AND(
            CONTAINS(SUBSTITUTE(SUBSTITUTE({!LIstFlags}, &quot;[&quot;, &quot;&quot;), &quot;]&quot;, &quot;&quot;), &quot;Available&quot;),
            NOT(CONTAINS(SUBSTITUTE(SUBSTITUTE({!LIstFlags}, &quot;[&quot;, &quot;&quot;), &quot;]&quot;, &quot;&quot;), &quot;Available soon&quot;))
        ),
        &quot;Available&quot;,
        SUBSTITUTE(
            SUBSTITUTE(SUBSTITUTE({!LIstFlags}, &quot;[&quot;, &quot;&quot;), &quot;]&quot;, &quot;&quot;), 
            &quot;,&quot;, 
            &quot; - &quot;
        )
    )
)</expression>
    </formulas>
    <formulas>
        <name>StatusDescription</name>
        <dataType>String</dataType>
        <expression>IF(
    BEGINS({!FormulaProductState}, &quot;Busy soon&quot;), 
    &quot;Time until next assignment: &quot; &amp; TEXT({!CominSoonVarDate}),
    IF(
        {!FormulaProductState} = &quot;Available soon&quot;, 
        TEXT({!LeavingSoonDate1}),
        IF(
            {!FormulaProductState} = &quot;Available soon - Busy soon&quot;,
            &quot;Time between assignments: &quot; &amp; TEXT({!CominSoonVarDate} - {!LeavingSoonDate1}-1),
            &quot;&quot;
        )
    )
)</expression>
    </formulas>
    <interviewLabel>test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>test</label>
    <loops>
        <name>Loop_over_each_order_line_related_order_by_service_date</name>
        <label>Loop over each order line related (order by ServiceDate)</label>
        <locationX>176</locationX>
        <locationY>876</locationY>
        <collectionReference>get_orler_line_related</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_order_status_in_order_item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_product</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_each_product</name>
        <label>Loop over each product</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>get_all_products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Product_ids_in_variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_orler_line_related</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_all_products</name>
        <label>get all products</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_each_product</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard Products</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sub_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Parking spot</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_orler_line_related</name>
        <label>get orler line related</label>
        <locationX>176</locationX>
        <locationY>660</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Only_2_next_rows</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ListProductId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status_Order_Item__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Over</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_product</name>
        <label>Update product</label>
        <locationX>176</locationX>
        <locationY>1368</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProductId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>FormulaProductState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State_description__c</field>
            <value>
                <elementReference>StatusDescription</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_all_products</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-07-28</startDate>
            <startTime>01:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>CominSoonVarDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>LeavingSoonDate1</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LIstFlags</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListProductId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
