force-app/main/default/flows/Voicenter_Create_New_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>CreatedNewLead</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_if_calls_are_to_specific_reps</name>
        <label>Check if calls are to specific reps</label>
        <locationX>1139</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Not Specific reps - We do not create Lead</defaultConnectorLabel>
        <rules>
            <name>Specific_reps_phone_number_Create_Lead</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.VCCCAAS__Voicenter_CDR_Call_Details__r.VCCCAAS__External_CDR_Incoming_DID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0502536676</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VCCCAAS__Voicenter_CDR_Call_Details__r.VCCCAAS__External_CDR_Incoming_DID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0504874618</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VCCCAAS__Voicenter_CDR_Call_Details__r.VCCCAAS__External_CDR_Incoming_DID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0505231089</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VCCCAAS__Voicenter_CDR_Call_Details__r.VCCCAAS__External_CDR_Incoming_DID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0505929496</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Create_new_lead_from_Voicenter</targetReference>
            </connector>
            <label>Specific reps phone number - Create Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Call_was_answered</name>
        <label>Copy 2 of Call was answered?</label>
        <locationX>1040</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Was_call_abandoned_or_not_answered</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Call_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ANSWER</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Get_newly_created_Lead_to_update</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the client(caller) hangup the call before the call is transferred to SHIDURIT - Abandoned calls -&gt; call status is CANCEL.
Else, it is a no-answer call type -&gt; all other non-answer call status types.</description>
        <name>Copy_2_of_Was_call_abandoned_or_not_answered</name>
        <label>Copy 2 of Was call abandoned or not answered?</label>
        <locationX>446</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Copy_1_of_Get_newly_created_Lead_to_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Answer</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Abandonned_Calls</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Call_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CANCEL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Get_newly_created_Lead_to_update</targetReference>
            </connector>
            <label>Copy 2 of Abandonned Calls</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_2</name>
        <label>Call was answered?</label>
        <locationX>248</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Was_call_abandoned_or_not_answered</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Call_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ANSWER</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_newly_created_Lead_to_update</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Call_was_assigned_to_specific_user</name>
        <label>If Call was assigned to specific user</label>
        <locationX>644</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Call_was_answered</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Call was NOT assigned to specific user</defaultConnectorLabel>
        <rules>
            <name>Call_was_assigned_to_specific_user</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>005J7000000EUBNIA4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_2</targetReference>
            </connector>
            <label>Call was assigned to specific user</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the client(caller) hangup the call before the call is transferred to SHIDURIT - Abandoned calls -&gt; call status is CANCEL.
Else, it is a no-answer call type -&gt; all other non-answer call status types.</description>
        <name>Was_call_abandoned_or_not_answered</name>
        <label>Was call abandoned or not answered?</label>
        <locationX>1238</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Copy_3_of_Get_newly_created_Lead_to_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Answer</defaultConnectorLabel>
        <rules>
            <name>Abandonned_Calls</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Call_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CANCEL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Copy_3_of_Get_newly_created_Lead_to_update</targetReference>
            </connector>
            <label>Abandonned Calls</label>
        </rules>
    </decisions>
    <description>Create a new lead from an unidentified caller with answer\not answer settings - With lead validation
Also we add specific reps that only for their current phone number we create new Leads - Voicenter will no longer support this flow.</description>
    <environments>Default</environments>
    <interviewLabel>Voicenter Create New Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Voicenter Create New Lead with no answer sub status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_Create_new_lead_from_Voicenter</name>
        <label>Create new lead from Voicenter</label>
        <locationX>644</locationX>
        <locationY>431</locationY>
        <assignRecordIdToReference>NewcreatedLead</assignRecordIdToReference>
        <connector>
            <targetReference>If_Call_was_assigned_to_specific_user</targetReference>
        </connector>
        <inputAssignments>
            <field>Company</field>
            <value>
                <stringValue>Need To Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <stringValue>voicenter@voicenter.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <stringValue>Voicenter New Lead From: </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.From__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.From__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New Lead</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Voicenter_Lead_Call_ID__c</field>
            <value>
                <elementReference>$Record.VCCCAAS__Voicenter_CDR_Call_Details__r.VCCCAAS__Voicenter_IVR_Unique_Id__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Copy_1_of_Get_newly_created_Lead_to_update</name>
        <label>Copy 1 of Copy 1 of Get newly created Lead to update</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Update_Created_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewcreatedLead</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Copy_3_of_Get_newly_created_Lead_to_update</name>
        <label>Copy 1 of Copy 3 of Get newly created Lead to update</label>
        <locationX>1370</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Copy_3_of_Update_Created_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewcreatedLead</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_2_of_Copy_1_of_Get_newly_created_Lead_to_update</name>
        <label>Copy 2 of Copy 1 of Get newly created Lead to update</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Copy_1_of_Update_Created_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewcreatedLead</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_2_of_Copy_3_of_Get_newly_created_Lead_to_update</name>
        <label>Copy 2 of Copy 3 of Get newly created Lead to update</label>
        <locationX>1106</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Copy_3_of_Update_Created_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewcreatedLead</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_2_of_Get_newly_created_Lead_to_update</name>
        <label>Copy 2 of Get newly created Lead to update</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Update_Created_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewcreatedLead</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_newly_created_Lead_to_update</name>
        <label>Get newly created Lead to update</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Created_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewcreatedLead</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Copy_1_of_Update_Created_Lead</name>
        <label>Copy 1 of Copy 1 of Update Created Lead</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Update_the_call_in_the_new_lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewcreatedLead</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubSource__c</field>
            <value>
                <stringValue>Abandonned Calls</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Copy_3_of_Update_Created_Lead</name>
        <label>Copy 1 of Copy 3 of Update Created Lead</label>
        <locationX>1106</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Update_the_call_in_the_new_lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewcreatedLead</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00GJ7000000E4tiMAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubSource__c</field>
            <value>
                <stringValue>Abandonned Calls</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Copy_1_of_Update_Created_Lead</name>
        <label>Copy 2 of Copy 1 of Update Created Lead</label>
        <locationX>578</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Update_the_call_in_the_new_lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewcreatedLead</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubSource__c</field>
            <value>
                <stringValue>No Answer</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Copy_3_of_Update_Created_Lead</name>
        <label>Copy 2 of Copy 3 of Update Created Lead</label>
        <locationX>1370</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Update_the_call_in_the_new_lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewcreatedLead</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00GJ7000000E4tiMAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubSource__c</field>
            <value>
                <stringValue>No Answer</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Created_Lead</name>
        <label>Copy 2 of Update Created Lead</label>
        <locationX>842</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Update_the_call_in_the_new_lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewcreatedLead</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00GJ7000000E4tiMAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubSource__c</field>
            <value>
                <stringValue>Direct calls</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Created_Lead</name>
        <label>Update Created Lead</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Update_the_call_in_the_new_lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewcreatedLead</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubSource__c</field>
            <value>
                <stringValue>Direct calls</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_call_in_the_new_lead</name>
        <label>Update the call in the new lead</label>
        <locationX>644</locationX>
        <locationY>1331</locationY>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>NewcreatedLead</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1013</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_calls_are_to_specific_reps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>call_date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>From__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>From__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>anonymous</stringValue>
            </value>
        </filters>
        <filters>
            <field>VCCCAAS__Voicenter_IVR_Unique_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CallType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inbound</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>003J700000GZd44IAD</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NewcreatedLead</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
